.content
  - can_edit = check_privilege(Privilege::MODIFY, @provider)
  = conductor_form_for @provider do |f|
    = render :partial => "form", :locals => { :form => f, :readonly => !can_edit }
    - if can_edit
      .control_group.buttons
        .input
          = f.submit :class => 'btn primary'
          = link_to _("Cancel"), providers_path, :class => 'btn'
          = link_to _("Test Connection"), edit_provider_path(@provider, :test_provider => true), :class => "btn"
          = link_to _("Delete Provider"), provider_path(@provider), :method => :delete, :confirm => _("Are you sure you want to delete this Provider?"), :class => "btn warning"
