.content
  = form_for @provider, :url => provider_path(@provider), :html => { :method => :put, :class => 'generic horizontal' } do |f|
    - can_edit = check_privilege(Privilege::MODIFY, @provider)
    = render :partial => 'form', :locals => { :form => f, :readonly => !can_edit }
    %fieldset.options
      - if can_edit
        = f.submit "#{t'providers.form.save_changes'}", :class => "submit button primary", :id => 'save'
        = link_to "#{t'providers.form.test_connection'}", edit_provider_path(@provider, :test_provider => true), :class => 'button'
        = link_to "#{t'providers.form.delete_provider'}", provider_path(@provider), :method => :delete, :confirm => t('providers.confirm_delete'), :class => "button danger", :id => "delete"
