.content
  - can_edit = check_privilege(Privilege::MODIFY, @provider)
  = conductor_form_for @provider do |f|
    = render :partial => "form", :locals => { :form => f, :readonly => !can_edit }
    - if can_edit
      .control_group.buttons
        .input
          = f.submit :class => 'btn primary'
          = link_to(I18n.t('simple_form.buttons.cancel'), providers_path, :class => 'btn')
          = link_to(I18n.t('providers.form.test_connection'), edit_provider_path(@provider, :test_provider => true), :class => "btn")
          = link_to(I18n.t('providers.form.delete_provider'), provider_path(@provider), :method => :delete, :confirm => t('providers.confirm_delete'), :class => "btn warning")
