.content
  = form_for @provider, :url => provider_path(@provider), :html => { :method => :put, :class => 'generic horizontal' } do |f|
    = render :partial => 'form', :locals => { :form => f }
    %fieldset.options
      .button-group
        = f.submit "Save Changes", :class => "submit button pill", :id => 'save'
        = link_to "Test Connection", edit_provider_path(@provider, :test_provider => true), :class => 'button pill'
        = link_to 'Delete Provider', provider_path(@provider), :method => :delete, :confirm => t('providers.confirm_delete'), :class => "button pill danger", :id => "delete"
