%fieldset
  %label.grid_4.alpha.big{ :for => "provider_name" }
    = t('.provider_name')
    %span.required
      *
  %label.grid_5.big{ :for => "provider_url" }
    = t('.provider_url')
    %span.required
      *
  %div.grid_4.omega
    = f.error_message_on :url, 'URL '
    = f.error_message_on :name, 'Name '
  = f.text_field :name, :title => t('.provider_name'), :value => @provider.name, :class => "clear grid_4 alpha"
  = f.text_field :url, :title => t('.provider_url'), :class => 'emailinput', :value => @provider.url, :class => "grid_5"
  .clear.prefix_4.grid_5.alpha.omega
    %span
      (
      %button.linkbutton.nospace{ :type => 'submit', :value => t('.test_connection'), :name => 'test_connection', :id => 'test_connection' }
        = t('.test_connection')
      )
%p.requirement
  %span.required
    *
  \-
  = t('.required_field')
