- if @provider.errors.any?
  = render 'layouts/error_messages', :object => @provider
%fieldset
  %p
    = form.label :name, t('providers.form.provider_name')
    = form.text_field :name, :title => t('providers.form.provider_name'), :value => @provider.name, :class => 'long'
  %p
    = form.label :url, t('providers.form.provider_url')
    = form.text_field :url, :title => t('providers.form.provider_url'), :value => @provider.url, :class => 'long'
  %p
    = form.label :provider_type, t('providers.form.provider_type')
    = form.select(:provider_type_id, @provider_types, :prompt => t('providers.form.select_type_of_provider'))
  %p
    = form.label :url, t('providers.form.x_deltacloud_provider')
    = form.text_field :deltacloud_provider, :title => t('providers.form.x_deltacloud_provider'), :value => @provider.deltacloud_provider, :class => 'long'
