= form.input :name
= form.input :url
= form.input :provider_type_id, :collection => @provider_type_options
= form.input :deltacloud_provider, :required => true, :wrapper_html => { :id => 'deltacloud_provider_input_wrapper' }

%fieldset#x-deltacloud-provider-legend
  %legend= _("Legend for X-Deltacloud-Provider")
  - @labeled_provider_types.each do |type|
    = form.input :provider_type, :as => 'informative', :text => type[:label], :label => type[:name], :input_html => { :class => type[:id] }

:javascript
  function updateXDeltacloudProviderLabel() {
    var selected_id = $('#provider_provider_type_id option:selected').val();

    if(selected_id) {
      var label = $('#x-deltacloud-provider-legend .' + selected_id).text();
      $('label[for=provider_deltacloud_provider]').text(label);
      $('#deltacloud_provider_input_wrapper').toggle(label.length !== 0);
    } else {
      $('label[for=provider_deltacloud_provider]').text('');
      $('#deltacloud_provider_input_wrapper').hide();
    }
  }

  $('#provider_provider_type_id').change(updateXDeltacloudProviderLabel);
  updateXDeltacloudProviderLabel();
  $('#x-deltacloud-provider-legend').hide();
