%section.content-section.providers
  %header
    %h2 Providers
    %span.label.badge.dark.count= @providers.length

  .content
    - content_for :form_header do
      %li= restful_submit_tag "Delete", "destroy", multi_destroy_providers_path, 'DELETE', :id => 'delete_button', :class => 'button danger'

    = filter_table(@header, @providers) do |provider|
      %tr{:class => cycle('nostripe', 'stripe')}
        %td
          - selected = params[:select] == 'all'
          = check_box_tag "provider_selected[]", provider.id, selected, :id => "provider_checkbox_#{provider.id}"
        %td= link_to provider.name, provider_path(provider)
        %td= provider.url
        %td= provider.provider_type.name
