%table.properties_table
  %tbody
    %tr
      %td= _("Provider Name")
      %td= @provider.name
    %tr
      %td= _("Provider URL")
      %td= @provider.url
    %tr
      %td= _("Provider Type")
      %td= @provider.provider_type.name
    %tr
      %td= _("X-Deltacloud-Driver")
      %td= @provider.provider_type.deltacloud_driver
    %tr
      %td= _("X-Deltacloud-Provider")
      %td= @provider.deltacloud_provider
