%table.properties_table
  %tbody
    %tr
      %td= t("providers.index.provider_name")
      %td= @provider.name
    %tr
      %td= t("providers.index.provider_url")
      %td= @provider.url
    %tr
      %td= t("providers.index.provider_type")
      %td= @provider.provider_type.name
    %tr
      %td= t("providers.index.x_deltacloud_driver")
      %td= @provider.provider_type.deltacloud_driver
    %tr
      %td= t("providers.index.x_deltacloud_provider")
      %td= @provider.deltacloud_provider
