%header.admin-page-header
  %h1= @provider.name.blank? ? "Editing Provider" : @provider.name
  #obj_actions
    %span.label.light Choose a provider:
    %ul#provider_select
      %li
        = link_to @provider.name.blank? ? "Editing Provider" : @provider.name
        %ul
          %li= link_to "+ Create New Provider", new_provider_path, :id => "create_new_provider"
          - @providers.each do |provider|
            %li= link_to provider.name, edit_provider_path(provider)

    = form_for @provider, :url => provider_path(@provider), :html => { :method => :put, :class => 'generic' } do |f|
      = f.hidden_field :enabled, :value => !@provider.enabled
      = f.submit @provider.enabled ? 'on' : 'off', :confirm => "#{@provider.enabled ? "Disable provider? All it's instances will be stopped!" : 'Enable provider?'}"
