= render :partial => 'layouts/admin_nav'
= render :partial => 'page_header'

%section.content-section
  %header
    %h2= t(".disable_provider")

  .content
    .align-center
      %strong= t('instances.confirm_terminate.terminate_instances_description')
    %ul.listing
      - @instances_to_terminate.each do |i|
        %li= i.name
    = link_to t('cancel'), edit_provider_path(@provider), :class => 'button'
    = button_to "Disable", provider_path(@provider, :terminate => true, :provider => {:enabled => false}), :class => 'button', :method => :put, :id => 'disable_button'
