= render :partial => 'layouts/admin_nav'
= render :partial => 'section_header'

- unless @provider.enabled
  %section.admin-content-section
    %header.align-center
      %h2.disabled= t('providers.edit.provider_id_disabled')
    %p.align-center
      = t("providers.edit.provider_disabled", :name => @provider.name)
      = t("providers.edit.enable_configure_providers")
      = image_tag "provider_enable_hint.png"

%section.admin-content-section.alerts
  %header
    %h2.alerts
      = t("alerts_label")
      %span.label.badge.count.alert= @alerts.count
    .section-controls
      = link_to t("providers.edit.toggle_alerts"), "#", :class => 'collapse alerts' unless @alerts.blank?
  - unless @alerts.blank?
    .content.collapsible
      %dl.alerts
        %ul
          - @alerts.each do |alert|
            %li.alert
              %dt.subject{ :class => alert[:class] }= alert[:subject]
              %dd.type= link_to alert[:alert_type], alert[:path]
              %dd.desc= alert[:description]
/%section.admin-content-section.provider
/  %header
/    %h2.activity
/      Activity
/  .content
/    unimplemented
%section.admin-content-section
  %header#tab-container-1
    %h2.settings= t("settings.settings")
    %nav.faceted
      %ul#tab-container-1-nav
        - @tabs.each do |tab|
          %li
            = link_to tab[:name], edit_provider_path(@provider, :details_tab => tab[:id], :only_tab => true), :id => "details_#{tab[:id]}", :class => "#{'active' if @details_tab[:id] == tab[:id]} show"
            -if tab[:count]
              %span.label.badge.count.dark=tab[:count]
  .content#tab
    = render :partial => @view
