= render :partial => 'layouts/admin_nav'
= render :partial => 'page_header'
= render :partial => 'provider_availability'

- unless @provider.enabled
  %section.content-section
    %header.align-center
      %h2.disabled= _("Provider is disabled.")
    %p.align-center
      = _("The Provider %s is currently disabled.") % @provider.name
      = _("To enable and configure the Provider, click the slide switch in the upper-right-hand corner of this window.")
      = image_tag "provider_enable_hint.png"

- unless @alerts.blank?
  %section.content-section.alerts.collapse_entity
    %header
      .section-controls
        = link_to _("Toggle Alerts"), "#", :class => 'collapse alerts' unless @alerts.blank?
      %h2.alerts
        = _("Alerts")
        %span.label.badge.count.alert= @alerts.count
    .content.collapsible
      %dl.alerts
        %ul
          - @alerts.each do |alert|
            %li.alert
              %dt.subject{ :class => alert[:class] }= alert[:subject]
              %dd.type= link_to alert[:alert_type], alert[:path]
              %dd.desc= alert[:description]

%section.content-section
  %header#tab-container-1
    %h2.settings= _("Settings")
    %nav.faceted
      %ul#tab-container-1-nav
        - @tabs.each do |tab|
          %li
            = link_to tab[:name], edit_provider_path(@provider, :details_tab => tab[:id], :only_tab => true), :id => "details_#{tab[:id]}", :class => "#{'active' if @details_tab[:id] == tab[:id]} show"
            -if tab[:count]
              %span.label.badge.count.dark=tab[:count]
  .content#tab
    = render :partial => @view
