= render :partial => 'layouts/admin_nav'
= render :partial => 'section_header'

- if @provider.enabled
  %section.admin-content-section.provider
    %header
      %h2.alerts
        Alerts
        %span.label.badge.count.alert 2
    .content
      unimplemented
  %section.admin-content-section.provider
    %header
      %h2.activity
        Activity
    .content
      unimplemented
  %section.admin-content-section
    %header#tab-container-1
      %h2.settings Settings
      %nav.faceted
        %ul#tab-container-1-nav
          - @tabs.each do |tab|
            %li
              %a{ :href => url_for(:details_tab => tab[:id], :only_tab => true), :id => "details_#{tab[:id]}", :class => "#{'active' if @details_tab[:id] == tab[:id]} show"}
                = tab[:name]
              -if tab[:count]
                %span.label.badge.count.dark=tab[:count]
      .section-controls
        #obj_actions.button-container
          .button-group
            = pretty_filter_toggle(edit_provider_path(@provider, :view => 'pretty', :details_tab => @details_tab[:id]), edit_provider_path(@provider, :view => 'filter', :details_tab => @details_tab[:id]))
    .content.collapsible.toggle-view.pools#tab
      %ul.deployable-cards
        = render :partial => @view
- else
  %section.admin-content-section
    %header.align-center
      %h2.disabled Provider is disabled.
    %p.align-center
      The provider "
      = @provider.name
      " is currently
      %strong disabled.
      To enable and configure provider, click the slide switch in the upper-right-hand corner of this window.
      = image_tag "provider_enable_hint.png"
