= render :partial => 'layouts/admin_nav'
%header.page-header
  .obj_actions
    %span.label.light=_("Choose a Provider:")
    %ul#provider_select
      %li
        = link_to _("Create New Provider"), "javascript:void(0)"
        %ul
          %li= link_to "+ " + _("Create New Provider"), new_provider_path, :id => "create_new_provider"
          - @providers.each do |provider|
            %li= link_to provider.name, edit_provider_path(provider)
  %h1.providers= @title

%section.content-section.users
  %header
    %h2.settings= _("Settings")
  .content
    = conductor_form_for @provider do |f|
      = render :partial => "form", :locals => { :form => f, :readonly => false }
      = f.button :form_buttons, :cancel => providers_path
