= render :partial => 'layouts/admin_nav'
%header.page-header
  .obj_actions
    .return_to
      = t('return_to')
      = link_to t('providers.providers'), providers_path
  %h1.providers= @title

%section.content-section.users
  .content
    = conductor_form_for(@provider) do |f|
      = render :partial => "form", :locals => { :form => f, :readonly => false }
      = f.button :form_buttons, :cancel => providers_path
