= render :partial => 'layouts/admin_nav'
= render :partial => 'page_header'
= render :partial => 'provider_availability'

%section.content-section.provider
  %header
    %h2= _("Properties")

  .content
    %div#view
      = render :partial => 'properties'
