= render :partial => 'layouts/admin_nav'

%header.page-header
  .obj_actions
    .return_to
      =_('Return to:')
      = link_to "#{_('Providers')}", providers_path
    .button-group
      - if check_privilege(Privilege::MODIFY, Provider)
        = link_to _('Edit'), edit_provider_path(@provider), :class => 'button'
        = button_to _('Delete'), provider_path(@provider), :method => 'delete', :confirm => _('Are you sure you want to delete?'), :class => 'button danger'
  %h1.providers{:class => @provider.enabled ? 'enabled' : 'disabled'}= @provider.name.blank? ? _('Editing Provider') : @provider.name

= render :partial => 'provider_availability'

- unless @provider.enabled
  %section.content-section
    %header.align-center
      %h2.disabled= _('Provider is disabled.')
    %p.align-center
      = _('The Provider %s is currently disabled.') % @provider.name
      = _('To enable and configure the Provider, click the Edit button.')

- unless @alerts.blank?
  %section.content-section.alerts.collapse_entity
    %header
      .section-controls
        = link_to _('Toggle Alerts'), "#", :class => 'collapse alerts' unless @alerts.blank?
      %h2.alerts
        = _('Alerts')
        %span.label.badge.count.alert= @alerts.count
    .content.collapsible
      %dl.alerts
        %ul
          - @alerts.each do |alert|
            %li.alert
              %dt.subject{ :class => alert[:class] }= alert[:subject]
              %dd.type= link_to alert[:alert_type], alert[:path]
              %dd.desc= alert[:description]

%section.content-section
  %header#tab-container-1
    %nav.faceted
      %ul#tab-container-1-nav
        - @tabs.each do |tab|
          %li
            = link_to tab[:name], provider_path(@provider, :details_tab => tab[:id], :only_tab => true), :id => "details_#{tab[:id]}", :class => "#{'active' if @details_tab[:id] == tab[:id]} show"
            -if tab[:count]
              %span.label.badge.count.dark=tab[:count]
  .content#tab
    = render :partial => @view
