-content_for :list do
  = render :partial => 'list'
-content_for :details do
  .grid_13
    %h2 #{@user.first_name} #{@user.last_name} (#{@user.login})

    %table
      %thead
        %tr
          %th.show
            Personal Details
          %th.show
      %tbody
        %tr
          %td
            %label Username
          %td
            = @user.login
        %tr
          %td
            %label First Name
          %td
            = @user.first_name
        %tr
          %td
            %label Last Name
          %td
            = @user.last_name
        %tr
          %td
            %label e-mail
          %td
            = @user.email

    %table
      %thead
        %tr
          %th.show
            Quota Status
          %th.show
      %tbody
        %tr
          %td
            %label Maximum
          %td
            = @quota_resources["running_instances"].max
        %tr
          %td
            %label Used
          %td
            = @quota_resources["running_instances"].used
        %tr
          %td
            %label Availabe
          %td
            = @quota_resources["running_instances"].available

    %table
      %thead
        %tr
          %th.show
            Login Information
          %th.show
      %tbody
        %tr
          %td
            %label Current Login IP
          %td
            = @user.current_login_ip
        %tr
          %td
            %label Current Login at
          %td
            = @user.current_login_at
        %tr
          %td
            %label Last Login IP
          %td
            = @user.last_login_ip
        %tr
          %td
            %label Last Login at
          %td
            = @user.last_login_at
        %tr
          %td
            %label Login Count
          %td
            = @user.login_count
        %tr
          %td
            %label Failed Login Count
          %td
            = @user.login_count
        %tr
          %td
            %label Last Request at
          %td
            = @user.last_request_at
