.conductor_form
  %h2
    =_("Edit Quota for") + "#{@parent_type + ": " + @name}"
  %br/
  = form_for @quota, :url => {:controller => :quotas, :action => "update", :parent_type => @parent_type}, :class => "conductor_form" do |f|
    = hidden_field_tag 'id', @parent.id
    = hidden_field_tag 'parent_type', @parent_type
    %ul
      %li
        %label= _("Max Running Instances")
        = f.error_message_on :maximum_running_instances, 'maximum_running_instances'
        = f.text_field :maximum_running_instances
    = submit_tag _("Save"), :class => "submit"
