- if !@quota
  %h1
    =_("There is no Quota on this") + "#{@parent_type}"
- else
  %table
    %thead
      %tr
        %th{:scope => "col"}= _("Resource")
        %th{:scope => "col"}= _("Max Capacity")
        %th{:scope => "col"}= _("Used")
        %th{:scope => "col"}= _("Available")
    %tbody
      - quota_resources = @quota.quota_resources
      - quota_resources.each_value do |quota_resource|
        %tr
          %td= quota_resource.name + " " + quota_resource.unit
          %td= quota_resource.max
          %td= quota_resource.used
          %td= quota_resource.available
  = link_to _("Edit"), {:action => "edit", :id => @parent, :parent_type => @parent_type}, :class=>"actionlink"
  = link_to _("Reset"), {:action => "reset", :id => @parent, :parent_type => @parent_type}, :class=>"actionlink"
