- content_for :form_footer do
  = hidden_field_tag :permission_object_type, @permission_object.class.name
  = hidden_field_tag :permission_object_id, @permission_object.id
  = hidden_field_tag :path_prefix, @path_prefix
  %li= restful_submit_tag t('permissions.form.grant_access'), "create", permissions_path, 'POST', :id => 'save_button', :class => 'button'
  %li= link_to t('cancel'), @return_path, :class => 'button danger'
= filter_table(@header, @users) do |user|
  %tr{:class => cycle('nostripe','stripe')}
    %td
      -# - selected = params[:select] == 'all'
      -#  = check_box_tag "user_selected[]", user.id, selected, :id => "user_checkbox_#{user.id}"
    %td= link_to user.login, user_path(user)
    %td= user.last_name
    %td= user.first_name
    %td= select_tag "user_role_selected[]", options_for_select([['', "#{user.id},"]] + @roles.map {|r| [t(r.name, :scope=> :role_defs, :default => r.name), "#{user.id},#{r.id}" ] }, :disabled => @permission_object.permissions.where(:user_id=>user.id).collect {|p| "#{user.id},#{p.role.id}"}), :id => "user_role_selected_#{user.id}"
