%header.page-header
  #obj_actions.button-group
    .return_to
      = t'return_to'
      = link_to @return_text, @return_path, :id => 'new_pool_button'
  %h1.no-icon= @title

%section.content-section.pools
  .align-center
    %strong= @summary_text
  .content
    %header
      %h2#users.users= t'users.users'

    = render :partial => 'form'
