%header.page-header
  .obj_actions
    .return_to
      = _("Return to:")
      = link_to @return_text, @return_path, :id => 'new_pool_button'
  %h1.no-icon= @title

%section.content-section.pools
  .align-center
    %strong= @summary_text
  .content
    %header
      %h2#users.users= _("Users")

    = render :partial => 'form'
