- content_for :form_header do
  - if check_privilege(Privilege::PERM_SET)
    %li
      = link_to "Grant Access", new_permission_path(:permission_object_type => @permission_object.class.name, :permission_object_id => @permission_object.id), { :class => 'button primary', :id => 'new_permission_button'}
      = restful_submit_tag "Revoke Access", "destroy", multi_destroy_permissions_path, 'DELETE', :id => 'revoke_button', :class => 'button danger'
      = restful_submit_tag "Edit", "multi_update", multi_update_permissions_path, 'POST', :id => 'edit_button', :class => 'hidden'
    .corner &nbsp;
    = hidden_field_tag :permission_object_type, @permission_object.class.name
    = hidden_field_tag :permission_object_id, @permission_object.id

= filter_table(@permission_list_header, @permission_object.permissions) do |permission|
  %tr{:class => cycle('nostripe','stripe')}
    %td{:class => 'checkbox'}
      - if check_privilege(Privilege::PERM_SET)
        - selected = params[:select] == 'all'
        = check_box_tag "permission_selected[]", permission.id, selected, :id => "permission_checkbox_#{permission.id}"
    %td= link_to "#{permission.user.first_name} #{permission.user.last_name}", user_path(permission.user)
    - if check_privilege(Privilege::PERM_SET)
      %td= select_tag "permission_role_selected[]", options_for_select(@roles.map {|r| [ r.name, "#{permission.id},#{r.id}" ] }, :selected => "#{permission.id},#{permission.role.id}", :disabled => @permission_object.permissions.where(["user_id = ? and role_id != ?", permission.user_id, permission.role_id]).collect {|p| "#{permission.id},#{p.role.id}"}), :id => "permission_role_selected_#{permission.id}"
      :javascript
        $("#permission_role_selected_#{permission.id}").change(function () { $("#edit_button").click(); } );

    -else
      %td= permission.role.name
