- content_for :form_header do
  - if check_privilege(Privilege::PERM_SET)
    %li= link_to t('permissions.form.grant_access'), new_permission_path(:permission_object_type => @permission_object.class.name, :permission_object_id => @permission_object.id, :path_prefix => @path_prefix, :use_tabs => @use_tabs ? @use_tabs : (@tabs ? 'yes' : 'no')), { :class => 'button primary', :id => 'new_permission_button'}
    %li= restful_submit_tag t('permissions.revoke_access'), "destroy", multi_destroy_permissions_path, 'DELETE', :id => 'revoke_button', :class => 'button danger'
    %li= restful_submit_tag t('edit'), "multi_update", multi_update_permissions_path, 'POST', :id => 'perm_edit_button', :class => 'hidden'
    = hidden_field_tag :permission_object_type, @permission_object.class.name
    = hidden_field_tag :permission_object_id, @permission_object.id

    - if @polymorphic_path_extras.present?
      - @polymorphic_path_extras.each do |key, value|
        = hidden_field_tag("polymorphic_path_extras[#{key}]", value)

    = hidden_field_tag :path_prefix, @path_prefix
    = hidden_field_tag :use_tabs, @use_tabs ? @use_tabs : (@tabs ? 'yes' : 'no')

= filter_table(@permission_list_header, @permission_object.permissions) do |permission|
  %tr{:class => cycle('nostripe','stripe')}
    %td{:class => 'checkbox'}
      - if check_privilege(Privilege::PERM_SET)
        - selected = params[:select] == 'all'
        = check_box_tag "permission_selected[]", permission.id, selected, :id => "permission_checkbox_#{permission.id}"
    %td= link_to permission.user.login, user_path(permission.user)
    %td= permission.user.last_name
    %td= permission.user.first_name
    - if check_privilege(Privilege::PERM_SET)
      %td= select_tag "permission_role_selected[]", options_for_select(@roles.map {|r| [ r.name, "#{permission.id},#{r.id}" ] }, :selected => "#{permission.id},#{permission.role.id}", :disabled => @permission_object.permissions.where(["user_id = ? and role_id != ?", permission.user_id, permission.role_id]).collect {|p| "#{permission.id},#{p.role.id}"}), :id => "permission_role_selected_#{permission.id}"
      :javascript
        $("#permission_role_selected_#{permission.id}").change(function () { $("#perm_edit_button").click(); } );

    -else
      %td= permission.role.name
