- if @permission_object.permissions.size == 0
  %h1
    There are no permissions defined on #{@permission_object.name}
- else
  %table
    %thead
      %tr
        %th{:scope => "col"} User
        %th{:scope => "col"} Role
        %th{:scope => "col"} Action
    %tbody
      - @permission_object.permissions.each {|permission|
      %tr
        %td= permission.user.login
        %td= permission.role.name
        %td
          - if has_set_perms?
            - form_tag :action => 'destroy' do
              = hidden_field :permission, :id, :value => permission.id
              = submit_tag "delete", :class => "submit_link", :id => "delete_#{permission.id}"
      - }
= link_to "Add a user",                                                                   |
  {:controller => "users",                                                                |
  :action => "new"},                                                                      |
  :class=>"actionlink" if has_user_modify?(BasePermissionObject.general_permission_scope) |
-#
= link_to "Add a new permission record",               |
  {:action => "new",                                   |
  :permission_object_type => @permission_object.class, |
  :permission_object_id => @permission_object.id},     |
  :class=>"actionlink" if has_set_perms?               |
