<div class="dcloud_form">
  <%= error_messages_for 'permission' %>

  <h2>Add new Permission for <%= @permission_object.name %></h2><br />
  <% form_tag :action => 'create' do-%>
  <ul>
    <li><label>User<span>User to receive permission grant</span></label>
        <%= select("permission", "user_id", @users.collect {|u| [ u.login, u.id ] }, { :include_blank => true }) %>
    </li>
    <li><label>Role</label>
        <%= select("permission", "role_id", @roles.collect {|r| [ r.name, r.id ] }, { :include_blank => true }) %>
    </li>
    <%= hidden_field :permission, :permission_object_type %>
    <%= hidden_field :permission, :permission_object_id %>
    <%= submit_tag "Save", :class => "submit" %>
    <% end %>
</div>
