.conductor_form
  - if @permission.errors.any?
    = render 'layouts/error_messages', :object => @permission
  %h2
    Add new Permission for #{@permission_object.name}
  %br/
  = form_tag :action => 'create' do
    %ul
      %li
        %label
          User
          %span User to receive permission grant
        = select("permission", "user_id", @users.collect {|u| [ u.login, u.id ] }, { :include_blank => true })
      %li
        %label Role
        = select("permission", "role_id", @roles.collect {|r| [ r.name, r.id ] }, { :include_blank => true })
      = hidden_field :permission, :permission_object_type
      = hidden_field :permission, :permission_object_id
      = submit_tag "Save", :class => "submit"
