- content_for :form_header do
  %li= restful_submit_tag t("delete"), "destroy", multi_destroy_images_path, 'DELETE', :id => 'delete_button', :class => 'button danger'
  %li= link_to t('images.index.import'), new_image_path(:tab => 'import'), { :class => 'button primary', :id => 'import_image_button'}

= filter_table(@header, @images) do |image|
  %tr{:class => cycle('nostripe','stripe')}
    %td{:class => 'checkbox'}
      - selected = params[:select] == 'all'
      = check_box_tag "images_selected[]", image.id, selected, :id => "image_checkbox_#{image.id}"
    %td
      = link_to image.name, image_path(image.id)
    %td
      = image.os.name
    %td
      = image.os.version
    %td
      = image.os.arch
    %td
      = Time.at(image.latest_pushed_or_unpushed_build.timestamp.to_f) rescue ''
