- content_for :form_header do
  - if @pool_family and check_privilege(Privilege::USE, @pool_family)
    %li= restful_submit_tag t("delete"), "destroy", multi_destroy_images_path, 'DELETE', :id => 'delete_button', :class => 'button danger'
    - if @pool_family.pools.any?
      %li= link_to t('images.import.import_image'), new_image_path(:tab => 'import', :environment => @pool_family), { :class => 'button primary', :id => 'import_image_button'}
      %li= link_to t('images.index.new'), new_image_path(:environment => @pool_family), { :class => 'button primary', :id => 'import_image_button'}

= filter_table(@header, @images) do |image|
  - if @pool_family.nil? and image.environment
    - environment = PoolFamily.find_by_name(image.environment)
  - else
    - environment = nil

  - if environment.nil? || check_privilege(Privilege::USE, PoolFamily, environment)
    = render :partial => 'images/image_row_for_environment', :mustache => image_for_mustache(image)

:javascript
  $(document).ready(function(){
    $('tr:odd').addClass('stripe');
    $('tr:even').addClass('nostripe');
  });

%script#imageRowTemplate{ :type => 'text/html' }
  = render :partial => 'images/image_row_for_environment'