- content_for :form_header do
  - if @pool_family and check_privilege(Privilege::USE, @pool_family)
    %li= restful_submit_tag t("delete"), "destroy", multi_destroy_images_path, 'DELETE', :id => 'delete_button', :class => 'button danger'
    %li= link_to t('images.import.import_image'), new_image_path(:tab => 'import', :environment => @pool_family), { :class => 'button primary', :id => 'import_image_button'}
    %li= link_to t('images.index.new'), new_image_path(:environment => @pool_family), { :class => 'button primary', :id => 'import_image_button'}

= filter_table(@header, @images) do |image|
  - if @pool_family.nil? and image.environment
    - environment = PoolFamily.find_by_name(image.environment)
  - else
    - environment = nil
  - if environment.nil? or check_privilege(Privilege::USE, PoolFamily, environment)
    %tr{:class => cycle('nostripe','stripe')}
      - if @pool_family
        %td{:class => 'checkbox'}
          - selected = params[:select] == 'all'
          = check_box_tag "images_selected[]", image.id, selected, :id => "image_checkbox_#{image.id}"
      %td
        = link_to (image.imported? ? image.name + " (Imported)" : image.name), image_path(image.id)
      - unless @pool_family
        %td
          - if environment
            = link_to environment.name, pool_family_path(environment, :details_tab => 'images')
          - else
            N/A
      %td
        = image.os.name.empty? ? "N/A" : image.os.name
      %td
        = image.os.version.empty? ? "N/A" : image.os.version
      %td
        = image.os.arch.empty? ? "N/A" : image.os.arch
      %td
        = Time.at(image.latest_pushed_or_unpushed_build.timestamp.to_f) rescue ''
