= render :partial => 'layouts/admin_nav'
%header.page-header
  .obj_actions
    .return_to
      = t :return_to
      = link_to t('images.environment', :environment => @environment.name), pool_family_path(@environment)
  %h1.no-icon= @name

%section.content-section

  .content
    = form_tag(overview_images_path, {:method => :post, :class => 'generic'}) do
      = hidden_field_tag :environment, @environment.id
      = hidden_field_tag :name, @name
      .field
        = label_tag :image_xml, t('.edit_xml')
        = text_area_tag :image_xml, @xml, :class => 'edit_xml'

      .centered
        %fieldset.align-center
          = link_to t(:cancel), pool_families_path, :class => 'button danger'
          = submit_tag t('.save_and_continue'), :class => 'button primary', :id => 'save_image'
