= render :partial => 'layouts/admin_nav'
%header.admin-page-header
  %h1.images= @name
  #obj_actions.button-container
    = t :return_to
    = link_to t('images.environment', :environment => @environment.name), pool_family_path(@environment), :class => 'rounded-link'

%section.admin-content-section
  %header
    %h2= t('.edit')

  .content.tight.buildpush
    = form_tag(overview_images_path, {:method => :post}) do
      = hidden_field_tag :environment, @environment.id
      = hidden_field_tag :name, @name
      = text_area_tag :image_xml, @xml, :class => 'edit_xml'

      .centered
        %fieldset.align-center
          = link_to t(:cancel), pool_family_path(@environment), :class => 'button danger'
          = submit_tag t('.save_and_continue'), :class => 'button primary'
