= render :partial => 'layouts/admin_nav'
%header.admin-page-header
  %h1.images= t('.import_image')
  #obj_actions.button-container
    .return_to
      = t :return_to
      = link_to t('images.environment', :environment => @environment.name), pool_family_path(@environment)

%section.admin-content-section.image-import

  %section#image-file-form
    = form_tag(import_images_path, { :multipart => true, :method => :post, :class => :generic }) do
      = hidden_field_tag :environment, @environment.id
      %fieldset
        %p.clearfix
          = label_tag :provider_account, t('.provider_account')
          = select_tag :provider_account, options_for_select(@accounts.collect{|x| [x.label, x.id]})
        %p.clearfix
          = label_tag :image_id, t('.image_id')
          = text_field_tag :image_id
        %p.clearfix
          = label_tag :name, t('.name')
          = text_field_tag :name

      .buttons.container
        = submit_tag t(:continue), :id => "file_button", :class => "button primary"
