= render :partial => 'layouts/admin_nav'
%header.page-header
  .obj_actions
    .return_to
      = t :return_to
      = link_to t('images.environment', :environment => @environment.name), pool_family_path(@environment)
  %h1.no-icon= @name

%section.content-section
  .content
    = form_tag(images_path, {:method => :post}) do
      = hidden_field_tag :environment, @environment.id
      = hidden_field_tag :name, @name
      %input{ :type => :hidden, :name => :image_xml, :value => @xml}

      .lefted.image-upload-overview
        %h2= t('.valid_image')
        %p.description= t('.description', :name => @name)

      .centered
        %fieldset.align-center
          = submit_tag t('.save_template'), :name => 'save', :id => 'save_button', :class => 'button primary'
          = submit_tag t('.edit_xml'), :name => 'back', :id => 'back_button', :class => 'button'
          = link_to t(:cancel), pool_families_path, :class => 'button danger'
