= render :partial => 'layouts/admin_nav'
%header.page-header
  .obj_actions
    .return_to
      =t'return_to'
      = link_to t('images.index.images'), images_path
    - if @environment and check_privilege(Privilege::USE, @environment)
      .button-group
        = link_to t('images.show.new_deployable_from_image'), new_deployable_path(:create_from_image => @image.id), :class => 'button pill'
        - unless @image.imported?
          = link_to t('images.show.template_xml'), template_image_path(@image.uuid), :class => 'button pill'
        = button_to t("delete"), image_path(@image.id), :method => 'delete', :confirm => "Are you sure you want to delete?", :class => 'button pill danger', :id => 'delete'
  %h1.no-icon= @image.imported? ? @image.name + " (Imported)" : @image.name

- user_can_build = (@environment and check_privilege(Privilege::USE, @environment))
%section.content-section
  %header
    %h2=t'properties'
  .content
    %table.properties_table
      %tbody
        %tr
          %td= t('images.environment')
          %td= @image.environment
        %tr
          %td= t('images.show.image_id')
          %td= @image.uuid

%section.content-section
  %header
    .section-controls
      - if @builds.any?
        %span= t'images.show.view_build'
        - if user_can_build
          = form_tag image_path(@image.id), :method => :get do
            = select_tag :build, options_for_build_select(@builds, @build, @latest_build_id)
            = submit_tag t('images.show.select_build'), :id => 'select_build_button'
      - if user_can_build
        - if @image.imported?
          %span= t('images.show.can_not_build_imported_image')
        -else
          - if @builds.any?
            - build_text = 'images.show.rebuild'
          - else
            - build_text = 'images.show.build'
          - if @account_groups_listing.size > 1
            - build_text << '_all'
          = button_to t(build_text), rebuild_all_image_path(@image.id), :class => 'button pill' unless @account_groups_listing.blank?
          #push-all-btn
            - if @push_all_enabled
              = button_to t('images.show.push_all'), push_all_image_path(@image.id, :build_id => @build.id), :class => 'button pill'
    %h2= t('images.show.provider_images')

  .content
    %ul.image_builds
      = render :partial => 'status', :mustache => {:images => @images_by_provider_type}

:javascript
  $(document).ready(function(){
    $("#select_build_button").hide();
    $("#build").change(function() {
      $("#select_build_button").click();
    });
  });

%script#imageStatusTemplate{ :type => 'text/html' }
  = render :partial => 'status'

%script#pushAllButtonTemplate{ :type => 'text/html' }
  = render :partial => 'push_all_button'
