- if @statistics[:instances_failed_visible_count] > 0
  %section.content-section.alerts.collapse_entity
    %header
      .section-controls
        = link_to _("Toggle Alerts"), "#", :class => 'collapse alerts' unless @statistics[:instances_failed].blank?
      %h2.alerts
        =_("Alerts")
        %span.label.badge.alert.count= @statistics[:instances_failed_visible_count]
    .content.collapsible
      %dl.alerts
        %ul
          - @statistics[:instances_failed].each do |inst|
            %li.alert
              %dt.subject.critical= inst.name
              %dd.type=_("Instance Failure")
              %dd.desc= "#{inst.last_error.blank? ? inst.state : inst.last_error}"
