= form_for @pool, :html => {:class => 'generic'} do |form|
  - if @pool.errors.any?
    = render 'layouts/error_messages', :object => @pool

  %fieldset
    %p
      = form.label :name, t('name'), :class => 'em'
      = form.text_field :name, :class => 'em long'
    %p
      = form.label :pool_family_id, t("pool_families.pool_family")
      = form.collection_select :pool_family_id, PoolFamily.all, :id, :name

  %fieldset
    %p
      %label
        = t('quota')
        %span
          (#
          =t('pools.form.instance_or')
          %a#unlimited_quota_btn{:href => '#'}=t('pools.form.unlimited')
          )
      = text_field :quota, :maximum_running_instances, :title => t('provider_accounts.form.quota_instances'), :value => @quota.maximum_running_instances || "unlimited", :id => "quota_instances"

  %fieldset
    %p
      = form.label :enabled, "#{t('pools.form.pool_enabled')}?", :class => 'checkbox'
      = form.check_box :enabled

  %fieldset.options
    = form.submit t("save"), :class => 'button', :id => 'save_button'
    = link_to t('cancel'), pools_path, :class => 'button danger'

:javascript
  $(document).ready(function(){
    $('#unlimited_quota_btn').click(function(){
      $('#quota_instances').val('unlimited');
      return false;
    });
  });
