= form.input :name
= form.input :pool_family_id, :collection => @available_pool_families
= form.fields_for :quota do |quota_form|
  = quota_form.input :maximum_running_instances, :as => :numeric_input_with_unlimited_check_box
= form.input :enabled