= form_for @pool, :html => {:class => 'generic'} do |form|
  - if @pool.errors.any?
    = render 'layouts/error_messages', :object => @pool

  %fieldset
    %p
      = form.label :name, "Name", :class => 'em'
      = form.text_field :name, :class => 'em long'
    %p
      = form.label :pool_family_id, "Pool Family"
      = form.collection_select :pool_family_id, PoolFamily.all, :id, :name

  %fieldset
    %p
      %label
        Quota
        %span
          (# instances or
          %a#unlimited_quota_btn{:href => '#'} unlimited
          )
      = text_field :quota, :maximum_running_instances, :title => t('provider_accounts.form.quota_instances'), :value => @quota.maximum_running_instances || "unlimited", :id => "quota_instances"

  %fieldset
    %p
      = form.label :enabled, "Pool Enabled?", :class => 'checkbox'
      = form.check_box :enabled

  %fieldset.options
    = form.submit "Save", :class => 'button', :id => 'save_button'
    = link_to 'Cancel', pools_path, :class => 'button danger'

:javascript
  $(document).ready(function(){
    $('#unlimited_quota_btn').click(function(){
      $('#quota_instances').val('unlimited');
      return false;
    });
  });
