%header.page-header
  %h1.pools= @title
  #obj_actions.button-container
    - if check_privilege(Privilege::CREATE, Deployment, @pool)
      = link_to t('deployments.new_deployment'), launch_new_deployments_path(:pool_id => @pool.id), :class => 'button primary', :id => 'new_deployment_button'
    %div.catalog_link
      = render :partial => 'layouts/catalog_dropdown', :locals => {:catalogs => @pool.catalogs}
    .button-group
      - if check_privilege(Privilege::MODIFY, @pool)
        = link_to t('edit'), edit_pool_path(@pool), :class => 'button pill', :id => 'edit_pool_button'
        = button_to t('delete'), pool_path(@pool), :method => :delete, :confirm => t('pools.index.confirm_delete'), :class => "button pill danger", :id => 'delete_pool_button'
  .corner &nbsp;
