-if flash[:error]
  -if flash[:error].kind_of?(String)
    .flash-subset
      %div.heading
        =image_tag 'flash_error_icon.png', :alt => 'Errors'
        =flash[:error]
-else
  =filter_table(@header, @catalogs)  do |catalog|
    - catalog.deployables.each do |deployable|
      - deployable.fetch_images.compact.each do |image|
        %tr
          %td= catalog.name
          %td= deployable.name
          %td= "#{image.name} (#{image.uuid})"
          - image.provider_images.each do |provider_image|
            %td= t('pools.images.pushed', :uuid => provider_image.uuid, :provider => provider_image.provider_name)
