- @map.each_pair do |catalog, catalog_entries|
  %h1{:style => 'font-size: 18pt;'}
    = catalog.name
    Catalog

  - catalog_entries.each_pair do |entry, images|
    %h2{:style => 'font-size: 16pt;'}
      = entry.name
      Catalog Entry

    - images.each_pair do |image, provider_images|
      %h3{:style => 'font-size: 14pt;'}
        Image:
        = "#{image.name} (#{image.uuid})"

      %ul
      - provider_images.each do |provider_image|
        %li
          = "#{provider_image.uuid} pushed to #{provider_image.provider_name}"
