- form_tag do
  = restful_submit_tag 'Stop', 'stop', multi_stop_instances_path, 'GET'
  Show only
  = hidden_field_tag 'details_tab', 'instances'
  = select '', 'state', Instance::STATES, { :include_blank => true, :selected => params[:state] }
  instances
  = restful_submit_tag "Filter", 'show', pool_path, 'GET', :id => 'filter_button'

  %table
    %thead
      %td Name
      %td Assembly
      %td Deployment
      %td Since
      %td State
    - @instances.each do |instance|
      %tr
        %td
          %input{:name => 'instance_selected[]', :type => 'checkbox', :value => instance.id, :id => "instance_checkbox_#{instance.id}" }
          = link_to instance.name, instance_path(instance)
        %td
          = instance.assembly.present? ? link_to((instance.assembly.name), assembly_path(instance.assembly)) : '&mdash;'
        %td
          = instance.deployment.present? ? link_to((instance.deployment.name), deployment_path(instance.deployment)) : '&mdash;'
        %td
          = instance.created_at.to_s
        %td
          = instance.state
