- content_for :form_header do
  - if check_privilege(Privilege::CREATE, Pool)
    %li= link_to "#{_("New Pool")}", new_pool_path, { :class => 'button primary', :id => 'new_pool_button' }
  %li= restful_submit_tag "#{_("Destroy")}", "destroy", multi_destroy_pools_path, 'DELETE', :id => 'delete_button', :class => 'button danger'

- content_for :filter_controls do
  %li
    = label_tag :pools_preset_filter, _("Viewing")
    = select_tag(:pools_preset_filter, preset_filters_options_for_select(Pool::PRESET_FILTERS_OPTIONS, params[:pools_preset_filter]), :include_blank => _("All Pools"))
    = hidden_field_tag :current_path, request.fullpath
    = restful_submit_tag _("Apply filters"), "filter", filter_pools_path, 'POST', :class => 'button', :id => 'apply_pools_preset_filter'
    %span.label.badge.dark= @pools.count
  %li.table-search-filter
    = text_field_tag :pools_search, params[:pools_search], :placeholder => _("Search")
    = restful_submit_tag "", "search", filter_pools_path, 'POST', :class => 'button', :id => 'apply_pools_search', :name => "apply_search"

  :javascript
    $(document).ready(function(){
      $("#apply_pools_preset_filter").hide();
      $("#pools_preset_filter").change(function() {
        $("#apply_pools_preset_filter").click();
      });
      Conductor.clickOnEnterKeypress($('#pools_search'), $('#apply_pools_search'));
    });

= filter_table(@header, @pools) do |pool|
  = render :partial => 'pool_row', :mustache => pool_for_mustache(pool)

:javascript
  $(document).ready(function(){
    $('tr:odd').addClass('stripe');
    $('tr:even').addClass('nostripe');
  });

%script#poolRowTemplate{ :type => 'text/html' }
  = render :partial => 'pool_row'
