- form_header = capture_haml do
  = link_to "New Pool", new_pool_path, { :class => 'button', :id => 'new_pool_button' }
  = restful_submit_tag "Destroy", "destroy", multi_destroy_pools_path, 'DELETE', :id => 'delete_button', :class => 'button danger'
  = label_tag "More actions"
  = select_tag("more_actions",nil, :disabled => true)
= filter_table(@header, @pools, :form_header => form_header) do |pool|
  %tr{:class => cycle('nostripe','stripe')}
    %td
      %input{:name => "pools_selected[]", :type => "checkbox", :value => pool.id, :id => "pool_checkbox_#{pool.id}" }
    %td
      -#there will be icons (belongs to mockups)
    %td
      = link_to(pool.name, pool)
    %td
      = pool.deployments.count
    %td
      = (pool.statistics[:instances_deployed] + pool.statistics[:instances_pending] + pool.statistics[:instances_failed])
    %td
      = pool.statistics[:instances_pending]
    %td
      = pool.statistics[:instances_failed]
    %td
      = number_to_percentage(pool.quota.percentage_used, :precision => 0)
    %td
      = link_to(pool.pool_family.name, pool.pool_family)
