- content_for :form_header do
  %li= link_to "#{t'pools.new_pool'}", new_pool_path, { :class => 'button', :id => 'new_pool_button' }
  %li= restful_submit_tag "#{t'pools.index.destroy'}", "destroy", multi_destroy_pools_path, 'DELETE', :id => 'delete_button', :class => 'button danger'

- content_for :filter_controls do
  %li
    = label_tag :pools_preset_filter, t('filter_table.viewing')
    = select_tag(:pools_preset_filter, preset_filters_options_for_select(Pool::PRESET_FILTERS_OPTIONS, params[:pools_preset_filter]), :include_blank => t("pools.preset_filters.all_pools"))
    = hidden_field_tag :current_path, request.fullpath
    = restful_submit_tag t("filter_table.apply_filters"), "filter", filter_pools_path, 'POST', :class => 'button', :id => 'apply_pools_preset_filter'
    %span.label.badge.dark= @user_pools.count
  %li.table-search-filter
    = text_field_tag :pools_search, params[:pools_search], :placeholder => t("filter_table.search")
    = restful_submit_tag "", "search", filter_pools_path, 'POST', :class => 'button', :id => 'apply_pools_search', :name => "apply_search"

  :javascript
    $(document).ready(function(){
      $("#apply_pools_preset_filter").hide();
      $("#pools_preset_filter").change(function() {
        $("#apply_pools_preset_filter").click();
      });
    });

= filter_table(@header, @pools) do |pool|
  %tr{:class => cycle('nostripe','stripe')}
    %td{:class => 'checkbox'}
      %input{:name => "pools_selected[]", :type => "checkbox", :value => pool.id, :id => "pool_checkbox_#{pool.id}" }
    %td{:class => 'alert'}= #there will be icons (belongs to mockups)
    %td= link_to(pool.name, pool)
    %td{:class => 'center'}= pool.deployments.count
    %td{:class => 'center'}= pool.statistics[:total_instances]
    %td{:class => 'center'}= pool.statistics[:instances_pending]
    %td{:class => 'center'}= pool.statistics[:instances_failed]
    %td{:class => 'center'}= pool.statistics[:quota_percent]
    %td= link_to(pool.pool_family.name, pool.pool_family)

%script#poolTemplate{ :type => 'text/x-jquery-tmpl' }
  :plain
    <tr>
      <td class="checkbox"><input type="checkbox" id="pool_checkbox_${id}"
                 name="pools_selected[]" value="${id}"></td>
      <td class="alert" />
      <td><a href="#{pool_path('replace_id').sub('replace_id', '${id}')}">${name}</a></td>
      <td class="center">${deployments_count}</td>
      <td class="center">${statistics.total_instances}</td>
      <td class="center">${statistics.instances_pending}</td>
      <td class="center">${statistics.instances_failed}</td>
      <td class="center">${statistics.quota_percent}</td>
      <td><a href="#{pool_family_path('replace_id').sub('replace_id', '${pool_family.id}')}">${pool_family.name}</a></td>
    </tr>
