- form_tag do
  = link_to "New Pool", new_pool_path, { :class => 'button' }
  = restful_submit_tag "Destroy", "destroy", multi_destroy_pools_path, 'DELETE', :id => 'delete_button'
  = label_tag "More actions"
  = select_tag("more_actions",nil, :disabled => true)
  %p
    Viewing
    = select_tag("select_pools", "<option>All pools</option>",:disabled => true)
    = @pools.count.to_s + " results"
    = text_field_tag :q, @search_term || "Search result for...", :disabled => true
  %table#pools_table
    %tr
      %th
        = check_box_tag "all"
      %th
        -#there will be icons (belongs to mockups)
      %th
        = t("pools.index.pool_name")
      %th
        = t("deployments.deployments")
      %th
        = t("instances.instances")
      %th
        = t("pools.index.pending")
      %th
        = t("pools.index.failed")
      %th
        = t("pools.index.quota_used")
      %th
        = t("pools.index.pool_family")
    - @pools.each do |pool|
      %tr
        %td
          %input{:name => "pools_selected[]", :type => "checkbox", :value => pool.id, :id => "pool_checkbox_#{pool.id}" }
        %td
          -#there will be icons (belongs to mockups)
        %td
          = pool.name
        %td
          = pool.deployments.count
        %td
          = (pool.statistics[:instances_deployed] + pool.statistics[:instances_pending] + pool.statistics[:instances_failed])
        %td
          = pool.statistics[:instances_pending]
        %td
          = pool.statistics[:instances_deployed]
        %td
          = pool.quota ? pool.quota.percentage_used.to_s + "%": 'unlimited'
        %td
          = pool.pool_family.name

:javascript
  $(document).ready(function () {
    $('#delete_button').click(function(e) {
      if ($("#pools_table input[@type=radio]:checked").length == 0) {
        alert('Please select any pool to be deleted before clicking Delete button.');
        e.preventDefault();
      } else {
        if (!confirm("Are you sure you want to delete this pool?")) {
          e.preventDefault();
        }
      }
    });
  });
