%header
  %h2.pools=_("Your Pools")

.content#pools-list
  - @pools.each do |pool|
    %div.pool.overview{:id => ['pool', pool.id], :class => ('collapsed' unless pool.deployments.size > 0 or @pools.count < 2)}
      %header{:class => "pool-header-#{pool.id}"}
        = render :partial => 'pretty_list_header', :mustache => pool_for_mustache(pool)
      %div.content
        - deployments = paginate_collection(pool.deployments.includes(:owner, :pool, :instances, :events).list_for_user(current_session, current_user, Privilege::VIEW).ascending_by_name, params[:page], PER_PAGE)
        = render :partial => 'deployments', :locals => {:pool => pool, :deployments => deployments}
      %ul.content.actions
        %li
          - pool_details_label = deployments.total_pages > 1 ? t('pools.index.not_all_deployments_displayed_alert_html', :name => pool.name) : t('pools.index.pool_details_html', :name => pool.name)
          = link_to(pool_details_label, pool_path(pool), :class =>'pool_details')
        %li
          - if check_privilege(Privilege::CREATE, Deployment, pool)
            = link_to _("New Deployment"), launch_new_deployments_path(:pool_id => pool.id), :class => 'button primary', :id => 'new_deployment_button'
        %li.catalog_link
          = render :partial => 'layouts/catalog_dropdown', :locals => {:catalogs => pool.catalogs}

  = render_pagination(@pools)

:javascript
  $(document).ready(function() {
    $('div.pool').each(function(){
      var this_pool = this;
      $(this).find('header a.control').live('click', function(){
        $(this_pool).toggleClass('collapsed');
        return false;
      });
    })
  });

%script#poolPrettyListHeaderTemplate{ :type => 'text/html' }
  = render :partial => 'pretty_list_header'
