%header
  %h2 Your Pools
  %span.label.badge.dark.count= @pools.length

.content
  - @pools.each do |pool|
    %div.pool.overview{:id => ['pool', pool.id], :class => ('collapsed' unless pool.deployments.count > 0)}
      %header
        %h3.name
          = link_to pool.name, pool
        %dl.statistics
          %ul.groups
            %li
              %dt Deployments
              %dd.count.deployment= pool.deployments.count
            %li
              %dt Instances
              %dd.count.instance= pool.instances.count
              %dd.count.instance.pending= pool.instances.select {|i| i.state == Instance::STATE_PENDING }.length
              %dd.count.instance.failure= pool.instances.select {|i| i.state == Instance::STATE_ERROR || i.state == Instance::STATE_CREATE_FAILED }.length
            %li
              %dt Quota Used
              %dd.percentage.quota
                = number_to_percentage(pool.quota.percentage_used, :precision => 0)
        %a.control{:href => '#'}
          %span Expand/Collapse
      %div.content
        = render :partial => 'deployments', :locals => {:deployments => pool.deployments}
      %ul.content.actions
        %li
          = link_to "#{pool.name} Pool details &raquo;", pool_path(pool), :class =>'pool_details'
        %li
          = link_to 'New Deployment', launch_new_deployments_path(:pool_id => pool.id), :class => 'button primary', :id => 'new_deployment_button'

:javascript
  $(document).ready(function() {
    $('div.pool').each(function(){
      var this_pool = this;
      $(this).find('header a.control').click(function(){
        $(this_pool).toggleClass('collapsed');
        return false;
      });
    })
  });
