#scoreboard
  %dl.statistics
    %ul.groups
      %li
        %dt= t("pools.index.pools")
        %dd.count.pool= @user_pools.count
        %dd.count.pool.partial= @statistics[:pools_in_use]
      %li
        %dt= t("deployments.deployments")
        %dd.count.deployment= @statistics[:deployments]
      %li
        %dt= t("instances.instances")
        %dd.count.instance= @statistics[:instances]
        %dd.count.instance.pending= @statistics[:instances_pending]
        %dd.count.instance.failure= @statistics[:instances_failed]
      %li
        %ul.subgroup
          %li
            %dt= t("alerts")
            %dd.count.alert= @statistics[:instances_failed]
      %li
        %dt= t("pools.index.quota_used")
        %dd.percentage.quota= number_to_percentage(@statistics[:pf_used_percentage], :precision => 0)
        %dd.fraction.instance
          %span.part= @statistics[:pf_running_instances]
          %span.divider.label.small.caps of
          %span.total= @statistics[:pf_available_quota].nil? ? raw('&infin;') : @statistics[:pf_available_quota]
