#scoreboard
  %dl.statistics
    %ul.groups
      %li
        %dt=_("Cloud Providers")
        %dd.count.provider{:title => _("Total Cloud Providers")}= @statistics[:cloud_providers]
      %li
        %dt=_("Deployments")
        %dd.count.deployment{:title => _("Total Deployments")}= @statistics[:deployments]
      %li
        %dt=_("Instances")
        %dd.count.instance{:title => _("Total Instances")}= @statistics[:instances_deployed]
        %dd.count.instance.pending{:title => _("Instances pending")}= @statistics[:instances_pending]
        %dd.count.instance.failure{:title => _("Instances failed")}= @statistics[:instances_failed_count]
      %li
        %ul.subgroup
          %li
            %dt=_("Alerts")
            %dd.count.alert{:title => _("Alerts")}= @statistics[:instances_failed_count]
      %li
        %dt
          = _("Pool")
          = _("Quota Used")
        %dd.percentage.quota{:title => _("Quota usage")}
          = number_to_percentage(@pool.quota.percentage_used, :precision => 0)
        %dd.fraction.instance
          %span.part{:title => _("Running Instances")}= @statistics[:used_quota]
          %span.divider.label.small.caps of
          %span.total{:title => _("Total Instances available")}= @pool.quota.maximum_running_instances or '&infin;'.html_safe
-# TODO: Implement alerts and updates
