#scoreboard
  %dl.statistics
    %ul.groups
      %li
        %dt=t'cloud_providers'
        %dd.count.provider{:title => t('pools.scoreboard.cloud_providers_total')}= @statistics[:cloud_providers]
      %li
        %dt=t'deployments.deployments'
        %dd.count.deployment{:title => t('pools.scoreboard.deployments_total')}= @statistics[:deployments]
      %li
        %dt=t'instances.instances.other'
        %dd.count.instance{:title => t('pools.scoreboard.total_instances')}= @statistics[:instances_deployed]
        %dd.count.instance.pending{:title => t('pools.scoreboard.instances_pending')}= @statistics[:instances_pending]
        %dd.count.instance.failure{:title => t('pools.scoreboard.instances_failed')}= @statistics[:instances_failed_count]
      %li
        %ul.subgroup
          %li
            %dt=t'alerts_label'
            %dd.count.alert{:title => t('pools.scoreboard.alerts')}= @statistics[:instances_failed_count]
      %li
        %dt
          = t("pools.pool")
          = t("quota_used")
        %dd.percentage.quota{:title => t('pools.scoreboard.quota_usage')}
          = number_to_percentage(@pool.quota.percentage_used, :precision => 0)
        %dd.fraction.instance
          %span.part{:title => t('pools.scoreboard.running_instances_quota')}= @statistics[:used_quota]
          %span.divider.label.small.caps of
          %span.total{:title => t('pools.scoreboard.total_available_instances')}= @pool.quota.maximum_running_instances or '&infin;'.html_safe
-# TODO: Implement alerts and updates
