= render :partial => 'layouts/nav_history'
%header.page-header
  .obj_actions
    - if check_privilege(Privilege::CREATE, Deployment, @pool)
      = link_to _("New Deployment"),
                launch_new_deployments_path(:pool_id => @pool.id),
                :class => 'button primary',
                :id => 'new_deployment_button'
    .catalog_link
      = render :partial => 'layouts/catalog_dropdown', :locals => {:catalogs => @catalogs}
    = link_to _("Provider Selection"), pool_provider_selection_path(@pool), :class => 'button primary', :id => 'provider_selection_button'
    .button-group
      - if check_privilege(Privilege::MODIFY, @pool)
        = link_to _("Edit"), edit_pool_path(@pool), :class => 'button', :id => 'edit_pool_button'
        = button_to _("Delete"), pool_path(@pool), :method => :delete, :confirm => _("Are you sure you want to delete this Pool? All related Catalogs and Deployables will also be deleted."), :class => "button danger", :id => 'delete_pool_button'
  %h1.pools= @title

= render :partial => 'scoreboard_show'
= render :partial => 'alerts_show'

%section.content-section
  %header#tab-container-1
    .section-controls
      = pretty_filter_toggle(pool_path(@pool, :view => 'pretty', :details_tab => @details_tab[:id], :page => params[:page]), pool_path(@pool, :view => 'filter', :details_tab => @details_tab[:id], :page => params[:page]))
    %nav.faceted
      %ul#tab-container-1-nav
        - @tabs.each do |tab|
          %li
            %a{ :href => url_for(:details_tab => tab[:id], :only_tab => true), :id => "details_#{tab[:id]}", :class => "#{'active' if @details_tab[:id] == tab[:id]} show", 'data-pretty_view_toggle' => tab[:pretty_view_toggle] }
              = tab[:name]
            -if tab[:count]
              %span.label.badge.count.dark=tab[:count]
  .content.collapsible.toggle-view.pools#tab
    = render :partial => @view
