= render :partial => 'header_show'
= render :partial => 'scoreboard_show'

-# TODO - Alerts aren't implemented just yet
-#= render :partial => 'alerts'

-# TODO: %w(Deployments History Properties Permissions) links/tabs, plus filter links/icons, go here
%section.content-section
  %header#tab-container-1
    %nav.faceted
      %ul#tab-container-1-nav
        - @tabs.each do |tab|
          %li
            %a{ :href => url_for(:details_tab => tab[:id], :only_tab => true), :id => "details_#{tab[:id]}", :class => "#{'active' if @details_tab[:id] == tab[:id]} show"}
              = tab[:name]
          -if tab[:count]
            %span.label.badge.count.dark=tab[:count]
    #obj_actions.button-container
    .button-group
      = pretty_filter_toggle(pool_path(@pool, :view => 'pretty', :details_tab => @details_tab[:id]), pool_path(@pool, :view => 'filter', :details_tab => @details_tab[:id]))
    .section-controls
      %a.collapse{'href'=>'#'} Collapse
  .content.collapsible.toggle-view.pools#tab
    %ul.deployable-cards
      = render :partial => @view
