= render :partial => 'layouts/nav_history'
= render :partial => 'header_show'
= render :partial => 'scoreboard_show'
= render :partial => 'alerts_show'

%section.content-section
  %header#tab-container-1
    %nav.faceted
      %ul#tab-container-1-nav
        - @tabs.each do |tab|
          %li
            %a{ :href => url_for(:details_tab => tab[:id], :only_tab => true), :id => "details_#{tab[:id]}", :class => "#{'active' if @details_tab[:id] == tab[:id]} show", 'data-pretty_view_toggle' => tab[:pretty_view_toggle] }
              = tab[:name]
            -if tab[:count]
              %span.label.badge.count.dark=tab[:count]
    .section-controls
      #obj_actions.button-container
        .button-group
          = pretty_filter_toggle(pool_path(@pool, :view => 'pretty', :details_tab => @details_tab[:id], :page => params[:page]),
                                 pool_path(@pool, :view => 'filter', :details_tab => @details_tab[:id], :page => params[:page]))
  .content.collapsible.toggle-view.pools#tab
    = render :partial => @view
