<% if @instances.size == 0 %>
<h1>There are no instances to display</h1>
<% else %>
  <table>
    <thead>
      <tr>
      <th scope="col">Actions</th>
      <th scope="col">Name</th>
      <th scope="col">State</th>
      <th scope="col">Hardware Profile</th>
      <th scope="col">Image</th>
      </tr>
    </thead>
    <tbody>
      <%@instances.each {|instance| %>
        <tr>
          <td>
            <ul class="instance_action_list">
            <%instance.get_action_list.each {|action|%>
              <li>
              <%= link_to action, :controller => "instance",
                                  :action => "instance_action",
                                  :id => instance,
	                          :instance_action => action %>
              </li>
	    <% } %>
            </ul>
          </td>
          <td><%= instance.name %></td>
          <td><%= instance.state %></td>
          <td><%= instance.hardware_profile.name %></td>
          <td><%= instance.image.name %></td>
        </tr>
      <% } %>
    </tbody>
  </table>
<% end %>
<%= link_to "Add a new instance", {:controller => "instance", :action => "new", :id => @pool}, :class=>"actionlink"%>
<%= link_to "Hardware Profiles",  {:action => "hardware_profiles", :id => @pool.id}, :class=>"actionlink"%>
<%= link_to "Accounts",  {:action => "accounts", :id => @pool.id}, :class=>"actionlink"%>
