<% if @provider.cloud_accounts.size == 0 %>
<h1>There are no accounts to display</h1>
<% else %>
    <table>
      <thead>
        <tr>
        <th scope="col">Username</th>
        <th scope="col"></th>
        <th scope="col"></th>
        </tr>
      </thead>
      <tbody>
  <%@provider.cloud_accounts.each {|acct| %>
        <tr>
          <td><%= acct.username %></td>
          <td><%= link_to "Edit",   {:controller => 'cloud_accounts', :action => 'edit', :id => acct.id}    if has_account_modify?(@provider) %></td>
          <td><%= link_to "Delete", {:controller => 'cloud_accounts', :action => 'destroy', :id => acct.id} if has_account_modify?(@provider) && acct.destroyable? %></td>
		  <td><%= link_to "Quota", {:controller => 'quota', :action => 'show', :id => acct.id, :parent_type => "cloud_account"} %></td>
        </tr>
      <% } %>
    </tbody>
  </table>
<% end %>
<%= link_to "Add an account", {:controller => "cloud_accounts", :action => "new", :provider_id => @provider}, :class => "actionlink" %>
