= render :partial => 'layouts/admin_nav'

%header.page-header
  .obj_actions
    .return_to
      = t(:return_to)
      = link_to _('Provider Selection Strategies for Pool: %s') % @pool.name, pool_provider_selection_path(@pool)
  %h1.no-icon= _('Edit %s strategy') % @strategy.translated_name

%section.content-section
  .content#priority-group-form
    = conductor_form_for(@config, :as => :config,
                         :url => save_strategy_options_pool_provider_selection_path(@pool, @strategy.name)) do |f|
      = render :partial => @edit_partial, :locals => { :form => f }
      = f.button :form_buttons, :cancel => pool_provider_selection_path(@pool)
