= render :partial => 'layouts/admin_nav'

%header.page-header
  .obj_actions
    .return_to
      = t(:return_to)
      = link_to t('provider_selection.show.environment', :environment => @environment.name), pool_family_path(@environment)
  %h1.no-icon= _("Provider Selection Strategies")

%section.content-section
  %header
    %h2=t 'Available Strategies'
  .content
    %table.provider-selection-strategies
      - ProviderSelection::Base.strategies.each do |strategy|
        %tr
          %td.status
            = link_to('', toggle_strategy_pool_provider_selection_path(@pool, strategy.name), :class => "status-toggle #{strategy_toggle_state(strategy)}")
          %td= strategy.translated_name
          %td.right= strategy_actions(strategy)
