%header.page-header
  %h1.no-icon= @instance.name.blank? ? _("Edit Instance") : @instance.name

%section.content-section
  %header
    %h2= _("Edit Instance")
  .content
    = form_for @instance, :html => {:class => 'generic'} do |form|
      - if @instance.errors.any?
        = render 'layouts/error_messages', :object => @instance
      %fieldset
        .field
          = label :instance, :name, :class => 'em'
          = text_field :instance, :name, :class => 'em long'
      %fieldset.options
        = submit_tag _("Save"), :name => 'save', :id => 'save', :class => 'button'
        = link_to _("Cancel"), @instance, :class => 'button danger'
