%div.instance_details
  %h3
    = t 'instances.history.history_for'
    = @instance.name
  %ol
    - @events.each do |event|
      %li
        = "#{event.event_time.strftime('%d-%b-%Y %H:%M:%S')}: #{event.summary}"

  = will_paginate @events
