- columns = [                                                     |
  {:id => 'id', :header => ''},                                   |
  {:header => 'Actions'},                                         |
  {:id => 'name', :header => 'Name', :sortable => true},          |
  {:header => 'Details'},                                         |
  {:id => 'template', :header => 'Template'},                     |
  {:id => 'state', :sortable => true, :header => 'State'},        |
  {:id => 'time_last_running', :header => 'Time last running'},   |
]                                                                 |

- opts = { :order => @order,
  :order_dir => @order_dir,
  :title => "Instances for #{@pool.name}",
  :check_all => 'id' }

= paginated_table('instances_table', columns, @instances, opts) do |rec|
  %tr{:class => "#{cycle('even', 'odd')}"}
    %td= check_box_tag 'ids[]', rec.id
    %td= rec.get_action_list.map {|action| link_to action, :controller => "instances", :action => "instance_action", :id => rec, :instance_action => action}.join(" | ")
    %td= rec.name
    %td Details
    %td= rec.template.name
    %td= rec.state
    %td= rec.time_last_running
