- content_for :form_header do
  %li= restful_submit_tag 'Stop Selected Instances', 'stop', multi_stop_instances_path, 'GET', :class => 'button', :id => 'stop_selected_instances'
  = hidden_field_tag 'backlink', request.url
  %li
    - if @hide_stopped
      %b Stopped
      instances are hidden:
      = link_to "show all", params.merge('hide_stopped' => 'false'), :id => 'show_all_instances'
    - else
      Showing all instances:
      = link_to "hide stopped", params.merge('hide_stopped' => 'true')

= filter_table([{:name =>''}, {:name => ''}, {:name => 'Name'}, {:name => 'Public Address'}, {:name => 'State'}, {:name => 'Provider'}, {:name => 'Owner'}], @instances) do |instance|
  %tr{ :class => cycle('nostripe', 'stripe') }
    %td
      - selected = params[:select] == 'all'
      = check_box_tag "instance_selected[]", instance.id, selected, :id => "instance_checkbox_#{instance.id}"
    %td
    %td= link_to instance.name, instance_path(instance)
    %td= instance.public_addresses
    %td= instance.state
    %td= instance.provider_account ? instance.provider_account.provider.name : ''
    %td= owner_name(instance)

:javascript
  Conductor.setupPrettyFilterURL(
            '#{url_for(:action => :show, :details_tab => 'instances', :view => 'filter' )}',
            '#{url_for(:action => :show, :details_tab => 'instances', :view => 'pretty' )}');
