- form_header = capture_haml do
  = restful_submit_tag 'Stop', 'stop', multi_stop_instances_path, 'GET', :class => 'button'
  = hidden_field_tag 'backlink', request.url
  - if @hide_stopped
    %b Stopped
    instances are hidden:
    = link_to "show all", params.merge('hide_stopped' => 'false')
  - else
    Showing all instances:
    = link_to "hide stopped", params.merge('hide_stopped' => 'true')

  = render :partial => 'layouts/select_all_none'

  %table#instances_table.flat.checkbox_table
    %thead
      %tr
        %th.ignore
        %th Name
        %th State
        %th Public addresses
        %th Provider
        %th Owner
    - @instances.each do |instance|
      %tr
        %td
          - selected = params[:select] == 'all'
          = check_box_tag "instance_selected[]", instance.id, selected, :id => "instance_checkbox_#{instance.id}"
        %td= link_to instance.name, instance_path(instance)
        %td= instance.state
        %td= instance.public_addresses
        %td= instance.provider_account ? instance.provider_account.provider.name : ''
        %td= owner_name(instance)
