- content_for :form_header do
  %li= link_to "#{t'instances.list.export_events'}", export_events_instances_path, :class => 'button'
  %li= restful_submit_tag "#{t'instances.list.stop_selected_instances'}", 'stop', multi_stop_instances_path, 'GET', :class => 'button', :id => 'stop_selected_instances'
  = hidden_field_tag 'backlink', request.url
  %li
    - if @hide_stopped
      %b
        = "#{t'instances.list.stopped_instances_hidden'}:"
      = link_to "#{t'instances.list.show_all'}", params.merge('hide_stopped' => 'false'), :id => 'show_all_instances'
    - else
      %B
        = "#{t'instances.list.showing_all_instances'}:"
      = link_to "#{t'instances.list.hide_stopped'}", params.merge('hide_stopped' => 'true')

= filter_table(instances_header, @instances) do |instance|
  %tr{ :class => cycle('nostripe', 'stripe') }
    %td{:class => 'checkbox'}
      - selected = params[:select] == 'all'
      = check_box_tag "instance_selected[]", instance.id, selected, :id => "instance_checkbox_#{instance.id}"
    %td{:class => 'alert'}
    %td= link_to instance.name, instance_path(instance)
    %td= instance.public_addresses
    %td= instance.state
    %td= instance.provider_account ? instance.provider_account.provider.name : ''
    %td= owner_name(instance)

:javascript
  Conductor.setupPrettyFilterURL(
            '#{url_for(:action => :show, :details_tab => 'instances', :view => 'filter' )}',
            '#{url_for(:action => :show, :details_tab => 'instances', :view => 'pretty' )}');

%script#instanceTemplate{ :type => 'text/x-jquery-tmpl' }
  :plain
    <tr>
      <td class="checkbox"><input type="checkbox" id="instance_checkbox_${id}"
                 name="instance_selected[]" value="${id}"></td>
      <td class="alert" />
      <td><a href="#{instance_path('replace_id').sub('replace_id', '${id}')}">${name}</a></td>
      <td>${public_addresses}</td>
      <td>${state}</td>
      <td>${provider}</td>
      <td>${owner}</td>
    </tr>
