- content_for :form_header do
  %li= restful_submit_tag t('instances.list.stop_selected_instances'), 'stop', multi_stop_instances_path, 'GET', :class => 'button', :id => 'stop_selected_instances', 'data-none_selected' => t('instances.none_selected')
  %li= restful_submit_tag t('instances.list.reboot_selected_instances'), 'reboot', multi_reboot_instances_path, 'GET', :class => 'button', :id => 'reboot_selected_instances', 'data-none_selected' => t('instances.none_selected_to_reboot')
  %li.more_actions
    %span
      = image_tag "more_actions_drop.png"
    %ul
      %li= link_to "#{t'instances.list.export_events'}", export_events_instances_path(:deployment_id => @deployment)
  = hidden_field_tag 'backlink', request.url

- content_for :filter_controls do
  %li
    = label_tag :instances_preset_filter, t('filter_table.viewing')
    = select_tag(:instances_preset_filter, preset_filters_options_for_select(Instance.preset_filters_options, params[:instances_preset_filter]), :include_blank => t("instances.preset_filters.all_instances"))
    = hidden_field_tag :current_path, request.fullpath
    = restful_submit_tag t("filter_table.apply_filters"), "filter", filter_instances_path, 'POST', :class => 'button', :id => 'apply_instances_preset_filter'
    %span.label.badge.dark= @instances.count
  %li.table-search-filter
    = text_field_tag :instances_search, params[:instances_search], :placeholder => t("filter_table.search")
    = restful_submit_tag "", "search", filter_instances_path, 'POST', :class => 'button', :id => 'apply_instances_search', :name => "apply_search"

  :javascript
    $(document).ready(function(){
      $("#apply_instances_preset_filter").hide();
      $("#instances_preset_filter").change(function() {
        $("#apply_instances_preset_filter").click();
      });
      Conductor.clickOnEnterKeypress($('#instances_search'), $('#apply_instances_search'));
    });

= filter_table(instances_header, @instances) do |instance|
  %tr{ :class => cycle('nostripe', 'stripe') }
    %td{:class => 'checkbox'}
      - selected = params[:select] == 'all'
      = check_box_tag "instance_selected[]", instance.id, selected, :id => "instance_checkbox_#{instance.id}"
    %td{:class => 'alert'}= instance.failed? ? image_tag("sb_icon_instance_failure.png") : ""
    %td= link_to instance.name, instance_path(instance)
    %td= instance.public_addresses
    %td= instance.state
    %td= instance.provider_account ? instance.provider_account.provider.name : ''
    %td= owner_name(instance)

:javascript
  Conductor.setupPrettyFilterURL(
            '#{url_for(:action => :show, :details_tab => 'instances', :view => 'filter' )}',
            '#{url_for(:action => :show, :details_tab => 'instances', :view => 'pretty' )}');

%script#instanceTemplate{ :type => 'text/x-jquery-tmpl' }
  :plain
    <tr>
      <td class="checkbox"><input type="checkbox" id="instance_checkbox_${id}" name="instance_selected[]" value="${id}"></td>
      <td class="alert">
        {{if is_failed == true}}
          #{image_tag("sb_icon_instance_failure.png")}
        {{/if}}
      </td>
      <td><a href="#{instance_path('replace_id').sub('replace_id', '${id}')}">${name}</a></td>
      <td>${public_addresses}</td>
      <td>${state}</td>
      <td>${provider}</td>
      <td>${owner}</td>
    </tr>
