- form_tag do
  = restful_submit_tag 'Stop', 'stop', multi_stop_instances_path, 'GET'
  = restful_submit_tag 'Create', 'new', select_legacy_template_instances_path, 'GET'
  = restful_submit_tag 'Remove failed', 'remove_failed', remove_failed_instances_path, 'GET'

  %p
    Select:&nbsp;
    = link_to "All", params.merge(:select => 'all')
    %span> ,&nbsp;
    = link_to "None", params.merge(:select => 'none')
  %table
    = sortable_table_header @header
    - @instances.each do |inst|
      %tr
        %td
          - selected = params[:select] == 'all'
          %input{:name => 'instance_selected[]', :type => 'checkbox', :value => inst.id, :id => "instance_checkbox_#{inst.id}", :checked => selected }
          = link_to inst.name, instance_path(inst)
        %td= inst.state
        %td= inst.legacy_template ? inst.legacy_template.name : "#{inst.legacy_assembly.name} (assembly)"
        %td= inst.public_addresses
        %td= inst.provider_account ? inst.provider_account.provider.name : ''
        %td= owner_name(inst)
