= error_messages_for 'instance'
%h2 Launch instance
- form_for @instance, :url => instances_path do
  = hidden_field :instance, :template_id
  %ul
    %li
      = label :instance, :name
      = text_field :instance, :name
    %li
      = label :instance, :template
      = text_field_tag :template_name, @instance.template ? @instance.template.name : '', :disabled => true
    %li
      = label :instance, :pool
      - if @instance.pool
        = text_field_tag :pool_name, @instance.pool.name, :disabled => true
        = hidden_field :instance, :pool_id
      - else
        = select :instance, :pool_id, @pools.map {|p| [ p.name, p.id ]}, { :include_blank => true }
    %li
      = label :instance, :hardware_profile
      = select :instance, :hardware_profile_id, @hardware_profiles.map {|p| [ p.name, p.id ]}, { :include_blank => false }
    %li
      = label :instance, :frontend_realm
      = select :instance, :frontend_realm_id, @realms.map {|r| [ r.name, r.id ]}, { :include_blank => true }

  = submit_tag 'Cancel', :name => 'cancel'
  = submit_tag 'Launch', :name => 'launch'
