%ul.listing
  - if @instance.instance_parameters.empty?
    %li= _("None")
  - else
    - @instance.instance_parameters.each do |parameter|
      %li
        = parameter.service
        = parameter.name
        = parameter.type
        = parameter.value
