%table.properties_table
  %tr
    %td= _("Name")
    %td= @instance.name
  %tr
    %td= _("Status")
    %td= _(@instance.state)
  %tr
    %td= _("Public Addresses")
    %td= @instance.public_addresses
  %tr
    %td= _("Private Addresses")
    %td= @instance.private_addresses
  %tr
    %td= _("Assembly")
    %td= @instance.assembly_xml.name
  %tr
    %td= _("Provider")
    %td= @instance.provider_account.provider.name if @instance.provider_account
  %tr
    %td= _("Architecture")
    %td= @instance.hardware_profile.architecture.value
  %tr
    %td= _("Memory")
    %td= @instance.hardware_profile.memory.value
  %tr
    %td= _("Storage")
    %td= @instance.hardware_profile.storage.value
  %tr
    %td= _("Instantiation Time")
    %td= @instance.created_at.strftime("%d-%b-%Y %H:%M:%S")
  %tr
    %td= _("Current Alerts")
    %td= 0
  %tr
    %td= _("Console Connection")
    %td= _("via SSH")
  - if @instance.instance_key
    %tr
      %td= _("SSH key")
      %td= link_to _("Download"), key_instance_path(@instance), :id =>'download_ssh_key'
    %tr
      %td= _("SSH key name")
      %td= @instance.instance_key.name
  %tr
    %td= _("Owner")
    %td= "#{@instance.owner.first_name} #{@instance.owner.last_name}"
  %tr
    %td= _("Shared to")
    %td= _("N/A")
  %tr
    %td= t 'instances.properties.cost_estimate'
    %td=@instance.cost.nil? ? t('instances.properties.n_a') : '%.3f' % @instance.cost
  - if @instance.state == Instance::STATE_ERROR
    %tr
      %td= _("Error")
      %td= @instance.last_error
