%table.properties_table
  %tr
    %td= t('instances.properties.name')
    %td= @instance.name
  %tr
    %td= t('instances.properties.status')
    %td= t("instances.states.#{@instance.state}")
  %tr
    %td= t('instances.properties.public_addresses')
    %td= @instance.public_addresses
  %tr
    %td= t('instances.properties.private_adresses')
    %td= @instance.private_addresses
  %tr
    %td= t('instances.properties.assembly')
    %td= @instance.assembly_xml.name
  %tr
    %td= t('instances.properties.provider')
    %td= @instance.provider_account.provider.name if @instance.provider_account
  %tr
    %td= t('instances.properties.architecture')
    %td= @instance.hardware_profile.architecture.value
  %tr
    %td= t('instances.properties.memory')
    %td= @instance.hardware_profile.memory.value
  %tr
    %td= t('instances.properties.storage')
    %td= @instance.hardware_profile.storage.value
  %tr
    %td= t('instances.properties.instantiation_time')
    %td= @instance.created_at.strftime("%d-%b-%Y %H:%M:%S")
  %tr
    %td= t('instances.properties.current_alerts')
    %td= 0
  %tr
    %td= t('instances.properties.console_connection')
    %td= t('instances.properties.via_ssh')
  - if @instance.instance_key
    %tr
      %td= t('instances.properties.ssh_key')
      %td= link_to t('instances.properties.download'), key_instance_path(@instance), :id =>'download_ssh_key'
    %tr
      %td= t('instances.properties.ssh_key_name')
      %td= @instance.instance_key.name
  %tr
    %td= t('instances.properties.owner')
    %td= "#{@instance.owner.first_name} #{@instance.owner.last_name}"
  %tr
    %td= t('instances.properties.shared_to')
    %td= t('instances.properties.n_a')
  - if @instance.state == Instance::STATE_ERROR
    %tr
      %td= t('instances.properties.error')
      %td= @instance.last_error
