%header.page-header
  %h1.deployments= _("Terminate Instances")

%section.content-section
  .content
    .align-center
      %strong= _("The Provider is not accessible. The status of following Instances will be changed to 'stopped' but their actual state is unknown.")
    - url = @instance ? stop_instance_path(@instance) : multi_stop_instances_path
    = form_tag url, :method => :post do
      - @instances_to_stop.each do |i|
        = hidden_field_tag 'instance_selected[]', i.id
      %ul.listing
        - @inaccessible_instances.each do |i|
          %li= i.name
      - if @instance
        = link_to _("Cancel"), deployment_path(@instance.deployment, :details_tab => 'instances'), :class => 'button'
      - else
        = link_to _("Cancel"), pools_path(:view => 'filter', :details_tab => 'instances'), :class => 'button'
      = submit_tag _("Terminate"), :name => 'terminate', :class => 'button', :id => 'terminate_button'
