%h3 Show Templates
%hr
%ul
  - @legacy_templates.each do |tpl|
    %li
      - form_tag new_instance_path do
        = hidden_field :instance, :legacy_template_id, :value => tpl.id
        - if tpl.platform != "unknown"
          = image_tag "platform_#{tpl.platform}.png", :size => "32x32", :alt => tpl.platform
        %h3= tpl.name
        %p= tpl.summary
        %p
          %label Group:
          System
          %label Version:
          2.5
        = submit_tag 'Launch', :name => 'launch'
= will_paginate(@legacy_templates)
= page_entries_info(@legacy_templates)
