= render :partial => 'layouts/nav_history'
%header.page-header
  .obj_actions
    - if check_privilege(Privilege::MODIFY, @instance)
      = link_to _("Edit"), edit_instance_path(@instance), :class => 'button',
                                                          :id => 'edit_instance_button'
  %h1.deployments= @instance.name

%section.content-section
  %header#tab-container-1
    %nav.faceted
      %ul#tab-container-1-nav
        - @tabs.each do |tab|
          %li
            %a{ :href => url_for(:details_tab => tab[:id]), :id => "details_#{tab[:id]}", :class => "#{'active' if @details_tab[:id] == tab[:id]}" }
              = tab[:name]
  .content#tab
    = render :partial => @view
