.actionsidebar.grid_3
  %dl
    %dd
      %a.selected Self-Service User
  %form
    = submit_tag t(:edit), :disabled => 'disabled'
    = submit_tag t(:new), :disabled => 'disabled'

.grid_13
  = error_messages_for @parent_type
  %h2
    = t('.self_service_default')
  - form_for @self_service_default_quota, :url => { :action => 'update' } do |form|
    %h3 Instances
    %fieldset.clearfix
      %label.grid_2.alpha Permissions:
      .grid_4 My personal Instances
      .grid_4 Full Instance Permission
      .grid_3.omega
        (
        %a{:href=>'#'}> Edit
        )
        (
        %a{:href=>'#'}> Remove
        )
    %fieldset.clearfix.gap
      .grid_4.prefix_2.alpha
        %select.disabled{:disabled => true}
          %option
            Category of Instances
      .grid_4
        %ul.block
          %li
            %input{ :type => "radio", :name => "permission", :disabled => true}
            %label.disabled Control Instance - Can't Share
          %li
            %input{ :type => "radio", :name => "permission", :disabled => true}
            %label.disabled Control Instance - Can Share
          %li
            %input{ :type => "radio", :name => "permission", :disabled => true}
            %label.disabled Full Instance Permission
          %li
            %input{ :type => "radio", :name => "permission", :disabled => true}
            %label.disabled Custom ...
      .grid_3.omega
        (
        %a{:href=>'#'}> Add
        )
    = hidden_field :self_service_default_quota,  :id
    %fieldset.clearfix.gap
      %label.grid_2.alpha
        = t('.quota') + ":"
      = text_field :self_service_default_quota, :maximum_running_instances, :class => 'grid_5'
      .grid_2.la (instances)
      = form.error_message_on :maximum_running_instances, 'Maximum Running Instances '
    %h3 POOLS
    %fieldset.clearfix
      %label.grid_2.alpha Permissions:
      .grid_4 General Usage
      .grid_4 Regular Pool User
      .grid_3.omega
        (
        %a{:href=>'#'}> Edit
        )
        (
        %a{:href=>'#'}> Remove
        )
    %fieldset.clearfix.gap
      .grid_4.prefix_2.alpha
        %select.disabled{:disabled => true}
          %option
            Category of Pools
      .grid_4
        %ul.block
          %li
            %input{ :type => "radio", :name => "pooltype", :disabled => true}
            %label.disabled Limited Pool User
          %li
            %input{ :type => "radio", :name => "pooltype", :disabled => true}
            %label.disabled Regular Pool User
          %li
            %input{ :type => "radio", :name => "pooltype", :disabled => true}
            %label.disabled Advanced Pool User
          %li
            %input{ :type => "radio", :name => "pooltype", :disabled => true}
            %label.disabled Custom ...
      .grid_3.omega
        (
        %a{:href=>'#'}> Add
        )
    %h3 TEMPLATES
    %fieldset.clearfix
      %label.grid_2.alpha Permissions:
      .grid_4 General Usage
      .grid_4 Basic Template User
      .grid_3.omega
        (
        %a{:href=>'#'}> Edit
        )
        (
        %a{:href=>'#'}> Remove
        )
    %fieldset.clearfix.gap
      .grid_4.prefix_2.alpha
        %select.disabled{:disabled => true}
          %option
            Category of Templates
      .grid_4
        %ul.block
          %li
            %input{ :type => "radio", :name => "pooltype", :disabled => true}
            %label.disabled Basic Template User
          %li
            %input{ :type => "radio", :name => "pooltype", :disabled => true}
            %label.disabled General Template User
          %li
            %input{ :type => "radio", :name => "pooltype", :disabled => true}
            %label.disabled Advanced Template User
          %li
            %input{ :type => "radio", :name => "pooltype", :disabled => true}
            %label.disabled Custom ...
      .grid_3.omega
        (
        %a{:href=>'#'}> Add
        )
    .grid_13.omega.alpha.gap
      %button.formbutton Reset
      = submit_tag t(:save), :class => "submit formbutton"
