= form.error_messages
%fieldset
  = form.label :name, 'Name', :class => "grid_3 alpha"
  = form.text_field :name, :class => "grid_5"
%fieldset
  = form.submit "Save",  :class => "submit formbutton"
  = link_to t(:cancel), roles_path, :class => 'button formbutton'
