- if @role.errors.any?
  = render 'layouts/error_messages', :object => @role
%fieldset
  .field
    = form.label :name, :class => 'em'
    .input
      = form.text_field :name, :class => "em long"
%fieldset.options
  = form.submit _("Save"), :class => "button"
  = link_to _("Cancel"), roles_path, :class => 'button danger'
