%section.content-section.roles
  %header
    %h2 Roles List
    %span.label.badge.dark.count= @roles.length

  .content
    - content_for :form_header do
      %li= restful_submit_tag "Delete", "destroy", multi_destroy_roles_path, 'DELETE', :id => 'delete_button', :class => 'button danger'

    = filter_table(roles_header, @roles) do |role|
      %tr{:class => cycle('nostripe','stripe')}
        %td
          - selected = params[:select] == 'all'
          = check_box_tag "role_selected[]", role.id, selected, :id => "role_checkbox_#{role.id}"
        %td= link_to role.name, role_path(role)
