%section.content-section.roles
  %header
    %h2 Roles List
    %span.label.badge.dark.count= @roles.length

  .content
    - form_tag multi_destroy_roles_path do
      = submit_tag "Delete", :id => 'delete_button', :class => 'button'
      %p
        Select:&nbsp;
        = link_to "All", @url_params.merge(:select => 'all')
        %span> ,&nbsp;
        = link_to "None", @url_params.merge(:select => 'none')

      %table#roles_table
        %thead
          %tr
            %th.ignore
            %th= link_to "Role Name", roles_path(:sort_by => "name")
        - @roles.each do |role|
          %tr{:class => cycle('stripe')}
            %td
              - selected = @url_params[:select] == 'all'
              = check_box_tag "role_selected[]", role.id, selected, :id => "role_checkbox_#{role.id}"
            %td= link_to role.name, role_path(role)
