%table.properties_table
  %tr
    %td= _("Scope")
    %td= @role.scope
%table.properties_table
  %thead
    %tr
      %th=_("Privileges")
      %th
  %tbody
    %tr
      %td= _("Action")
      %td= _("Target type")
    -@role.privileges.each do |privilege|
      %tr
        %td= privilege.action
        %td= privilege.target_type
