%strong=t 'roles.properties.scope'
%span #{@role.scope}
%table
  %thead
    %tr
      %th.show
        =t 'roles.properties.privileges'
      %th.show
  %tbody
    %tr
      %td
        %label= t'roles.properties.action'
      %td
        %label= t'roles.properties.target_type'
    -@role.privileges.each do |privilege|
      %tr
        %td
          = privilege.action
        %td
          = privilege.target_type
