%table.properties_table
  %tr
    %td= t 'roles.properties.scope'
    %td= @role.scope
%table.properties_table
  %thead
    %tr
      %th=t 'roles.properties.privileges'
      %th
  %tbody
    %tr
      %td= t'roles.properties.action'
      %td= t'roles.properties.target_type'
    -@role.privileges.each do |privilege|
      %tr
        %td= privilege.action
        %td= privilege.target_type
