.grid_13
  %h2 #{@role.name}
  %strong Scope:
  %span #{@role.scope}
  %table
    %thead
      %tr
        %th.show
          Privileges
        %th.show
    %tbody
      %tr
        %td
          %label Action
        %td
          %label Target type
      -@role.privileges.each do |privilege|
        %tr
          %td
            = privilege.action
          %td
            = privilege.target_type
  = link_to t(:edit), edit_role_path(@role), :class => 'button formbutton'
