= render :partial => 'layouts/admin_nav'
%header.page-header
  .obj_actions
    = link_to _("New Role"), new_role_url, :class => 'button primary', :id => 'new_role_button'
    = link_to _("Cancel Editing"), role_path(@role), :class => 'button pill danger', :id => 'new_role_button'
  %h1.no-icon= @role.name.titlecase

%section.content-section.role
  %header
    - if check_privilege(Privilege::MODIFY, Role)
      %h2=_("Editing Role:") + "#{@role.name}"
    - else
      %h2=_("Editing Role:")
  .content
    = form_for @role, :url => role_path(@role), :html => { :method => :put, :class => 'generic horizontal' } do |f|
      = render :partial => "form", :locals => { :form => f }
