= render :partial => 'layouts/admin_nav'
%header.page-header
  .obj_actions
    = link_to t('roles.new_role'), new_role_url, :class => 'button primary', :id => 'new_role_button'
    .button-group
      = link_to t('edit'), edit_role_path(@role), :class => 'button pill'
      = button_to t('delete'), role_path(@role), :method => :delete, :class => 'button pill danger',
        :confirm => t('roles.show.sure_to_delete')
  %h1.no-icon= @role.name

%section.content-section.role
  %header
    %h2= t'roles.show.properties'

  .content
    = render :partial => 'properties'
