= render :partial => 'layouts/admin_nav'
%header.page-header
  .obj_actions
    = link_to _("New Role"), new_role_url, :class => 'button primary', :id => 'new_role_button'
    .button-group
      = link_to _("Edit"), edit_role_path(@role), :class => 'button pill'
      = button_to _("Delete"), role_path(@role), :method => :delete, :class => 'button pill danger',
        :confirm => _("Are you sure you want to delete this role?")
  %h1.no-icon= @role.name

%section.content-section.role
  %header
    %h2= _("Properties")

  .content
    = render :partial => 'properties'
