= form.input :first_name, :disabled => @ldap_user
= form.input :last_name, :disabled => @ldap_user
= form.input :email, :disabled => @ldap_user, :required => @user.local_user?
= form.input :username, :disabled => @ldap_user
= form.input :password, :disabled => @ldap_user, :required => @user.check_password?
= form.input :password_confirmation, :disabled => @ldap_user, :required => @user.check_password?
= form.fields_for :quota do |quota_form|
  = quota_form.input :maximum_running_instances
