- if @user.errors.any?
  = render 'layouts/error_messages', :object => @user

%fieldset
  %p.clearfix
    = form.label :first_name, t(:first_name)
    = form.text_field :first_name, :class =>"check_change"
  %p.clearfix
    = form.label :last_name, t(:last_name)
    = form.text_field :last_name, :class =>"check_change"
  %p.clearfix
    = form.label :email, t(:email), :required => true
    = form.text_field :email, :class =>"check_change"
%fieldset
  %p.clearfix
    = form.label :login, t(:choose_name), :required => true
    = form.text_field :login, :class => "em check_change"
  %p.clearfix
    = form.label :password, form.object.new_record? ? t(:choose_password) : t(:change_password), :required => form.object.new_record?
    = form.password_field :password
  %p.clearfix
    = form.label :password_confirmation, t(:confirm_password), :required => form.object.new_record?
    = form.password_field :password_confirmation

- if check_privilege(Privilege::MODIFY, User)
  %fieldset
    = form.fields_for :quota do |quota_form|
      %p.clearfix
        = quota_form.label :maximum_running_instances, t(:maximum_running_instances)
        = quota_form.text_field :maximum_running_instances

  %fieldset
    %legend=t'users.form.user_status'
    %ul.radio-group
      %li
        = label_tag "user_status_active", "Active"
        = radio_button_tag "user_status","Active",true
      %li
        = label_tag "user_status_inactive", "Inactive"
        = radio_button_tag "user_status","Inactive", false, :disabled => true

%fieldset.options
  = form.submit "#{t'users.form.save_user'}",  :class => "submit button pill"

:javascript
  $('.check_change').change(function(){
    switch(this.id){
      case 'user_last_name':
        $('span#last_name').text(this.value);
        break;
      case 'user_first_name':
        $('span#first_name').text(this.value);
        break;
      case 'user_email':
        $('dd#email').text(this.value);
        break;
      case 'user_login':
        $('dd#login').text(this.value);
        break;
    }
  });
