%fieldset
  = form.label :login, "Choose a username:"
  = form.text_field :login
%fieldset
  = form.label :password, form.object.new_record? ? "Choose a password:" : "Change password:"
  = form.password_field :password
%fieldset
  = form.label :password_confirmation, "Confirm password:"
  = form.password_field :password_confirmation
-if has_user_modify?
  %fieldset
    = form.label :user_status
    = radio_button_tag "user_status","Active",true
    = label_tag "user_status", "Active"
    = radio_button_tag "user_status","Inactive"
    = label_tag "user_status", "Inactive"
%fieldset
  = form.label :first_name
  = form.text_field :first_name
%fieldset
  = form.label :last_name
  = form.text_field :last_name
%fieldset
  = form.label :email
  = form.text_field :email
-if has_user_modify?
  %h3 USER TREATMENT
  = label_tag 'apply_treatment', "Apply User Treatment:"
  = select_tag 'user_treatment', options_for_select(["Choose Treatment"])
  = submit_tag 'Apply', :disabled => true
  %br/
  %hr
  - form.fields_for :quota do |quota_form|
    %fieldset
      = quota_form.label :maximum_running_instances
      = quota_form.text_field :maximum_running_instances
      (instances)
