%section.content-section.users
  %header
    %h2 Enabled Users
    %span.label.badge.dark.count= @users.length

  .content
    - form_header = capture_haml do
      = restful_submit_tag "Delete", "destroy", multi_destroy_users_path, 'DELETE',
        :id => 'delete_button', :class => 'button danger'

    = filter_table(@header, @users, :form_header => form_header) do |user|
      %tr{:class => cycle('nostripe','stripe')}
        %td
          - selected = params[:select] == 'all'
          = check_box_tag "user_selected[]", user.id, selected, :id => "user_checkbox_#{user.id}"
        %td= link_to user.login, user_path(user)
        %td= user.last_name
        %td= user.first_name
        %td= user.quota ? user.quota.percentage_used.to_s + "%": 'unlimited'
        %td= Quota.no_limit(user.quota.maximum_running_instances) ? "Unlimited" : user.quota.maximum_running_instances
        %td= user.email
