%section.content-section.users
  %header
    %h2 Enabled Users
    %span.label.badge.dark.count= @users.length

  .content
    - form_tag multi_destroy_users_path do
      = submit_tag "Delete", :id => 'delete_button', :class => 'button danger'

      %table#users_table
        %thead
          %tr
            %th.ignore
            %th= link_to "User ID", users_url(:sort_by => "login")
            %th= link_to "Last Name", users_url(:sort_by => "last_name")
            %th= link_to "First Name", users_url(:sort_by => "first_name")
            %th= link_to "% Quota Used", users_url(:sort_by => "percentage_quota_used")
            %th
              =link_to "Quota", users_url(:sort_by => "quota")
              %span (Instances)
            %th= link_to "e-mail", users_url(:sort_by => "email")
        -@users.each do |user|
          %tr{:class => cycle('stripe')}
            %td
              = check_box_tag "user_selected[]", user.id, false, :id => "user_checkbox_#{user.id}"
            %td= link_to user.login, user_path(user)
            %td= user.last_name
            %td= user.first_name
            %td= sprintf("%.2f", user.quota.percentage_used)
            %td= Quota.no_limit(user.quota.maximum_running_instances) ? "Unlimited" : user.quota.maximum_running_instances
            %td= user.email

:javascript
  $(document).ready(function () {
    $('#delete_button').click(function(e) {
      if ($("#users_table input[@type=radio]:checked").length == 0) {
        alert('Please select any user to be deleted before clicking Delete button.');
        e.preventDefault();
      } else {
        if (!confirm("Are you sure you want to delete this user?")) {
          e.preventDefault();
        }
      }
    });
  });
