%header
  %h2#users.users= @title

- content_for :form_header do
  %li= link_to _("Add User"), new_user_path, :class => 'button primary', :id => 'add_user_button'
  %li= restful_submit_tag "#{_("Delete")}", "destroy", multi_destroy_users_path, 'DELETE', :id => 'delete_button', :class => 'button danger'

- content_for :filter_controls do
  %li
    = label_tag :users_preset_filter, _("Viewing")
    = hidden_field_tag :current_path, request.fullpath
    = select_tag(:users_preset_filter, preset_filters_options_for_select(User::PRESET_FILTERS_OPTIONS, params[:users_preset_filter]), :include_blank => _("All Users"), :disabled => true)
    = restful_submit_tag _("Apply filters"), "index", filter_users_path, 'POST', :class => 'button', :id => 'apply_users_preset_filter'
    %span.label.badge.dark= @users.count
  /  = link_to "Filter", "#", :class => 'button pill'
  /%li
  /%li.more_actions
  /  %span= image_tag "button-userdrop.png"
  /  %ul
  /    %li= link_to "Add/Remove Columns", "#"
  /    %li= link_to "Freeze Column", "#"
  %li.table-search-filter
    = text_field_tag :users_search, params[:users_search], :placeholder => _("Search")
    = restful_submit_tag "", "index", filter_users_path, 'POST', :class => 'button', :id => 'apply_users_search'

  :javascript
    $(document).ready(function(){
      $("#apply_users_preset_filter").hide();
      $("#users_preset_filter").change(function() {
        $("#apply_users_preset_filter").click();
      });
      Conductor.clickOnEnterKeypress($('#users_search'), $('#apply_users_search'));
    });

= filter_table(@header, @users) do |user|
  %tr{:class => cycle('nostripe','stripe')}
    %td{:class => 'checkbox'}
      - selected = params[:select] == 'all'
      = check_box_tag "user_selected[]", user.id, selected, :id => "user_checkbox_#{user.id}"
    %td= link_to user.username, user_path(user)
    %td= user.last_name
    %td= user.first_name
    %td{:class => 'center'}= number_to_percentage user.quota.percentage_used, :precision => 0
    %td{:class => 'center'}= user.quota.maximum_running_instances or "#{_("Unlimited")}"
    %td= user.email
