%header
  %h2#users.users=t'users.users'
  .section-controls
    #obj_actions
      = link_to "", new_user_path, :class => 'add-user-button', :id => 'add_user_button'

- content_for :form_header do
  %li= restful_submit_tag "#{t'users.list.delete_selected'}", "destroy", multi_destroy_users_path, 'DELETE', :id => 'delete_button', :class => 'button danger'

- content_for :filter_controls do
  %li
    = label_tag :users_preset_filter, t('filter_table.viewing')
    = select_tag(:users_preset_filter, preset_filters_options_for_select(User::PRESET_FILTERS_OPTIONS, params[:users_preset_filter]), :include_blank => t("users.preset_filters.all_users"), :disabled => true)
    = restful_submit_tag t("filter_table.apply_filters"), "index", users_path, 'GET', :class => 'button', :id => 'apply_users_preset_filter'
    %span.label.badge.dark= @users.count
  /  = link_to "Filter", "#", :class => 'button pill'
  /%li
  /%li.more_actions
  /  %span= image_tag "button-userdrop.png"
  /  %ul
  /    %li= link_to "Add/Remove Columns", "#"
  /    %li= link_to "Freeze Column", "#"
  %li.table-search-filter
    = text_field_tag :users_search, params[:users_search], :placeholder => t("filter_table.search")
    = restful_submit_tag "", "index", users_path, 'GET', :class => 'button', :id => 'apply_users_search'

  :javascript
    $(document).ready(function(){
      $("#apply_users_preset_filter").hide();
      $("#users_preset_filter").change(function() {
        $("#apply_users_preset_filter").click();
      });
    });

= filter_table(@header, @users) do |user|
  %tr{:class => cycle('nostripe','stripe')}
    %td{:class => 'checkbox'}
      - selected = params[:select] == 'all'
      = check_box_tag "user_selected[]", user.id, selected, :id => "user_checkbox_#{user.id}"
    %td= link_to user.login, user_path(user)
    %td= user.last_name
    %td= user.first_name
    %td{:class => 'center'}= number_to_percentage user.quota.percentage_used, :precision => 0
    %td{:class => 'center'}= user.quota.maximum_running_instances or "#{t'users.list.unlimited'}"
    %td= user.email
