= render :partial => 'layouts/admin_nav'
%header.page-header
  .obj_actions
    .return_to
      =t'users.return_to'
      = link_to "#{t'users.users'}", users_path
  - if check_privilege(Privilege::MODIFY, User)
    %h1.users= @title
  - else
    %h1.users=t'users.edit.edit_account'

%section.content-section.user
  .content
    = conductor_form_for @user do |f|
      = render :partial => "form", :locals => { :form => f }
      = f.button :form_buttons, :cancel => user_path(@user)