= render :partial => 'layouts/admin_nav'
%header.page-header
  .obj_actions
    .return_to
      =_("Return to:")
      = link_to "#{_("Users")}", users_path
  - if check_privilege(Privilege::MODIFY, User)
    %h1.users= @title
  - else
    %h1.users=_("Edit Account")

%section.content-section.user
  .content
    = conductor_form_for @user do |f|
      = render :partial => "form", :locals => { :form => f }
      = f.button :form_buttons, :cancel => user_path(@user)
