%table
  %thead
    %tr
      %th login
      %th email
      %th first_name
      %th last_name
      %th current_login_at
      %th last_login_at
  -@users.each do |user|
    %tbody
      %tr
        %td= user.login
        %td= user.email
        %td= user.first_name
        %td= user.last_name
        %td= user.current_login_at
        %td= user.last_login_at
