= render :partial => 'layouts/admin_nav'
%header.page-header
  .obj_actions
    .return_to
      =_("Return to:")
      = link_to _("Users"), users_path
  %h1.users= @title

%section.content-section.user
  .content
    = conductor_form_for @user do |f|
      = render :partial => "form", :locals => { :form => f }
      = f.button :form_buttons, :cancel => users_path
