= render :partial => 'layouts/admin_nav'
= render :partial => 'section_header'

%section.content-section.users
  %header
    %h2 New Account

  .content
    = form_for @user, :url => users_path, :html => {:class => 'generic'} do |f|
      -if current_user
        = render :partial => "form", :locals => { :form => f, :cancel_path => users_path }
      -else
        = render :partial => "form", :locals => { :form => f, :cancel_path => login_path }
