= render :partial => 'layouts/admin_nav'
%header.admin-page-header
  %h1.users=t'users.new.new_user'
  #obj_actions
    =t'users.return_to'
    = link_to "#{t'users.users_groups'}", users_path, :class => 'rounded-link'

%section.admin-content-section.users
  .content
    .align-center
      %p
        %strong=t'users.new.neccessary_information'
        %br
        %br
    #user_card.user_form_card
      %header.user-card-header
        %h2
          %span#first_name &nbsp;
          %span#last_name &nbsp;
      .user-card-content
        %dl
          %dt=t'users.show.e-mail'
          %dd#email &nbsp;
          %dt=t'users.show.username'
          %dd#login &nbsp;
    = form_for @user, :url => users_path, :html => {:class => 'generic'} do |f|
      -if current_user
        = render :partial => "form", :locals => { :form => f }
      -else
        = render :partial => "form", :locals => { :form => f }

:javascript
    if ($('input:text#user_first_name').val() != "")
    {
      $('span#first_name').text($('input:text#user_first_name').val());
    }

    if ($('input:text#user_last_name').val() != "")
    {
      $('span#last_name').text($('input:text#user_last_name').val());
    }

    if ($('input:text#user_email').val() != "")
    {
      $('dd#email').text($('input:text#user_email').val());
    }

    if ($('input:text#user_login').val() != "")
    {
      $('dd#login').text($('input:text#user_login').val());
    }
