= render :partial => 'layouts/admin_nav'
%header.page-header
  .obj_actions
    - if check_privilege(Privilege::VIEW, User)
      .return_to
        =t'return_to'
        = link_to t('users.users'), users_path

%section.content-section.user
  .content
    #user_card.user_stats_card
      %header.user-card-header
        %h2= format_user_name(@user)
      .user-card-content
        %dl
          %dt=t'users.show.e-mail'
          %dd= @user.email
          %dt=t'users.show.username'
          %dd= @user.login
        .button-group
          = link_to "#{t('users.show.edit')}", edit_user_path(@user), :class => 'button'
          - unless @user.id == current_user.id
            = button_to "#{t('users.show.delete')}", user_path(@user), :method => :delete, :confirm => t('users.confirm_delete'), :class => "button danger"
    %dl.user_stats
      %ul
        %div
          %li
            %dt=t'users.show.created'
            %dd= l(@user.created_at.to_date, :format => :long) if @user.created_at
          %li
            %dt=t'users.show.number_of_logins'
            %dd= @user.login_count
          %li
            %dt=t'users.show.last_login'
            %dd= l(@user.last_login_at, :format => :long) if @user.last_login_at
        %div
          %li
            %dt=t'users.show.last_updated'
            %dd= l(@user.updated_at, :format => :long) if @user.updated_at
          %li
            %dt=t'users.show.failed_logins'
            %dd= @user.failed_login_count
          %li
            %dt=t'users.show.last_login_ip'
            %dd= @user.last_login_ip

%section.content-section.groups
  %header
    %h2.groups=t'users.groups'
  .content
    = filter_table(@groups_header, @user_groups) do |user_group|
      %tr{:class => cycle('nostripe','stripe')}
        %td= link_to user_group.name, user_group_path(user_group)
        %td= t("user_groups.#{user_group.membership_source.downcase}")
%section.content-section.permissions
  %header
    %h2.permissions=t'permissions.index.permissions'
  .content
    = render :partial => 'permissions/objects'
/%section.content-section.user
/  %header
/    %h2.activity Activity
/
/  .content
/    Unimplemented.
