= render :partial => 'layouts/admin_nav'
%header.admin-page-header
  #obj_actions
    .return_to
      =t'return_to'
      = link_to t('users.users'), users_path

%section.admin-content-section.user
  .content
    #user_card.user_stats_card
      %header.user-card-header
        %h2= @title
      .user-card-content
        %dl
          %dt=t'users.show.e-mail'
          %dd= @user.email
          %dt=t'users.show.username'
          %dd= @user.login
        #obj_actions.button-group
          = link_to "#{t('users.show.edit')}", edit_user_path(@user), :class => 'button'
          = button_to "#{t('users.show.delete')}", user_path(@user), :method => :delete, :confirm => t('users.confirm_delete'), :class => "button danger"
        .clear
    %dl.user_stats
      %ul
        %div
          %li
            %dt=t'users.show.created'
            %dd= l(@user.created_at.to_date, :format => :long) if @user.created_at
          %li
            %dt=t'users.show.number_of_logins'
            %dd= @user.login_count
          %li
            %dt=t'users.show.last_login'
            %dd= l(@user.last_login_at, :format => :long) if @user.last_login_at
        %div
          %li
            %dt=t'users.show.last_updated'
            %dd= l(@user.updated_at, :format => :long) if @user.updated_at
          %li
            %dt=t'users.show.failed_logins'
            %dd= @user.failed_login_count
          %li
            %dt=t'users.show.last_login_ip'
            %dd= @user.last_login_ip
  .clear

/%section.admin-content-section.user
/  %header
/    %h2.activity Activity
/
/  .content
/    Unimplemented.
/
/%section.admin-content-section.user
/  %header
/    %h2.roles Roles &amp; Permissions
/
/  .content
/    = render :partial => 'properties'
