%table.flat
  %tr
    %td= t('logs.index.created_at')
    %td= deployment.created_at.strftime("%d-%b-%Y %H:%M:%S")
  %tr
    %td= t('logs.index.uptime')
    %td= ApplicationHelper.count_uptime(deployment.uptime_all)
  %tr
    %td= t('logs.index.frontend_realm')
    %td= deployment.frontend_realm.nil? ? t('logs.index.none') : deployment.frontend_realm.name
