%table.flat
  %tr
    %td= _("Created At")
    %td= deployment.created_at.strftime("%d-%b-%Y %H:%M:%S")
  %tr
    %td= _("Uptime")
    %td= ApplicationHelper.count_uptime(deployment.uptime_all)
  %tr
    %td= _("Frontend Realm")
    %td= deployment.frontend_realm.nil? ? _("None") : deployment.frontend_realm.name
