%table.flat
  %tr
    %td= _("Created At")
    %td= instance.created_at.strftime("%d-%b-%Y %H:%M:%S")
  %tr
    %td= _("Uptime")
    %td= ApplicationHelper.count_uptime(instance.uptime)
  %tr
    %td= _("Frontend Realm")
    %td= instance.frontend_realm.nil? ? _("None") : instance.frontend_realm.name
  %tr
    %td= _("Image")
    %td= instance.image.nil? ? _("None") : instance.image.name
  %tr
    %td= _("Hardware Profile")
    %td= instance.hardware_profile.nil? ? _("None") : instance.hardware_profile.name
