= form_tag logs_path, :method => :get, :class => 'filterable-data' do
  %div.controls
    %ul.filter-controls
      %li
        = label_tag "source_type", _("Viewing")
        = hidden_field_tag :view, @view
        = select_tag "source_type", options_for_select(@source_type_options, @source_type)
        = _("Grouped By")
        = select_tag "group", options_for_select(@group_options, @group)
        = _("From")
        = select_date @from_date, :prefix => :from_date
        = _("To")
        = select_date @to_date, :prefix => :to_date
        = restful_submit_tag _("Apply filters"), "index", filter_logs_path, 'POST', :class => 'button', :id => 'apply_logs_filter'
%br

= render :partial => 'charts/time_chart', :locals => { :datasets => @datasets.to_a, :from_date => @from_date, :to_date => @to_date, :name => 'log-history-graph' }
