= form_tag logs_path, :method => :get, :class => 'filterable-data' do
  %div.controls
    %ul.filter-controls
      %li
        = label_tag "source_type", t('filter_table.viewing')
        = hidden_field_tag :view, @view
        = select_tag "source_type", options_for_select(@source_type_options, @source_type)
        = t('logs.index.grouped_by')
        = select_tag "group", options_for_select(@group_options, @group)
        = t('filter_table.from')
        = select_date @from_date, :prefix => :from_date
        = t('filter_table.to')
        = select_date @to_date, :prefix => :to_date
        = restful_submit_tag t("filter_table.apply_filters"), "index", filter_logs_path, 'POST', :class => 'button', :id => 'apply_logs_filter'
%br

%div{:id => 'placeholder', :style => 'width:925px;height:600px;'}

:javascript
  $(function () {
    var datasets = [
      {
        label: "All",
        data: [#{ @datasets["All"].each.map{ |p| "[#{p[0]}, #{p[1]}]"}.join(", ") }]
      },
      #{ @datasets.reject{|label,data| label == "All"}.each.map{ |label,data| "{
        label: \"" + label + "\",
        data: [#{ data.each.map{ |p| "[#{p[0]}, #{p[1]}]"}.join(", ") }]
      }" }.join(",
      ") }
    ];

    $.plot($("#placeholder"), datasets, {
      xaxis: {
        mode: "time",
        min: #{@from_date.to_datetime.beginning_of_day.to_i * 1000},
        max: #{@to_date.to_datetime.end_of_day.to_i * 1000}
      }
    });
  });
