.grid_13
  - form_tag(legacy_deployable_path(@deployable)) do
    %table#assemblies_list
      %thead
        %tr
          %th
          %th= "Name"
      -@assemblies.each do |assembly|
        %tr
          %td
            %input{:name => "assemblies_selected[]", :type => "checkbox", :value => assembly.id, :id => "assembly_checkbox_#{assembly.id}" }
          %td= assembly.name

    -# AJAX post
    = restful_submit_tag('Save', 'add_assemblies', add_assemblies_legacy_deployable_path(@deployable), 'PUT')
    = link_to "Back", legacy_deployable_path(@deployable, :details_tab => 'assemblies'), :class => 'button'
