%fieldset.clear
  = label_tag "Account name:"
  = text_field :provider_account, :label
%fieldset.clear
  = label_tag :username, "API Key:"
  = text_field :provider_account, :username
%fieldset.clear
  = label_tag :password, "Secret:"
  = password_field :provider_account, :password
  = label_tag "Quota"
  = text_field :quota, :maximum_running_instances, :title => t('provider_accounts.form.quota_instances'), :value => @quota.maximum_running_instances || "unlimited", :id => "quota_instances", :class => "grid_3 omega"
.grid_3.omega
  (
  %button.linkbutton.nospace{ :type => 'submit', :value => t('provider_accounts.form.test_account'), :name => 'test_account', :id => 'test_account' }<>
    = t('provider_accounts.form.test_account')
  )
