%h3
  Properties for
  = @account.name
%p
  %label
    Running instances quota:
  = @account.quota.maximum_running_instances or 'unlimited'
%p
  %label
    Account ID:
  = @account.account_number
= link_to "Edit", edit_admin_provider_account_path(@account), { :class => 'button' }
= link_to "Test", admin_provider_account_path(@account, {:test_account => true}), { :class => 'button' }
