#details.grid_13
  = error_messages_for :provider_account
  %h2
  = t('provider_accounts.new.new_provider_account')
  %label{ :for => :provider_id }
    Provider
  %fieldset.clear
  - unless @providers.empty?
    - form_for(@provider_account, :url => admin_provider_accounts_path, :html => {:multipart => true})  do |f|
      = render :partial => 'provider_selection'
      %fieldset.clearfix
        .grid_13.alpha.omega
          = f.submit t(:add), :class => "ra nomargin dialogbutton"
      %section
        %p.requirement
          %span.required *
          \-
          = t('provider_accounts.new.required_field')
