#details.grid_13
  %h2
    = t('cloud_accounts.new.new_provider_account')
  - form_for @cloud_account, :url => admin_provider_accounts_path, :html => { :multipart => true } do |f|
    %label{ :for => :provider_id }
      Provider
    = select_tag :provider_id, options_for_select(@providers.map{ |p| [p.name, p.id] })
    = render :partial => 'form', :locals => { :f => f }
    %fieldset.clearfix
      .grid_13.alpha.omega
        = submit_tag t(:add), :class => "ra nomargin dialogbutton"
    %section
      %p.requirement
        %span.required *
        \-
        = t('cloud_accounts.new.required_field')
