- if @failed_instances.count > 0
  %section.content-section.alerts.collapse_entity
    %header
      .section-controls
        = link_to t("providers.edit.toggle_alerts"), "#", :class => 'collapse alerts' unless @statistics[:instances_failed].blank?
      %h2.alerts
        =t 'alerts_label'
        %span.label.badge.alert.count= @failed_instances.count
    .content.collapsible
      %dl.alerts
        %ul
          - @failed_instances.each do |inst|
            %li.alert
              %dt.subject.critical= inst.name
              %dd.type=t 'alerts.instance_failure'
              %dd.desc= "#{inst.last_error.blank? ? inst.state : inst.last_error}"
