%header.page-header
  %h1.deployments= @deployment.name.blank? ? _("Deployment") : @deployment.name

%section.content-section
  %header
    %h2= _("Edit Deployment")
  .content
    = form_for @deployment, :html => {:class => 'generic'} do |form|
      - if @deployment.errors.any?
        = render 'layouts/error_messages', :object => @deployment
      %fieldset
        .field
          = form.label :name, :class => 'em'
          .input
            = form.text_field :name, :class => 'em long'
      %fieldset.options
        = form.submit _("Save"), :class => 'button primary', :id => 'save_button'
        = link_to _("Cancel"), @deployment, :class => 'button danger'
