- if @deployment.errors.any?
  = render 'layouts/error_messages', :object => @deployment
%h2=t 'deployments.edit.edit_deployment'
= form_for @deployment do
  %ul
    %li
      = label :deployment
      = text_field :deployment, :name

  = submit_tag t('cancel'), :name => 'cancel'
  = submit_tag t('save'), :name => 'save', :id => 'save_button'
