= filter_table(@deployments_header, @deployments) do |deployment|
  %tr
    %td
      %input{:name => "deployment_selected[]", :type => "checkbox", :value => deployment.id, :id => "deployment_checkbox_#{deployment.id}" }
    %td
      -#there will be icons (belongs to mockups)
    %td
      = link_to(deployment.name, deployment)
    %td
      = deployment.deployable_xml.name
    %td
      = deployment.instances.count
    %td
      = link_to(deployment.provider.provider_type.name, deployment.provider) if deployment.provider

:javascript
  Conductor.setupPrettyFilterURL(
            '#{url_for(:action => :show, :details_tab => 'deployments', :view => 'filter' )}',
            '#{url_for(:action => :show, :details_tab => 'deployments', :view => 'pretty' )}');