= filter_table(@deployments_header, deployments) do |deployment|
  %tr
    %td
      %input{:name => "deployment_selected[]", :type => "checkbox", :value => deployment.id, :id => "deployment_checkbox_#{deployment.id}" }
    %td
      -#there will be icons (belongs to mockups)
    %td
      = link_to(deployment.name, deployment)
    %td
      = link_to(deployment.legacy_deployable.name, deployment.legacy_deployable) if deployment.legacy_deployable
    %td
      = count_uptime(deployment.created_at)
    %td
      = deployment.instances.count
    %td
      = link_to(deployment.provider.provider_type.name, deployment.provider) if deployment.provider
