%header
  %h2 Instances
= filter_table([{:name =>''}, {:name => ''}, {:name => 'Name'}, {:name => 'Public Address'}, {:name => 'State'}], @deployment.instances) do |instance|
  %tr
    %td
      %input{:name => "instance_selected[]", :type => "checkbox", :value => instance.id, :id => "instance_checkbox_#{instance.id}" }
    %td
      -#there will be icons (belongs to mockups)
    %td
      = instance.name
    %td
      = instance.public_addresses
    %td
      = instance.state

:javascript
  Conductor.setupPrettyFilterURL(
            '#{url_for(:action => :show, :details_tab => 'instances', :view => 'filter' )}',
            '#{url_for(:action => :show, :details_tab => 'instances', :view => 'pretty' )}');