%ol.listing
  - @events.each do |event|
    %li
      = "#{event.event_time.strftime('%d-%b-%Y %H:%M:%S')}:"
      - if event.source_type == 'Instance'
        = link_to _('Instance %s') % event.source.name, instance_path(event.source)
      = event.summary
      - if event.description.present?
        = ": #{event.description}"
