= if request.xhr?
  = render :partial => '/layouts/new_notification'
%header.page-header
  %h1.deployments
    = @title
    %span= _('to %s Pool') % "#{@pool.name.capitalize}"

%section.content-section.deployment
  %header
    %h2
      = _('Deployment Details')

  .content
    = form_for @deployment, {:url => launch_time_params_deployments_path, :method => :post, :html => {:class => 'generic'}} do |f|
      - if @deployment.errors.any?
        = render 'layouts/error_messages', :object => @deployment
      = f.hidden_field :pool_id
      = hidden_field_tag(:backlink, @backlink)

      %fieldset
        .field
          %label{:for => 'deployment_name'}
            = _('Deployment Name')
            %span
              = _('(uniquely identifies your Deployment)')
          = f.text_field(:name, :class => 'em long')
          %span#name_avail_indicator

      %fieldset
        .field
          %label{:for => 'deployable_id'}
            = _('Deployable')
          = select_tag :deployable_id, options_from_collection_for_select(@deployables, :id, :name, params[:deployable_id])

      %fieldset
        .field
          %label{:for => 'frontend_realm_id'}
            = _('Realm')
          = f.collection_select :frontend_realm_id, @realms, :id, :name, :include_blank => _('Auto-select')
          %span#realm-description

      %fieldset.options
        = submit_tag _('Next'), :class => 'button primary', :id => "next_button"
        = link_to _('Cancel'), @backlink || pool_path(@pool), :class => 'button danger', :id => 'cancel_deployment_button'


:javascript
  // FIXME: This has a theoretical race condition: if responses come back out of order, the value
  // might reflect some previous entry and tell you a name is available when it's not.
  // Might be nice to build something in application.js to guard against this, and that also
  // introduces a ~250ms buffer so we don't do a lookup on every single keystroke...
  $(document).ready(function () {
    $('#deployment_name').blur(function(e) {
      e.preventDefault();
      $('#name_avail_indicator').empty();
      $.get('#{check_name_deployments_path}', {name: $('#deployment_name').val() }, function(data) {
        $('#name_avail_indicator').html(data == "false" ? "#{_('That name is already in use')}" : "#{_('Name available')}");
      });
    });

    Conductor.fetchAjaxDescription($('#deployment_frontend_realm_id'), $('#realm-description'), "#{frontend_realms_url}/");
  });
