- if request.xhr?
  = render :partial => '/layouts/notification'

- form_tag(multi_stop_deployments_path, :method => :post, :class => 'filterable-data') do
  %ul.obj_actions
    %li= submit_tag "Stop Selected Deployments", :id => 'stop_button', :class => 'button'

  %div.controls
    %ul.filter-controls
      %li= render :partial => 'layouts/select_all_none'

    %li
      %label{:for => "deployments_running"} Viewing
      = select_tag("deployments_running", "<option>Deployments running</option>",:disabled => true)
    %li.object-count
      %strong= @deployments.count.to_s
      results

  %table#deployments_table.checkbox_table
    %thead
      %tr
        %th.ignore
        %th
          = t("pools.index.deployment_name")
        %th
          = t("pools.index.deployed_on")
        %th
          = t("instances.instances")
        %th
          = t("pools.index.pool")
        %th
          = t("pools.index.pool_family")
        %th
          = t("pools.index.owner")
    - @deployments.each do |deployment|
      %tr
        %td
          - selected = params[:select] == 'all'
          = check_box_tag "deployments_selected[]", deployment.id, selected, :id => "deployment_checkbox_#{deployment.id}"
        %td
          = link_to deployment.name, deployment_path(deployment)
        %td
          = deployment.created_at
        %td
          = deployment.instances.count
        %td
          = link_to deployment.pool.name, pool_path(deployment.pool)
        %td
          = deployment.pool.pool_family.name
        %td
          = owner_name(deployment)
