- if request.xhr?
  = render :partial => '/layouts/notification'

- content_for :form_header do
  %li= restful_submit_tag "#{t'deployments.list.stop_selected'}", 'stop', multi_stop_deployments_path, 'POST', :class => 'button', :id => "stop_button", 'data-none_selected' => t('deployments.flash.error.none_selected')
  %li= restful_submit_tag "#{t'deployments.list.delete_selected'}", 'destroy', multi_destroy_deployments_path, 'DELETE', :class => 'button danger', :id => "delete_button", 'data-none_selected' => t('deployments.flash.error.none_selected')
  = hidden_field_tag 'backlink', request.url

- content_for :filter_controls do
  %li
    = label_tag :deployments_preset_filter, t('filter_table.viewing')
    = select_tag(:deployments_preset_filter, preset_filters_options_for_select(Deployment::PRESET_FILTERS_OPTIONS, params[:deployments_preset_filter]), :include_blank => t("deployments.deployments_filters.all_deployments"), :disabled => true)
    = hidden_field_tag :current_path, request.fullpath
    = restful_submit_tag t("filter_table.apply_filters"), "filter", filter_deployments_path, 'POST', :class => 'button', :id => 'apply_deployments_preset_filter'
    %span.label.badge.dark= @deployments.count
  %li.table-search-filter
    = text_field_tag :deployments_search, params[:deployments_search], :placeholder => t("filter_table.search")
    = restful_submit_tag "", "search", filter_deployments_path, 'POST', :class => 'button', :id => 'apply_deployments_search'

  :javascript
    $(document).ready(function(){
      $("#apply_deployments_preset_filter").hide();
      $("#deployments_preset_filter").change(function() {
        $("#apply_deployments_preset_filter").click();
      });
      Conductor.clickOnEnterKeypress($('#deployments_search'), $('#apply_deployments_search'));
    });

= filter_table(@deployments_header, @deployments) do |deployment|
  - deployment_provider = deployment.provider
  %tr{ :class => cycle('nostripe', 'stripe') }
    %td{:class => 'checkbox'}
      - selected = params[:select] == 'all'
      = check_box_tag "deployments_selected[]", deployment.id, selected, :id => "deployment_checkbox_#{deployment.id}"
    %td{:class => 'alert'}= deployment.failed_instances.present? ? image_tag("sb_icon_instance_failure.png") : ""
    %td= link_to(deployment.name, deployment_path(deployment, :view => :filter))
    %td= deployment.created_at
    %td= deployment.deployable_xml.name
    %td= deployment.status
    %td{:class => 'center'}= deployment.instances.size
    %td= link_to deployment.pool.name, pool_path(deployment.pool, :view => :filter)
    %td= owner_name(deployment)
    %td= link_to(deployment_provider.provider_type.name, deployment_provider) if deployment_provider

:javascript
  Conductor.setupPrettyFilterURL(
    '#{url_for(:action => :show, :details_tab => 'deployments', :view => 'filter', :page => params[:page])}',
    '#{url_for(:action => :show, :details_tab => 'deployments', :view => 'pretty', :page => params[:page])}'
  );

%script#deploymentTemplate{ :type => 'text/x-jquery-tmpl' }
  :plain
    <tr>
      <td class="checkbox"><input type="checkbox" id="deployment_checkbox_${id}"
                 name="deployments_selected[]" value="${id}"></td>
      <td class="alert">
        {{if failed_instances_count > 0}}
          #{image_tag("sb_icon_instance_failure.png")}
        {{/if}}
      </td>
      <td><a href="#{deployment_path('replace_id', :view => :filter).sub('replace_id', '${id}')}">${name}</a></td>
      <td>${created_at}</td>
      <td>${deployable_xml_name}</td>
      <td>${status}</td>
      <td class="center">${instances_count}</td>
      <td><a href="#{pool_path('replace_id', :view => :filter).sub('replace_id', '${pool.id}')}">${pool.name}</a></td>
      <td>${owner}</td>
      <td>
        {{if provider}}
          <a href="#{provider_path('replace_id').sub('replace_id', '${provider.id}')}">${provider.name}</a>
        {{/if}}
      </td>
    </tr>
