- if request.xhr?
  = render :partial => '/layouts/notification'

- form_tag do
  = restful_submit_tag "Stop", "multi_stop", multi_stop_deployments_path, 'POST', :id => 'stop_button'
  = label_tag "More actions"
  = select_tag("more_actions",nil, :disabled => true)


  %p
    Viewing
    = select_tag("deployments_running", "<option>Deployments running</option>",:disabled => true)
    = @deployments.count.to_s + " results"
    = text_field_tag :q, @search_term || "Search result for...", :disabled => true

  %table#deployments_table
    %tr
      %th
        = check_box_tag "all"
      %th
        -#there will be icons (belongs to mockups)
      %th
        = t("pools.index.deployment_name")
      %th
        = t("pools.index.deployed_on")
      %th
        = t("instances.instances")
      %th
        = t("pools.index.pool")
      %th
        = t("pools.index.pool_family")
      %th
        = t("pools.index.owner")
    - @deployments.each do |deployment|
      %tr
        %td
          - selected = params[:select] == 'all'
          %input{:name => "deployments_selected[]", :type => "checkbox", :value => deployment.id, :id => "deployment_checkbox_#{deployment.id}", :checked => selected }
        %td
          -#there will be icons (belongs to mockups)
        %td
          = link_to deployment.name, deployment_path(deployment)
        %td
          = deployment.created_at
        %td
          = deployment.instances.count
        %td
          = link_to deployment.pool.name, pool_path(deployment.pool)
        %td
          = deployment.pool.pool_family.name
        %td
          = owner_name(deployment)
