= error_messages_for 'deployment'
%header.page-header
  %h1
    Deployment
    = @deployment.name
%h2
  Launch Summary

#scoreboard
  %dl.statistics
    %ul.groups
      %li
        %dt= t("pools.index.pool")
        %dd= @pool.name
      %li
        %dt= t("deployments.deployment")
        %dd= @deployment.name
      %li
        = link_to('view deployable definition', '#')

%h2
  Images

-# Cannot implement this with real data until we have deployments implemented...
= filter_table(['Image'], []) do |image|
  %tr
    %td
      = image.name

- form_for @deployment do
  = hidden_field :deployment, :name
  = hidden_field :deployment, :pool_id
  = hidden_field :deployment, :realm_id
  -# FIXME: Passing chunks of XML around in hidden form fields doesn't feel right
  = hidden_field :deployment, :deployable_xml
  = submit_tag 'Launch'

-# Quota checking to go here as well, once I understand how it works with new code
