= error_messages_for @deployment
%header.page-header
  %h1{:class => controller.controller_name}
    Deployment
    = @deployment.name
  #obj_actions.button-container
    = form_for @deployment do
      = hidden_field :deployment, :name
      = hidden_field :deployment, :pool_id
      = hidden_field :deployment, :frontend_realm_id
      -# FIXME: Passing chunks of XML around in hidden form fields doesn't feel right
      = hidden_field :deployment, :deployable_xml
      = submit_tag 'Launch this deployment', :class => 'button primary', :id => 'launch_deployment'
    = link_to 'Cancel', pool_path(@pool), :class => 'button danger', :id => 'cancel_deployment_button'
  .corner &nbsp;

#scoreboard
  %dl.statistics
    %ul.groups
      %li
        %dt= t("pools.index.pool")
        %dd= @pool.name
      %li
        %dt= t("deployments.deployment")
        %dd= @deployment.name
      %li
        %dt deployable definition
        %dd= link_to('view', '#', :id => 'deployable-xml-link')


%section.content-section.deployable_details
  %header
    %h2
      Deployable details

  .content

    %ul
      %li
        Name:
        = @deployment.deployable_xml.name
      %li
        Description:
        = @deployment.deployable_xml.description

%section.content-section.assemblies
  %header
    %h2
      Assemblies

  .content

    = filter_table([{:name => 'Assembly Name'}, {:name => 'Hardware Profile'},
                    {:name => 'Image ID'}, {:name => 'Build ID'}],
                    @deployment.deployable_xml.assemblies,
                    :show_select_toggle => false) do |assembly|
      %tr
        %td
          = assembly.name
        %td
          = assembly.hwp
        %td
          = assembly.image_id
        %td
          = assembly.image_build

    -# Quota checking to go here as well, once I understand how it works with new code
