- if @deployment.errors.any?
  = render 'layouts/error_messages', :object => @deployment
= form_for @deployment, :html => {:class => 'generic horizontal'} do
  = hidden_field :deployment, :name
  = hidden_field :deployment, :pool_id
  = hidden_field :deployment, :frontend_realm_id
  = hidden_field_tag :launch_parameters_encoded, @launch_parameters_encoded
  = hidden_field_tag :deployable_id, params[:deployable_id]
  = hidden_field_tag :backlink, @backlink


  %header.page-header
    %h1.pools= t('.pool_name', :pool => @pool.name)

  %section.content-section
    %header.align-center
      %h2.no-icon= t('.header', :deployment => @deployment.name, :pool => @pool.name)
      %p
        = t('.confirmation_html', :deployment => content_tag(:strong, @deployment.name),
                                  :pool => @pool.name)
        - unless @additional_quota == 0
          = t('.quota_info', :quota => number_to_percentage(@additional_quota, :precision => 0))

    .content
      %fieldset
        .field
          = label_tag :name, _("Name")
          .input
            %span.text_instead_input= @deployment.name

        - unless @deployment.deployable_xml.description.blank?
          .field
            = label_tag :description, _("Description")
            .input
              %span.text_instead_input= @deployment.deployable_xml.description

        .field
          = label_tag :deployable_xml, _("Deployable Xml")
          .input
            %span.text_instead_input
              = link_to @deployable.xml_filename, definition_catalog_deployable_path(@deployable.catalogs.first, @deployable)
              &rArr;

        - if @realms.any?
          .field
            = label_tag :realm, _("Realm")
            .input
              %span.text_instead_input
                - if @deployment.frontend_realm.present?
                  = @deployment.frontend_realm.name
                - else
                  = _("Auto-select")

        .field
          = label_tag :launch_with_errors , _("Ignore Instance errors during launch"), :class => 'checkbox'
          .input
            = check_box :deployment, :partial_launch

        .field
          = label_tag :image_ids, _("Image IDs")
          .input
            %span.text_instead_input
              %ul
              - @deployment.deployable_xml.assemblies.each do |assembly|
                %li.image-id= assembly.image_id
      %fieldset.options.align-center
        = submit_tag _("Back"), :class => 'button'
        = link_to _("Cancel"), pool_path(@pool), :class => 'button danger', :id => 'cancel_deployment_button'
        = submit_tag _("Launch"), :id => 'launch_deployment_button', :disabled => (@errors && @errors.any?)
-# Quota checking to go here as well, once I understand how it works with new code

:javascript
  $(document).ready(function () {
    Conductor.fetchAjaxDescription($('#deployment_frontend_realm_id'), $('#realm-description'), "#{frontend_realms_url}/");
  });
