%header
  %h2 Instances
%ul.instances_list
  - @deployment.instances.each do |instance|
    %li
      = instance.name
      %ul
        %li
          IP Address:
          = instance.public_addresses
        %li
          State:
          = instance.state
      - if instance.instance_key
        %li
          = link_to("Download key", key_instance_path(instance))

:javascript
  Conductor.setupPrettyFilterURL(
            '#{url_for(:action => :show, :details_tab => 'instances', :view => 'filter' )}',
            '#{url_for(:action => :show, :details_tab => 'instances', :view => 'pretty' )}');

%script#instanceTemplate{ :type => 'text/x-jquery-tmpl' }
  :plain
    <li>${name}
      <ul>
        <li>IP Address: ${public_addresses}</li>
        <li>State: ${state}</li>
        {{if has_key}}
          <li><a href="#{key_instance_path('replace_id').sub('replace_id', '${id}')}">Download key</a></li>
        {{/if}}
      </ul>
    </li>
