%header
  %h2=t 'instances.instances'
%ul.instances_list
  - @deployment.instances.each do |instance|
    %li
      = instance.name
      %ul
        %li
          = t 'deployments.pretty_view_show.ip_address'
          = instance.public_addresses
        %li
          = t 'deployments.pretty_view_show.state'
          = instance.state
      - if instance.instance_key
        %li
          = link_to t('deployments.pretty_view_show.download_key'), key_instance_path(instance)

:javascript
  Conductor.setupPrettyFilterURL(
            '#{url_for(:action => :show, :details_tab => 'instances', :view => 'filter' )}',
            '#{url_for(:action => :show, :details_tab => 'instances', :view => 'pretty' )}');

%script#instanceTemplate{ :type => 'text/x-jquery-tmpl' }
  :plain
    <li>${name}
      <ul>
        <li>#{t('deployments.pretty_view_show.ip_address')}: ${public_addresses}</li>
        <li>#{t('deployments.pretty_view_show.state')}: ${state}</li>
        {{if has_key}}
          <li><a href="#{key_instance_path('replace_id').sub('replace_id', '${id}')}">#{t('deployments.pretty_view_show.download_key')}</a></li>
        {{/if}}
      </ul>
    </li>
