%ul.instances-array
  - @instances.each do |instance|
    = render :partial => 'instances/instance_card', :mustache => instance_for_mustache(instance)

= render_pagination(@instances)

:javascript
  Conductor.setupPrettyFilterURL(
            '#{url_for(:action => :show, :details_tab => 'instances', :view => 'filter', :page => params[:page])}',
            '#{url_for(:action => :show, :details_tab => 'instances', :view => 'pretty', :page => params[:page])}');

%script#instanceCardTemplate{ :type => 'text/html' }
  = render :partial => 'instances/instance_card'
