%ul.deployable-cards
  - @deployments.in_groups_of(5, false) do |group|
    %ul.deployment-array.large
      - group.each do |deployment|
        = render :partial => 'deployments/deployment_card_show',
                 :mustache => deployment_for_mustache(deployment)

= render_pagination(@deployments)

:javascript
  Conductor.setupPrettyFilterURL(
            '#{url_for(:action => :show, :details_tab => 'deployments', :view => 'filter', :page => params[:page])}',
            '#{url_for(:action => :show, :details_tab => 'deployments', :view => 'pretty', :page => params[:page] )}');

%script#deploymentCardTemplate{ :type => 'text/html' }
  = render :partial => 'deployments/deployment_card_show'
