%table.properties_table
  %tbody
  -@deployment.properties.each do |key, value|
    %tr
      %td= _("#{key}".capitalize)
      %td=value
  %tr
    %td= _("Global Uptime")
    %td=count_uptime(@deployment.uptime_all)
  %tr
    %td= _("Uptime 1st Instance running")
    %td=count_uptime(@deployment.uptime_1st_instance)
  %tr
    %td= t 'deployments.properties.cost_estimate'
    %td=@deployment.cost.nil? ? "N/A" : '%.3f' % @deployment.cost

:javascript
  Conductor.setupPrettyFilterURL(
            '#{url_for(:action => :show, :details_tab => 'properties', :view => 'filter' )}',
            '#{url_for(:action => :show, :details_tab => 'properties', :view => 'pretty' )}');
