%table.properties_table
  %tbody
  -@deployment.properties.each do |key, value|
    %tr
      %td= t "deployments.properties.#{key}"
      %td=value
  %tr
    %td= t 'deployments.properties.global_uptime'
    %td=count_uptime(@deployment.uptime_all)
  %tr
    %td= t 'deployments.properties.uptime_1st_instance'
    %td=count_uptime(@deployment.uptime_1st_instance)

:javascript
  Conductor.setupPrettyFilterURL(
            '#{url_for(:action => :show, :details_tab => 'properties', :view => 'filter' )}',
            '#{url_for(:action => :show, :details_tab => 'properties', :view => 'pretty' )}');
