= render :partial => 'layouts/nav_history'
%header.page-header
  .obj_actions
    = link_to _("Edit"), edit_catalog_path(@catalog), :class => 'button', :id => 'edit_button'
  %h1.pools= @catalog.name

%section.content-section
  - if @deployables.any?
    .align-center
      %strong= t(".hint", :pool =>  @catalog.pool.name)
    %ul.catalog_pretty
      - @deployables.each do |deployable|
        %li.collapse_entity
          .summary
            .info
              %h2= deployable.name
              %p= deployable.description
            .controls
              = link_to _("Details"),"#", :class => "collapse"
              = button_to _("Select"), launch_new_deployments_path(:deployment => { :name => deployable.name, :pool_id => @catalog.pool.id }, :deployable_id => deployable.id ), :class=> "button primary"
          .details.collapsible.collapsed
            %p= deployable.description
            %table
              %tr
                %th
                  %strong= _("Image ID")
                %th=_("Profile")
                %th=_("HDD")
                %th=_("RAM")
                %th=_("ARCH")
                %th
                  %strong=_("Deployable Xml")
              -deployable.get_image_details.first.each do |assembly|
                %tr
                  %td
                    %strong= assembly[:image_uuid]
                    -%w{hwp_name hwp_hdd hwp_ram hwp_arch}.map(&:to_sym).each do |property|
                      %td= assembly[property]
                    %td= link_to deployable.xml_filename, catalog_deployable_path(deployable.catalogs.first, deployable.id, :deployable_xml => true)
  - else
    #no-catalog-entry.align-center
      %strong= _("No available Deployable. Please add one first.")

  .align-center
    %div= will_paginate @deployables
    %div= link_to _("Cancel"), root_path, :class => 'button danger', :id => 'edit_button'
