= render :partial => 'layouts/nav_history'
%header.page-header
  %h1=@catalog.name
  #obj_actions.button-container
    = link_to t('edit'), edit_catalog_path(@catalog), :class => 'button pill', :id => 'edit_button'
  .corner &nbsp;
%section.content-section
  .align-center
    %strong= t(".hint", :pool =>  @catalog.pool.name)
  %ul.catalog_pretty
    - @catalog_entries.each do |entry|
      %li.collapse_entity
        .summary
          .controls
            = link_to t(".details"),"#", :class => "collapse"
            = button_to t(".select"), launch_time_params_deployments_path(:deployment => { :name => entry.name, :pool_id => @catalog.pool.id }, :catalog_entry_id => entry.id ), :class=> "button pill"
          .info
            %h2= entry.name
            %p= entry.description
          .clear
        .details.collapsible
          %table
            %tr
              %th
                %strong= t'.image_id'
              %th=t'.profile'
              %th=t'.hdd'
              %th=t'.ram'
              %th=t'.arch'
              %th
                %strong=t'.deployable_xml'
            -entry.fetch_images.each do |image|
              %tr
                %td
                  %strong= image.id
                %td= entry.hw_profile_for_image(image.id).name
                %td= entry.hw_profile_for_image(image.id).storage
                %td= entry.hw_profile_for_image(image.id).memory
                %td= entry.hw_profile_for_image(image.id).architecture
                %td= link_to entry.xml_filename, catalog_catalog_entry_path(entry.catalog, entry.id, :deployable_xml => true)

  .align-center
    %div= will_paginate @catalog_entries
    %div= link_to t('cancel'), root_path, :class => 'button pill', :id => 'edit_button'
