= render :partial => 'layouts/nav_history'
%header.page-header
  %h1=@catalog.name
  #obj_actions.button-container
    = link_to t('edit'), edit_catalog_path(@catalog), :class => 'button pill', :id => 'edit_button'
  .corner &nbsp;
%section.content-section
  - if @deployables.any?
    .align-center
      %strong= t(".hint", :pool =>  @catalog.pool.name)
    %ul.catalog_pretty
      - @deployables.each do |deployable|
        %li.collapse_entity
          .summary
            .info
              %h2= deployable.name
              %p= deployable.description
            .controls
              = link_to t(".details"),"#", :class => "collapse"
              = button_to t(".select"), launch_time_params_deployments_path(:deployment => { :name => deployable.name, :pool_id => @catalog.pool.id }, :deployable_id => deployable.id ), :class=> "button pill"
          .details.collapsible.collapsed
            %table
              %tr
                %th
                  %strong= t'.image_id'
                %th=t'.profile'
                %th=t'.hdd'
                %th=t'.ram'
                %th=t'.arch'
                %th
                  %strong=t'.deployable_xml'
              -deployable.fetch_images.compact.each do |image|
                %tr
                  %td
                    %strong= image.id
                  %td= deployable.hw_profile_for_image(image.id).name
                  %td= deployable.hw_profile_for_image(image.id).storage
                  %td= deployable.hw_profile_for_image(image.id).memory
                  %td= deployable.hw_profile_for_image(image.id).architecture
                  %td= link_to deployable.xml_filename, catalog_deployable_path(deployable.catalogs.first, deployable.id, :deployable_xml => true)
  - else
    #no-catalog-entry.align-center
      %strong= t(".no_catalog_entry")

  .align-center
    %div= will_paginate @deployables
    %div= link_to t('cancel'), root_path, :class => 'button pill', :id => 'edit_button'
