= render :partial => 'layouts/nav_history'

%header.page-header
  .obj_actions
    - if check_privilege(Privilege::MODIFY, @deployment)
      .button-group
        = link_to _("Edit"), edit_deployment_path(@deployment), :class => 'button',
                                                                :id => 'edit_deployment_button'
        = button_to _("Delete"), deployment_path(@deployment), :method => :delete,
                                                               :confirm => _("Are you sure you want to delete this Deployment?"),
                                                               :class => "button danger",
                                                               :id => 'delete'
  %h1.deployments= @title

= render :partial => 'alerts_show'

%section.content-section
  %header#tab-container-1
    .section-controls
      = pretty_filter_toggle(deployment_path(@deployment, :view => 'pretty', :page => params[:page]), deployment_path(@deployment, :view => 'filter', :page => params[:page]))
    %nav.faceted
      %ul#tab-container-1-nav
        - @tabs.each do |tab|
          %li
            %a{ :href => url_for(:details_tab => tab[:id], :only_tab => true), :id => "details_#{tab[:id]}",
                :class => "#{'active' if @details_tab[:id] == tab[:id]}", 'data-pretty_view_toggle' => tab[:pretty_view_toggle] }
              = tab[:name]
            -if tab[:count]
              %span.label.badge.count.dark=tab[:count]
  .content.collapsible.toggle-view.deployments#tab
    = render :partial => @view
