= render :partial => 'layouts/nav_history'
= render :partial => 'header_show'
= render :partial => 'pools/scoreboard_show', :locals => {:@statistics => @deployment.pool.statistics, :@pool => @deployment.pool}
= render :partial => 'alerts_show'
%section.content-section
  %header#tab-container-1
    %nav.faceted
      %ul#tab-container-1-nav
        - @tabs.each do |tab|
          %li
            %a{ :href => url_for(:details_tab => tab[:id], :only_tab => true), :id => "details_#{tab[:id]}",
                :class => "#{'active' if @details_tab[:id] == tab[:id]}", 'data-pretty_view_toggle' => tab[:pretty_view_toggle] }
              = tab[:name]
            -if tab[:count]
              %span.label.badge.count.dark=tab[:count]
    .section-controls
      #obj_actions.button-container
        .button-group
          = pretty_filter_toggle(deployment_path(@deployment, :view => 'pretty', :page => params[:page]),
                                 deployment_path(@deployment, :view => 'filter', :page => params[:page]))
  .content.collapsible.toggle-view.deployments#tab
    = render :partial => @view
