- if @config_server.errors.any?
  = render 'layouts/error_messages', :object => @config_server
%fieldset
  .field
    = hidden_field_tag "provider_account_id", @provider_account.id
    = form.label :endpoint, :class => 'em'
    .input
      = form.text_field :endpoint, :class => 'em long'
  .field
    = form.label :key
    .input
      = form.text_field :key
  .field
    = form.label :secret
    .input
      = password_field_tag "config_server[secret]", @config_server.secret

%fieldset.options
  = submit_tag _("Save"), :name => "save", :class => "button primary", :id => "save_button"
  = link_to _("Cancel"), provider_provider_account_path(@provider_account.provider, @provider_account), :class => "button danger"
