- if @config_server.errors.any?
  = render 'layouts/error_messages', :object => @config_server
%fieldset
  %p
    = hidden_field_tag "provider_account_id", @provider_account.id
    = form.label :host
    = form.text_field :host, :class => 'em long'
  %p
    = form.label :port
    = form.text_field :port
  %p
    = form.label :username
    = form.text_field :username
  %p
    = form.label :password
    = password_field_tag "config_server[password]", @config_server.password
  %p
    = form.label :certificate
    %div.help
      = t('config_servers.certificate_help')
    = form.text_area :certificate, :rows => 20, :cols => 64

%fieldset.options
  = link_to t(:cancel), provider_provider_account_path(@provider_account.provider, @provider_account), :class => "button danger"
  = submit_tag t(:save), :name => "save", :class => "button", :id => "save_button"
