= render :partial => 'layouts/admin_nav'
= render :partial => 'page_header'

%section.content-section.config_server
  %header
    %h2= _("New Config Server")

  .content
    = form_for @config_server, :url => config_servers_path, :html => {:class => "generic horizontal"} do |f|
      = render :partial => 'config_server_form', :locals => {:form => f }
