!!!
%html
  %head
    %meta(http-equiv="Content-Type" content="text/html; charset=UTF-8")
    = favicon_link_tag 'favicon.png'
    %title
      = yield :title
    = yield :stylesheets
    = yield :head

  %body
    %header#header
      = render :partial => "layouts/converge-ui/header_layout"
    %article#maincontent
      %section
        = yield :content
    %footer
      %span
        #{_("redhat")}
      %p.copyright
        #{_("Copyright &copy; ") + (Time.now).year.to_s + _(" Red Hat, Inc.") }
      %ul
        %li
          %a{ "href" => "#" }
            #{_("Disclaimer")}
        %li
          %a{ "href" => "#" }
            #{_("Terms of Use")}
        %li
          %a{ "href" => "#" }
            #{_("Support")}
      = yield :footer
    
    = yield :javascript
    = yield :extra
