Builds for
= @tpl.platform
= @tpl.platform_version
, template "#{@tpl.name}"

- if @targets_not_built.count > 0 then
  - form_tag(image_factory_builds_path, { :action => 'create', :method => :post }) do
    = hidden_field_tag :template_id, @tpl.id
    New Build for
    = select( "targets", "", options_for_select(@targets_not_built))
    = submit_tag "Go", :name => "build"

- form_tag do
  = hidden_field_tag :template_id, @tpl.id
  /= restful_submit_tag "Upload", 'upload', upload_image_factory_builds_path, 'POST'
  /= restful_submit_tag "Delete", 'delete', delete_image_factory_builds_path, 'DELETE'

%ul
  - if @images.empty?
    %li No Builds
  - else
    - @images.each do |img|
      %li
        = "#{img.name}: #{img.status}"
        %ul
          - img.provider_images.each do |pimg|
            %li
              = "#{pimg.provider.name}: #{pimg.status}"
