- if @metagroup_packages.blank?
  %span.disabled No group selected
- else
  %h4
    = "#{@metagroup} Packages"
  %ul.metagrouppackages
    - @metagroup_packages.sort {|a, b| a[:name] <=> b[:name]}.each do |group|
      %li
        - selected = false
        %h5
          = check_box_tag 'selected_groups[]', group[:id], selected, {:disabled => selected, :id => "group_#{group[:id]}", :class => "softwaregroups #{selected ? 'selected' : ''}"}
          = label_tag "group_#{group[:id]}", group[:label]
        %ul
          - group[:packages].each do |pkg|
            %li
              - selected = @packages.to_a.find {|p| p[:name] == pkg}
              = check_box_tag 'selected_packages[]', pkg, selected, {:disabled => selected, :id => "pkg_#{group[:name]}_#{pkg}"}
              = label_tag "pkg_#{group[:name]}_#{pkg}", pkg
  = render :partial => 'addbuttons'
