:javascript
  $(document).ready(function() {
    var $metagrouppackages = $('#metagrouppackages');
    $('.metagroups input').click(function(e) {
      e.preventDefault();
      var data = {
        'repository': $("select[name='tpl[platform]']").val(),
        'packages[]':  $("input:hidden[name='packages[]']").map(function() {return $(this).val()}).get()
      };
      if ($(this).attr('name') == '__rewrite[collections]') {
        var url = '#{url_for :action => 'collections', :id => @id}';
      } else {
        var url = '#{url_for :action => 'metagroup_packages', :id => @id}';
        data.__rewrite = {
          metagroup_packages: e.currentTarget.value
        };
      }
      $metagrouppackages.empty().addClass('loading');
      $metagrouppackages.load(url, data, function() {
        $metagrouppackages.removeClass('loading');
        //select all packages in collection
        $(".softwaregroups").click(function() {
          if ($(this).attr("checked") === true) {
            $(this).parent().siblings("ul").find("input[type='checkbox']").attr("checked","checked");
          } else {
            $(this).parent().siblings("ul").find("input[type='checkbox']").removeAttr("checked");
          }
        });
      });
    });
  });

.grid_16
  %h4 Managed Content Selection

  - form_tag do
    - unless request.xhr?
      = render :partial => 'hidden_fields'
    = render :partial => 'metagroups'
    #metagrouppackages.grid_12.omega.gap
      = render :partial => view
