- if @catalog.errors.any?
  = render 'layouts/error_messages', :object => @catalog
%fieldset
  %p
    = form.label :name, t('catalogs.index.name')
    = form.text_field :name, :class => 'em long'
  %p
    = form.label :pool_id, t('pools.pool')
    = form.select(:pool_id, @pools.collect{|p| [p.name, p.id]}, :prompt =>  t("catalogs.form.select_pool"))

%fieldset.options
  = link_to t('cancel'), catalogs_path, :class => 'button danger'
  = submit_tag t('save'), :name => 'save', :class => 'button', :id => 'save_button'
