%section.admin-content-section.catalogs
  /%header
  /  %h2 Catalogs List
  /  %span.label.badge.dark.count= @catalogs.length

  .content
    - content_for :form_header do
      %li= restful_submit_tag "Delete", "destroy", multi_destroy_catalogs_path, 'DELETE', :id => 'delete_button', :class => 'button danger'
      %li= link_to "New Catalog", new_catalog_path, :id => 'new_catalog_button', :class => 'button pill'

    = filter_table(@header, @catalogs) do |catalog|
      %tr{:class => cycle('nostripe','stripe')}
        %td
          - selected = params[:select] == 'all'
          = check_box_tag "catalogs_selected[]", catalog.id, selected, :id => "catalog_checkbox_#{catalog.id}"
        %td
          = link_to catalog.name, catalog_path(catalog.id)
        %td
          = catalog.pool.name
