= render :partial => 'layouts/admin_nav'
%header.page-header
  .obj_actions
    = link_to _("New Catalog"), new_catalog_url, :class => 'button primary', :id => 'new_catalog_button'
  %h1.catalogs= @title

%section.content-section.user
  .content
    = conductor_form_for @catalog do |f|
      = render :partial => "form", :locals => { :form => f }
      = f.button :form_buttons, :cancel => catalogs_path
