= render :partial => 'layouts/admin_nav'

%header.page-header
  .obj_actions
    .return_to
      = t'return_to'
      = link_to t("catalogs.catalogs"), catalogs_path
  %h1.no-icon= @title

%section.content-section
  .content
    = form_for @catalog, :url => catalogs_path, :html => {:class => 'generic horizontal'} do |f|
      = render :partial => "form", :locals => { :form => f }
