= render :partial => 'layouts/admin_nav'

%header.admin-page-header
  %header
  %h1= @title
  #obj_actions
    .return_to
      = t'return_to'
      = link_to t("catalogs.catalogs"), catalogs_path

%section.admin-content-section
  = form_for @catalog, :url => catalogs_path, :html => {:class => 'generic'} do |f|
    = render :partial => "form", :locals => { :form => f }
