= render :partial => 'layouts/admin_nav'

%header.page-header
  %h1.catalogs= @title

%section.content-section
  .content
    = conductor_form_for @catalog do |f|
      = render :partial => "form", :locals => { :form => f }
      = f.button :form_buttons, :cancel => catalogs_path
