= render :partial => 'layouts/admin_nav'
%header.page-header
  .obj_actions
    .return_to
      = _("Return to:")
      = link_to _("Catalogs"), catalogs_path
    - if check_privilege(Privilege::CREATE, Catalog)
      = link_to _("New Catalog"), new_catalog_url, :class => 'button primary', :id => 'new_catalog_button'
    .button-group
      - if check_privilege(Privilege::MODIFY, @catalog)
        = link_to _("Edit"), edit_catalog_path(@catalog), :class => 'button', :id => 'edit_button'
        = button_to _("Delete"), catalog_path(@catalog), :method => 'delete', :confirm => _("Are you sure you want to delete?"), :class => 'button danger', :id => 'delete'
  %h1.no-icon= @title

%section.content-section.user
  %header
    %h2=_("Properties")

  .content
    %table.properties_table
      %tbody
        %tr
          %td= _("Name")
          %td= @catalog.name
        %tr
          %td= _("Pool")
          %td= @catalog.pool.name

%section.content-section
  %header
    %h2=_("Deployables")

  .content
    - content_for :form_header do
      - if check_privilege(Privilege::CREATE, Deployable)
        %li= link_to _("New Deployable"), new_catalog_deployable_path(@catalog), :class => 'button primary', :id => 'new_deployable_button'
      %li= restful_submit_tag _("Remove"), "destroy", multi_destroy_catalog_deployables_path(@catalog), 'DELETE', :id => 'delete_button', :class => 'button danger'

    - content_for :filter_controls do
      %li
        = label_tag :deployables_preset_filter, _("Viewing")
        = hidden_field_tag :current_path, request.fullpath
        = select_tag(:deployables_preset_filter, preset_filters_options_for_select(Deployable::PRESET_FILTERS_OPTIONS, params[:deployables_preset_filter]), :include_blank => _("All Deployables"), :disabled => true)
        = restful_submit_tag _("Apply filters"), "filter", filter_catalog_deployables_path(@catalog), 'POST', :class => 'button', :id => 'apply_deployables_preset_filter'
        %span.label.badge.dark= @deployables.count
      %li.table-search-filter
        = text_field_tag :deployables_search, params[:deployables_search], :placeholder => _("Search")
        = restful_submit_tag "", "search", filter_catalog_deployables_path(@catalog), 'POST', :class => 'button', :id => 'apply_deployables_search'

      :javascript
        $(document).ready(function(){
          $("#apply_deployables_preset_filter").hide();
          $("#deployables_preset_filter").change(function() {
            $("#apply_deployables_preset_filter").click();
          });
          Conductor.clickOnEnterKeypress($('#deployables_search'), $('#apply_deployables_search'));
        });

    = filter_table(@header, @deployables) do |deployable|
      %tr{:class => cycle('nostripe','stripe')}
        %td{:class => 'checkbox'}
          - selected = params[:select] == 'all'
          = check_box_tag "deployables_selected[]", deployable.id, selected, :id => "deployable_checkbox_#{deployable.id}"
        %td
          = link_to deployable.name, catalog_deployable_path(@catalog, deployable)
        %td
          = link_to deployable.xml_filename, catalog_deployable_path(@catalog, deployable, :deployable_xml => true)
