= render :partial => 'layouts/admin_nav'
%header.admin-page-header
  %h1{:class => controller.controller_name}= @catalog.name
  #obj_actions.button-container
    = link_to t('catalogs.new_catalog'), new_catalog_url, :class => 'button primary', :id => 'new_catalog_button'
    .button-group
      = link_to t('edit'), edit_catalog_path(@catalog), :class => 'button pill', :id => 'edit_button'
      = button_to t("delete"), catalog_path(@catalog), :method => 'delete', :confirm => "Are you sure you want to delete?", :class => 'button pill danger', :id => 'delete'

%section.admin-content-section.user
  %header
    %h2=t'properties'

  .content
    = render :partial => 'properties'

%section.admin-content-section.catalog_entries
  %header
    %h2=t('catalog_entries.index.catalog_entries')

  .content
    - content_for :form_header do
      %li= restful_submit_tag t("delete"), "destroy", multi_destroy_catalog_catalog_entries_path(@catalog), 'DELETE', :id => 'delete_button', :class => 'button danger'
      %li= link_to t("catalog_entries.new_catalog_entry"), new_catalog_catalog_entry_path(@catalog), :class => 'button', :id => 'new_catalog_entry_button'

    - content_for :filter_controls do
      %li
        = label_tag :catalog_entries_preset_filter, t('filter_table.viewing')
        = hidden_field_tag :current_path, request.fullpath
        = select_tag(:catalog_entries_preset_filter, preset_filters_options_for_select(CatalogEntry::PRESET_FILTERS_OPTIONS, params[:catalog_entries_preset_filter]), :include_blank => t("catalog_entries.preset_filters.all_catalog_entries"), :disabled => true)
        = restful_submit_tag t("filter_table.apply_filters"), "filter", filter_catalog_catalog_entries_path(@catalog), 'POST', :class => 'button', :id => 'apply_catalog_entries_preset_filter'
        %span.label.badge.dark= @catalog_entries.count
      %li.table-search-filter
        = text_field_tag :catalog_entries_search, params[:catalog_entries_search], :placeholder => t("filter_table.search")
        = restful_submit_tag "", "search", filter_catalog_catalog_entries_path(@catalog), 'POST', :class => 'button', :id => 'apply_catalog_entries_search'

      :javascript
        $(document).ready(function(){
          $("#apply_catalog_entries_preset_filter").hide();
          $("#catalog_entries_preset_filter").change(function() {
            $("#apply_catalog_entries_preset_filter").click();
          });
        });

    = filter_table(@header, @catalog_entries) do |catalog_entry|
      %tr{:class => cycle('nostripe','stripe')}
        %td{:class => 'checkbox'}
          - selected = params[:select] == 'all'
          = check_box_tag "catalog_entries_selected[]", catalog_entry.id, selected, :id => "catalog_entry_checkbox_#{catalog_entry.id}"
        %td
          = link_to catalog_entry.deployable.name, catalog_catalog_entry_path(@catalog, catalog_entry.id)
        %td
          = link_to catalog_entry.deployable.xml_filename, catalog_catalog_entry_path(@catalog, catalog_entry.id, :deployable_xml => true)
