= render :partial => 'layouts/admin_nav'
%header.admin-page-header
  %h1{:class => controller.controller_name}= @title
  #obj_actions.button-container
    - if check_privilege(Privilege::CREATE, Catalog)
      = link_to t('catalogs.new_catalog'), new_catalog_url, :class => 'button primary', :id => 'new_catalog_button'
    .button-group
      - if check_privilege(Privilege::MODIFY, @catalog)
        = link_to t('edit'), edit_catalog_path(@catalog), :class => 'button pill', :id => 'edit_button'
        = button_to t("delete"), catalog_path(@catalog), :method => 'delete', :confirm => "Are you sure you want to delete?", :class => 'button pill danger', :id => 'delete'

%section.admin-content-section.user
  %header
    %h2=t'properties'

  .content
    = render :partial => 'properties'

%section.admin-content-section.catalog_entries
  %header
    %h2=t('catalog_entries.index.catalog_entries')

  .content
    - content_for :form_header do
      %li= restful_submit_tag t("delete"), "destroy", multi_destroy_catalog_deployables_path(@catalog), 'DELETE', :id => 'delete_button', :class => 'button danger'
      - if check_privilege(Privilege::CREATE, Deployable)
        %li= link_to t("catalog_entries.new_catalog_entry"), new_catalog_deployable_path(@catalog), :class => 'button', :id => 'new_deployable_button'

    - content_for :filter_controls do
      %li
        = label_tag :deployables_preset_filter, t('filter_table.viewing')
        = hidden_field_tag :current_path, request.fullpath
        = select_tag(:deployables_preset_filter, preset_filters_options_for_select(Deployable::PRESET_FILTERS_OPTIONS, params[:deployables_preset_filter]), :include_blank => t("catalog_entries.preset_filters.all_catalog_entries"), :disabled => true)
        = restful_submit_tag t("filter_table.apply_filters"), "filter", filter_catalog_deployables_path(@catalog), 'POST', :class => 'button', :id => 'apply_deployables_preset_filter'
        %span.label.badge.dark= @deployables.count
      %li.table-search-filter
        = text_field_tag :deployables_search, params[:deployables_search], :placeholder => t("filter_table.search")
        = restful_submit_tag "", "search", filter_catalog_deployables_path(@catalog), 'POST', :class => 'button', :id => 'apply_deployables_search'

      :javascript
        $(document).ready(function(){
          $("#apply_deployables_preset_filter").hide();
          $("#deployables_preset_filter").change(function() {
            $("#apply_deployables_preset_filter").click();
          });
          Conductor.clickOnEnterKeypress($('#deployables_search'), $('#apply_deployables_search'));
        });

    = filter_table(@header, @deployables) do |deployable|
      %tr{:class => cycle('nostripe','stripe')}
        %td{:class => 'checkbox'}
          - selected = params[:select] == 'all'
          = check_box_tag "deployables_selected[]", deployable.id, selected, :id => "deployable_checkbox_#{deployable.id}"
        %td
          = link_to deployable.name, catalog_deployable_path(@catalog, deployable)
        %td
          = link_to deployable.xml_filename, catalog_deployable_path(@catalog, deployable, :deployable_xml => true)
