- if @catalog_entry.errors.any?
  = render 'layouts/error_messages', :object => @catalog_entry
%fieldset
  - if params[:edit_xml]
    %p
      = form.label :xml, t('.deployable_xml')
      = form.text_area :xml, :class => 'long'
  - else
    %p
      = form.label :name, t('catalog_entries.index.name')
      = form.text_field :name, :class => 'em long'
    %p
      = form.label :catalog_id, t('.catalog')
      = form.select :catalog_id, @catalogs.collect{|c| [c.name, c.id]}, :selected => params[:catalog_entry].nil? ? @catalog.id : params[:catalog_entry][:catalog_id]
    %p
      = form.label :description, t('.description')
      = form.text_area :description, :class => 'long'
    %p
      = form.label :xml, t('.deployable_xml')
      = link_to t("catalog_entries.properties.edit_deployable_xml"), edit_catalog_catalog_entry_path(@catalog_entry.catalog.id, @catalog_entry.id, :edit_xml=>true)

%fieldset.options
  = link_to t('cancel'), catalog_path(@catalog), :class => 'button danger'
  = submit_tag t('save'), :name => 'save', :class => 'button', :id => 'save_button'