%section.admin-content-section
  %header
    %h2 Catalog Entries List
    %span.label.badge.dark.count= @catalog_entries.length

  .content
    - content_for :form_header do
      %li= restful_submit_tag "Delete", "destroy", multi_destroy_catalog_entries_path, 'DELETE', :id => 'delete_button', :class => 'button danger'

    = filter_table(@header, @catalog_entries) do |catalog_entry|
      %tr{:class => cycle('nostripe','stripe')}
        %td
          - selected = params[:select] == 'all'
          = check_box_tag "catalog_entries_selected[]", catalog_entry.id, selected, :id => "catalog_entry_checkbox_#{catalog_entry.id}"
        %td
          = link_to catalog_entry.name, catalog_entry_path(catalog_entry.id)
        %td
          = link_to catalog_entry.catalog.name, catalog_entry.catalog
        %td
          = catalog_entry.url
