%section.admin-content-section
  %header
    %h2=t'catalog_entries.list.catalog_entries_list'
    %span.label.badge.dark.count= @catalog_entries.length

  .content
    - content_for :form_header do
      %li= restful_submit_tag t("catalog_entries.show.delete"), "destroy", multi_destroy_catalog_catalog_entries_path(@catalog), 'DELETE', :id => 'delete_button', :class => 'button danger'

    = filter_table(@header, @catalog_entries) do |catalog_entry|
      %tr{:class => cycle('nostripe','stripe')}
        %td{:class => 'checkbox'}
          - selected = params[:select] == 'all'
          = check_box_tag "catalog_entries_selected[]", catalog_entry.id, selected, :id => "catalog_entry_checkbox_#{catalog_entry.id}"
        %td
          = link_to catalog_entry.deployable.name, catalog_catalog_entry_path(@catalog, catalog_entry.id)
        %td
          = link_to catalog_entry.catalog.name, catalog_entry.catalog
        %td
          = link_to catalog_entry.deployable.xml_filename, catalog_catalog_entry_path(@catalog, catalog_entry.id)
