%section.admin-content-section
  %header.admin-page-header
    %h2=t('.catalog_entry_name', :name => @catalog_entry.deployable.name)

  .content
    = form_for @catalog_entry, :html => {:class => 'generic'} do |form|
      = hidden_field_tag :create_from_image, params[:create_from_image]
      - if @catalog_entry.errors.any?
        = render 'layouts/error_messages', :object => @catalog_entry
      %fieldset
        %p
          %h2
            =t('.title')
          =t('.description', :name => @image.name)
        %p
          = form.label :name, t('catalog_entries.new.hw_profile')
          = select_tag :hardware_profile, options_from_collection_for_select(@hw_profiles, :id, :name, params[:hardware_profile])
        %p
          = form.label :catalog_id, t('catalog_entries.form.catalog')
          = form.select :catalog_id, @catalogs.collect{|c| [c.name, c.id]}

      %fieldset.options
        = link_to "#{t'catalog_entries.form.cancel'}", catalogs_path, :class => 'button danger'
        = submit_tag "#{t'catalog_entries.form.save'}", :name => 'save', :class => 'button', :id => 'save_button'
