%table
  %thead
    %tr
      %th.show
        =t'catalog_entries.properties.properties_for'
        = @catalog_entry.deployable.name
      %th.show
  %tbody
    %tr
      %td
        %label{:name => 'name'}=t('catalog_entries.index.name')+":"
      %td
        = @catalog_entry.deployable.name
    %tr
      %td
        %label{:catalog_id => 'catalog_id'}=t('catalog_entries.form.catalog') + ":"
      %td
        = @catalog_entry.catalog.name
    %tr
      %td
        %label{:name => 'description'}=t('catalog_entries.form.description')+":"
      %td
        = @catalog_entry.deployable.description
    %tr
      %td
        %label{:name => 'xml'}=t('catalog_entries.index.deployable_xml')+":"
      %td
        - if params[:deployable_xml]
          = text_area_tag :xml, @catalog_entry.deployable.xml, :disabled => true
          = link_to t(".edit_deployable_xml"), edit_catalog_catalog_entry_path(@catalog_entry.catalog, @catalog_entry.id, :edit_xml => true)
        - else
          = link_to @catalog_entry.deployable.xml_filename, catalog_catalog_entry_path(@catalog_entry.catalog, @catalog_entry.id, :deployable_xml => true)
