= form_for @catalog_entry, :url => catalog_catalog_entries_path(@catalog), :html => {:class => 'generic', :multipart => true } do |form|
  - if @catalog_entry.errors.any?
    = render 'layouts/error_messages', :object => @catalog_entry
  %fieldset
    %p
      = form.label :catalog_id, t('catalog_entries.form.catalog')
      %span.text_instead_input= @catalog.name
      .clear
  = form.fields_for :deployable, @catalog_entry.deployable do |deployable_fields|
    %fieldset
      %p
        = deployable_fields.label :name, t('catalog_entries.index.name')
        = deployable_fields.text_field :name, :class => 'em long'
      %p
        = deployable_fields.label :description, t('catalog_entries.form.description')
        = deployable_fields.text_area :description, :class => 'long'
      %p
        = deployable_fields.label :xml, t('catalog_entries.form.choose_xml')
        = deployable_fields.file_field :xml
  %fieldset
    %p
      = check_box_tag(:edit_xml, true, false)
      = label_tag :edit_xml, t('catalog_entries.form.edit_xml_after_save')

  %fieldset.align-center
    = link_to t('cancel'), catalog_path(@catalog), :class => 'button danger'
    = submit_tag t('save'), :name => 'save', :class => 'button primary', :id => 'save_button'
