= render :partial => 'layouts/admin_nav'
= render :partial => 'section_header'

%section.admin-content-section
  %header
    %h2=t'catalog_entries.new.add_catalog_entry'

  .content
    %h3=t'.choose_option_to_upload'
    %nav.faceted
      %ul#tab-container-1-nav
        = link_to t('catalog_entries.new.upload'), new_catalog_catalog_entry_path(@catalog), :id => "upload"
        = link_to t('catalog_entries.new.from_url'), new_catalog_catalog_entry_path(@catalog, :from_url => true), :id => "from_url"
    .form_option
    = render :partial => @form_option

:javascript
  $(document).ready(function() {
    $("a#upload").click(function(ev){
      ev.preventDefault();
      $.get('#{new_catalog_catalog_entry_url(@catalog)}', function(data){
        $('.form_option').html(data).show();
      });
    });
    $("a#from_url").click(function(ev){
      ev.preventDefault();
      $.get('#{new_catalog_catalog_entry_url(@catalog, :from_url => true)}', function(data){
        $('.form_option').html(data).show();
      });
    });
  });