= render :partial => 'layouts/admin_nav'
%header.admin-page-header
  %h1{:class => controller.controller_name}= @catalog_entry.deployable.name
  #obj_actions.button-container
    .button-group
      = button_to t('catalog_entries.show.delete'), catalog_catalog_entry_path(@catalog_entry.catalog, @catalog_entry), :method => 'delete', :confirm => "#{t'catalog_entries.show.confirm_delete'}", :class => 'button danger', :id => 'delete'
      = link_to t('catalog_entries.show.edit'), edit_catalog_catalog_entry_path(@catalog_entry.catalog, @catalog_entry), :class => 'button', :id => 'edit_button'

    = link_to t('deployments.overview.launch'), '#'

%section.admin-content-section.deployable
  %section.image
    %header
      %h2= t('.image')
      %pre= @catalog_entry.deployable.xml


  %section.build
    %header
      %h2= t('.build')

      = form_tag() do
        = select_tag :build_option, options_for_select([[t("rebuild_all"), 1]])
        = submit_tag t('.start'), :id => :start_build

      %p.description= t('.build_description')

      %ul#providers-list
        - @providers.each do |provider|
          %li
            %span.provider= provider.name
            %span.status Building 98%
            = form_tag()
            %button on/off


  %section.catalogs
    %header
      %h2= t('.catalogs')

      %p= t('.choose_catalog')
      = form_tag() do
        = select_tag :catalog, options_for_select(@catalogs_options)
        = submit_tag t('.add_catalog'), :id => :add_catalog

      %p
        %label= t('.catalog_name')
        = @catalog_entry.catalog.name
      %p
        %label= t('.environment')
        = @catalog_entry.catalog.pool.pool_family.name


  %section.roles
    %header
      %h2= t('.roles')
