%ul
  %li#settings.container_16.grid_8
    %span
    %h2
      = t('.general_settings')
    %p
      = t('.general_settings_desc')
    %button
      = t(:continue)
  %li#locales.container_16.grid_8.disabled
    %span
    %h2
      = t('.define_locales')
    %p
      = t('.define_locales_desc')
    %button
      = t(:continue)
  %li#users.container_16.grid_8
    %span
    %h2
      = t('.manage_users')
    %p
      = t('.manage_users_desc')
    %button
      = t(:continue)
  %li#hardware.container_16.grid_8.disabled
    %span
    %h2
      = t('.define_hardware_profiles')
    %p
      = t('.define_hardware_profiles_desc')
    %button
      = t(:continue)
  %li#providers.container_16.grid_8
    %span
    %h2
      = t('.manage_providers')
    %p
      = t('.manage_providers_desc')
    %button
      = t(:continue)
  %li#services.container_16.grid_8.disabled
    %span
    %h2
      = t('.define_services')
    %p
      = t('.define_services_desc')
    %button
      = t(:continue)
  %li#permissions.container_16.grid_8
    %span
    %h2
      = t('.permissions')
    %p
      = t('.permissions_desc')
    %button
      = t(:continue)
