= render :partial => 'layouts/admin_nav'
%header.page-header
  .obj_actions
    .return_to
      = _("Return to:")
      = link_to _("Settings"), settings_path
  %h1.settings=_("Self-service Settings")

%section.content-section
  %header
    %h2= _("Default user settings")

  .content
    = form_for @self_service_default_quota, :url => { :action => 'update' }, :html => { :class => 'generic horizontal' } do |form|
      - if @self_service_default_quota.errors.any?
        = render 'layouts/error_messages', :object => @self_service_default_quota
      %fieldset
        = hidden_field :self_service_default_quota,  :id
        .field
          %label= _("Instances Quota:")
          = text_field :self_service_default_quota, :maximum_running_instances, :class => 'grid_5'
      %fieldset.options
        .obj_actions
          = submit_tag _("Save"), :class => "button primary"
          = link_to _("Reset"), self_service_settings_path, :class => 'button danger'
