.dcloud_form
  = error_messages_for @parent_type
  = error_messages_for 'self_service_default_quota'
  %h2
    = t('.self_service_default')
  %ul
    %li.selected Self-Service User
  %form
    = submit_tag t(:edit), :disabled => 'disabled'
    = submit_tag t(:new), :disabled => 'disabled'
  - form_for @self_service_default_quota, :url => { :action => 'update' } do |form|
    %fieldset
      %legend
        = t('.account')
      = hidden_field :self_service_default_quota,  :id
      %ul
        %li
          %label
            = t('.quota')
          = text_field :self_service_default_quota, :maximum_running_instances
    = submit_tag t(:save), :class => "submit"
