= render :partial => 'layouts/admin_nav'
%header.page-header
  .obj_actions
    .return_to
      = t 'return_to'
      = link_to t("settings.settings"), settings_path
  %h1.settings=t '.self_service_settings'

%section.content-section
  %header
    %h2= t('.self_service_default')

  .content
    = form_for @self_service_default_quota, :url => { :action => 'update' }, :html => { :class => 'generic horizontal' } do |form|
      - if @self_service_default_quota.errors.any?
        = render 'layouts/error_messages', :object => @self_service_default_quota
      %fieldset
        = hidden_field :self_service_default_quota,  :id
        .field
          %label= t('.instances_quota')
          = text_field :self_service_default_quota, :maximum_running_instances, :class => 'grid_5'
      %fieldset.options
        .obj_actions
          = submit_tag t(:save), :class => "button primary"
          = link_to t('reset'), self_service_settings_path, :class => 'button danger'
