.card_container#password_recovery_container
  .card
    %p
      = t('user_sessions.new.password_unknown_info')
      %a{ :id => "password_return_link", :href => "#" }
        = t('user_sessions.new.return_to_login')
    = form_tag user_session_path, :method => :post, :id => "password_recovery_form", :remote => true do
      %fieldset.primary
        = label_tag :username
        = text_field_tag :username, params[:username]
      %fieldset.primary
        = label_tag :email
        = text_field_tag :email, params[:email]
      %div.group.secondary_actions
        %span
      = submit_tag t('user_sessions.new.reset_password'), :class => 'button fr', :disabled => true
