- if request.ssl?
  .panel#security
    %header.secure
      %h1=t'user_sessions.security.encrypted_connection'
      %span.expiration=t 'user_sessions.security.expiration'
    .content
      %p
        =t'user_sessions.security.issued'
        %br
        =t'user_sessions.security.unknown_ca'
      %p
        =t'user_sessions.security.message', :host => "#{h request.host}"
      %p
        %input.button#show-login{:type => 'button', :value => 'Return to Login'}
    = image_tag 'login-card-logo-upstream.png', :id => 'logo'
-else
  .panel#security
    %header.unsecure
      %h1=t'user_sessions.security.unencrypted_connection'
    .content
      %p
        =t'user_sessions.security.message_unencrypted', :host => "#{h request.host}"
      %p
        =t'user_sessions.security.message_unencrypted2'
      %p
        %input.button#show-login{:type => 'button', :value => "#{t('user_sessions.security.return_to_login')}"}
    = image_tag 'login-card-logo-upstream.png', :id => 'logo'
