:javascript
  $(document).ready(function() {
    $('#new_user_session').submit(function() {
      $.ajax({
        url: this.action,
        type: 'POST',
        dataType: 'script',
        data: $(this).serialize(),
        error: function(response) {
          //TODO: for some reason error connection errors are not handled by 'error' callback,
          //what's worse jquery sets 'textStatus' to success, if we want to catch connection errors
          //we will have to check if status code == 0 in 'complete' callback
          if ($('#notification').length == 0) $('#content').prepend('<div id=notification></div>');
          var text = $.isEmptyObject(response.responseText) ? response.statusText : response.responseText;
          $('#notification').html('<div class=warning>' + text  + '</div>')
        },
      });
      return false;
    });
  })

.modalbox
  %h2 Log In
  .conductor_form
    - form_for @user_session, :url => user_session_path do |f|
      %fieldset
        = f.label :login, "Username:"
        = f.text_field :login
      %fieldset
        = f.label :password, "Password:"
        = f.password_field :password
      %div.indented
        = f.check_box :remember_me
        = f.label :remember_me
      %div.indented
        = link_to "Don't have an account? Create one now.", register_path, :class => 'actionlink'
      = f.submit "Login", :class => "submit dialogbutton"
