:javascript
  $(document).ready(function() {
    $('#username').focus(); // bring the username to focus

    $('#login_form').submit(function() {
      $('#progress-indicator').show();
    });
  })

.card
  -if flash[:warning]
    %div.error
      %p.text= flash[:warning]
  -if flash[:error]
    %div.error
      %p.text= flash[:error]

  = form_tag user_session_path, :id => 'login_form' do
    %fieldset.primary
      = label_tag :login, t("user_sessions.new.username")
      = text_field_tag :login, params[:login], :class => 'username', :id => 'username'
    %fieldset.primary
      = label_tag :password, t("user_sessions.new.password")
      = password_field_tag :password, params[:password], :class => 'password', :id => 'password-input'
    = submit_tag "#{t('user_sessions.new.login')}", :class => "button fr", :id => 'login_btn'
    = image_tag 'login-spinner.gif', :alt => 'Working...', :id => 'progress-indicator'

- unless @disable_password_recovery
  = render :partial => 'password_recovery'
  = render :partial => 'username_recovery'