.modalbox
  %h2 Log In
  .conductor_form
    - form_for @user_session, :url => user_session_path do |f|
      %fieldset
        = f.label :login, "Username:"
        = f.text_field :login
      %fieldset
        = f.label :password, "Password:"
        = f.password_field :password
      %div.indented
        = f.check_box :remember_me
        = f.label :remember_me
      %div.indented
        = link_to "Don't have an account? Create one now.", register_path, :class => 'actionlink'
      = f.submit "Login", :class => "submit dialogbutton"
