= render :partial => 'layouts/admin_nav'
%div#view

- if @realm_target.errors.any?
  = render 'layouts/error_messages', :object => @realm_target

%h2 Create a new Realm Mapping
= form_for @realm_target, :url => realm_mappings_path do |f|
  = f.hidden_field :frontend_realm_id
  = f.hidden_field :realm_or_provider_type

  - label_method = @realm_target.realm_or_provider_type == 'Realm' ? 'name_with_provider' : 'name'
  = select_tag 'realm_backend_target[realm_or_provider_id]', options_from_collection_for_select(@backend_targets, 'id', label_method)
  %fieldset
    = f.submit "Save",  :class => "submit button"
