= render :partial => 'layouts/admin_nav'
%header.page-header
  %h1.realms= @title

%section.content-section
  .content
    - label_method = @realm_target.provider_realm_or_provider_type == 'ProviderRealm' ? 'name_with_provider' : 'name'
    = conductor_form_for(@realm_target, :url => realm_mappings_path) do |f|
      = f.input :frontend_realm_id, :as => :hidden
      = f.input :provider_realm_or_provider_type, :as => :hidden
      = f.input :provider_realm_or_provider_id, :collection => @backend_targets, :label_method => label_method
      = f.button :form_buttons, :cancel => frontend_realm_path(@realm_target.frontend_realm_id)
