Builds for
= @tpl.platform_name
= @tpl.platform_version
, template "#{@tpl.name}"

- form_tag builds_path do
  = hidden_field_tag :template_id, @tpl.id
  - if @targets_not_built.count > 0 then
    - if @tpl.imported
      Build imported template is not supported
    - else
      New Build for
      = select_tag 'target', options_for_select(@targets_not_built)
      = submit_tag "Go", :name => "build"

%ul
  - if @images.empty?
    %li No Builds
  - else
    - @images.each do |img|
      %li
        - form_tag(retry_builds_path, { :method => :post }) do
          = "#{img.name}-#{img.template.architecture}: #{img.status}"
          = hidden_field_tag :template_id, @tpl.id
          = hidden_field_tag :image_id, img.id
          = submit_tag "Retry build", :name => "build"
        - if img.status == Image::STATE_COMPLETED
          %ul
            - img.provider_images.each do |pimg|
              %li
                - form_tag(retry_builds_path, { :method => :post }) do
                  = "#{pimg.provider.name}: #{pimg.status}"
                  = hidden_field_tag :template_id, @tpl.id
                  = hidden_field_tag :provider_image_id, pimg.id
                  = submit_tag "Retry upload", :name => "build"
            - unless @tpl.imported
              - img.not_uploaded_providers.each do |provider|
                %li
                  = "#{provider.name}: "
                  not uploaded
                  = link_to 'upload', upload_builds_path(:template_id => @tpl.id, :image_id => img.id, :provider_id => provider.id), {:class => 'button'}
