%h3 Managed Content Selection
%h5 Search for Content

- form_tag :action => "add_software" do
  = text_field_tag 'search', 'Search Text', :disabled => true
  = hidden_field_tag :template_id, @tpl.id
  %a Advanced Search

  %p
    Repositories to Search:
    %a (Check all)
  %fieldset
    - @repository_manager.repositories.each do |repo|
      = check_box_tag 'repositories[]', repo.id, true
      = label_tag 'repositories[]', repo.name
  %fieldset
    .grid_3.alpha
      = radio_button_tag :show_mode, 'group', true
      = label_tag :show_mode, 'Show by Group'
    .grid_2.omega
      = radio_button_tag :show_mode, 'type', false, :disabled => true
      = label_tag :show_mode, 'Show by Type'

  = submit_tag "Add Selected", :name => "add_selected", :class => "dialogbutton"
  = submit_tag "Cancel", :name => "cancel", :class => "dialogbutton"
  %ul.sidebarcontainer
    - @groups.keys.sort.each do |group|
      - group_sel = @groups[group][:selected]
      - group_id = group.gsub(/\s/, '_')
      %li
        = check_box_tag 'groups[]', group, group_sel, :disabled => group_sel, :id => "group_#{group_id}"
        = label_tag "group_#{group_id}", group
        %ul
          - @groups[group][:packages].each do |pkg, info|
            - pkg_sel = info[:selected] ? true : false
            - pkg_id = pkg.gsub(/\s/, '_')
            %li
              = check_box_tag 'packages[]', pkg, pkg_sel, :disabled => pkg_sel, :id => "package_#{pkg_id}"
              = label_tag "package_#{pkg_id}", pkg

  = submit_tag "Add Selected", :name => "add_selected", :class => "dialogbutton"
  = submit_tag "Cancel", :name => "cancel", :class => "dialogbutton"
