:javascript
  $(document).ready(function() {
    var $content_container = $('#managed_content');
    var $sel_pkg_container = $('#package_selection_list');
    var $submit            = $('#add_software_button');
    $submit.click(function(e) {
      e.preventDefault();
      $submit.hide();
      var data = {
        'packages[]': $("input[name='packages[]']").map(function() {return $(this).val()}).get(),
        'repository': $("select[name='tpl[platform]']").val() || ''
      }
      var url = '#{url_for :action => 'content_selection', :id => @id}';
      //$content_container.empty().show();
      $sel_pkg_container.empty().show().addClass('loading');
      $sel_pkg_container.load(url, data, function(){
        $sel_pkg_container.removeClass('loading');
        var $groups = $('.softwaregroups .disclosure', this);
        //search
        $("input[name='package_search']").keypress(function(event) {
          if (event.keyCode == '13') {
            event.preventDefault();
            $("input[name=package_search] ~ button").click();
          }
        });
        $("input[name=package_search] ~ button").click(function(event) {
          event.preventDefault();
          var data = {
            'packages[]': $("input:text[name='packages[]']").map(function() {return $(this).val()}).get(),
            'package_search': $("input[name='package_search']").val(),
            'repository': $("select[name='tpl[platform]']").val()
          };
          var url = '#{url_for :action => 'search_packages', :id => @id}';
          $('#metagrouppackages').empty().addClass('loading');
          $('#metagrouppackages').load(url, data, function() {
            $('#metagrouppackages').removeClass('loading');
          });
        });
      });
    });
    //removing packages from the list
    $('.remove_package').live('click', function (e) {
      e.preventDefault();
      $(this).parent().hide(300, function () {
        $(this).remove();
      });
    });
    //displaying extended package info and actions
    $('.dropdown').hide();
    $('.packagename').live('click', function () {
      var dropdowncontent = $(this).siblings('.dropdown').html(),
      $dropdown = $("#dropdown");
      $('.packagewrap').removeClass('selected');
      $(this).parent().addClass('selected');
      $dropdown.empty().html(dropdowncontent).css({
        'top': $(this).positionAncestor('#content').top + 17,
        'left': $(this).positionAncestor('#content').left - 4
      }).show();
    });
    //catch #content clicks and hide the #dropdown if it's not within it
    $("#content").click(function (e) {
      if(!e.target.id === 'dropdown' || !$(e.target).closest("#dropdown").length) {
        $("#dropdown").hide();
        $('.packagewrap').removeClass('selected');
      }
    });
    // select correct package repo when we change platform
    $("select[name='tpl[platform]']").change(function() {
      if ($submit.is(':hidden')) {
        $submit.trigger('click');
      }
    });
    // add selected pkgs/groups
    $('#do_add_software').live('click', function(e) {
      e.preventDefault();
      var $button = $(this).clone();
      var label = "<span id='do_add_software' class='loading fl'>Adding Packages</span>";
      var url = '#{url_for :action => 'managed_content'}';
      var new_pkgs = $("input:checked[name='selected_packages[]']").map(function() {return $(this).val()}).get();
      var old_pkgs =  $("input:hidden[name='packages[]']").map(function() {return $(this).val()}).get()
      var cached_pkgs =  $("input:hidden[name='cached_packages[]']").map(function() {return $(this).val()}).get()
      var data = {
        'selected_packages[]': old_pkgs.concat(new_pkgs.concat(cached_pkgs)),
        'selected_groups[]': $("input:checked[name='groups[]']").map(function() {return $(this).val()}).get(),
        'collections': $("input:hidden[name=collections]").val(),
        'template_id'  : '#{@id.nil? ? nil : @id}'
      };
      $(this).replaceWith(label);
      $('#managed_content').load(url, data, function(){
        $("input:checked[name='groups[]']").attr('disabled', 'disabled');
        $("input:checked[name='packages[]']").attr('disabled', 'disabled');
        // $('#add_software_button').show();
        $('.dropdown').hide();
        $('#do_add_software').replaceWith($button);
      });
    });
    // hide sw selection panel
    $('#cancel_add_software').live('click', function(e) {
      e.preventDefault();
      $('#package_selection_list').hide();
      $('#add_software_button').show();
      $('.dropdown').hide();
    });
  });

= error_messages_for :tpl, :object_name => 'template'
= render :partial => 'basics'
= render :partial => 'local_content_to_bundle'

#managed_content
  = render :partial => 'managed_content'

.clearfix
  .grid_16.alpha.omega
    = submit_tag "Add Software", :name => "add_software_form", :id => "add_software_button", :class => "iconbutton"

#package_selection_list{:style => 'display: none'}

= render :partial => 'preboot_configuration'

= submit_tag "Save", :name => "save", :class => "formbutton"
= submit_tag "Cancel", :name => "cancel", :class => "formbutton"
