#selected_packages
  %h3.gap Managed Content to Bundle
  .grid_16.alpha.omega
    - if @tpl.packages.empty?
      No selected packages
    - else
      /- repos = @repository_manager.repositories_hash
      - @tpl.packages.sort.each do |pkg|
        /- pkg_group = @groups.keys.find {|g| @groups[g][:packages][pkg]}
        .packagewrap
          %a.packagename{:id => "package_#{pkg}"}=pkg
          = hidden_field_tag 'packages[]', pkg, :id => "package_#{pkg}"
          = restful_submit_tag "Remove", "remove_package", remove_package_image_factory_templates_path(:name => pkg), 'GET', {:id => "remove_package_#{pkg}", :class => 'remove_package'}
          .dropdown
            / we don't display repository for now, it's pretty difficult with current design
            /%section
            /  Repository:
            /  %label= (pkg_group and repo = repos[@groups[pkg_group][:repository_id]]) ? repo.name.to_s : '&nbsp;'
            %fieldset.nomargin
              %button{:disabled => true} Browse
              %button{:disabled => true} Config
