#clear
  %h3 Cloud Provider Services
  %ul
    %li
      %label S3-Compatible Storage
      = check_box_tag 'xml[services][amazon3_storage]', '1', @image_descriptor.xml.services.include?('amazon3_storage')
      = label_tag 'xml[services][amazon3_storage]', 'Enable Amazon S3 storage', :class => "plain"
    %li
      %label Inter-node Messaging
      = check_box_tag 'xml[services][inter_node_messaging]', '1', @image_descriptor.xml.services.include?('inter_node_messaging')
      = label_tag 'xml[services][inter_node_messaging]', 'Enable inter-node messaging', :class => "plain"
    %li
      %label High Availability
      = check_box_tag 'xml[services][availability]', '1', @image_descriptor.xml.services.include?('availability')
      = label_tag 'xml[services][availability]', 'Enable high availability services', :class => "plain"
    %li
      %label JBoss
      = check_box_tag 'xml[services][jboss]', '1', @image_descriptor.xml.services.include?('jboss')
      = label_tag 'xml[services][jboss]', 'Enable JBoss infrastructure', :class => "plain"
    %li
      %label Cooling Tower
      = check_box_tag 'xml[services][cooling_tower]', '1', @image_descriptor.xml.services.include?('cooling_tower')
      = label_tag 'xml[services][cooling_tower]', 'Enable Cooling Tower', :class => "plain"
