:javascript
  $(document).ready(function() {
    var $metagrouppackages = $('#metagrouppackages');
    $('.metagroups input[name="show_metagroup"]').click(function(e) {
      e.preventDefault();
      var data = {
        'show_metagroup': e.currentTarget.value,
        selected_packages:  $("input:hidden[name='selected_packages[]']").map(function() {return $(this).val()}).get()
      };
      var url = '#{url_for :action => 'dispatch', :id => @id}';
      $metagrouppackages.load(url, data);
    });
  });

.grid_16
  %h3 Managed Content Selection

  - form_tag :action => "dispatch" do
    - unless @embed
      = render :partial => 'hidden_fields'
    - @packages.each do |p|
      <input type="hidden" id="selected_package_#{p[:name]}" name="selected_packages[]" value="#{p[:name]}" />
    %fieldset.clearfix
      .search.grid_4.alpha
        %input{:type => "search", :placeholder => "Search for package", :name => 'package_search'}
        %button.action
      .grid_8
      %a.grid_4.omega Advanced Search

    %ul.metagroups{:class => 'packagegroupsidebar grid_4 alpha'}
      %li
        = submit_tag 'Collections', :name => 'show_metagroup', :id => 'collections', :class => 'icon'
      - @metagroups.keys.sort.each do |cat|
        %li
          = submit_tag cat, :name => "show_metagroup", :class => 'icon'
    #metagrouppackages.grid_12.omega.gap
      - if @collections
        = render :partial => 'collections'
      - else
        - if @metagroup_packages.blank?
          %span.disabled No group selected
        - else
          = render :partial => 'metagroup_packages'
