.grid_16
  %h3 Managed Content Selection

  - form_tag :action => "dispatch" do
    - unless @embed
      = render :partial => 'hidden_fields'
    - @packages.each do |p|
      <input type="hidden" id="selected_package_#{p[:name]}" name="selected_packages[]" value="#{p[:name]}" />
    %fieldset.clearfix
      .search.grid_4.alpha
        %input{:type => "search", :placeholder => "Search for package", :disabled => "disabled"}
        %button.action
      .grid_8
        %p
          Repositories to Search:
          %a (Check all)
        %fieldset
          - @repository_manager.repositories.each do |repo|
            = check_box_tag 'repositories[]', repo.id, true
            = label_tag 'repositories[]', repo.name
      %a.grid_4.omega Advanced Search

    %ul.softwaregroups
      - groups = @groups.keys.sort
      - unsorted = groups.delete('unsorted')
      - groups.push('unsorted') if params[:show_unsorted] and unsorted
      - groups.each do |group|
        - group_sel = @groups[group][:selected]
        - group_id = group.gsub(/\s/, '_')
        %li
          = check_box_tag 'groups[]', group, group_sel, :id => "group_#{group_id}"
          %label.disclosure
            =group
          %ul{:class => "packages group_#{group_id}"}
            - pkgs = @groups[group][:packages]
            - pkgs.keys.sort.each do |pkg|
              - pkg_sel = pkgs[pkg][:selected] ? true : false
              - pkg_id = pkg.gsub(/\s/, '_')
              %li
                = check_box_tag 'packages[]', pkg, pkg_sel, :id => "package_#{pkg_id}"
                = label_tag "package_#{pkg_id}", pkg
      = link_to "Show unsorted packages", {:action => 'dispatch', :add_software_form => true, :show_unsorted => true, 'tpl[id]' => @tpl.id}, {:id => 'switch_all_link'} unless params[:show_unsorted]

    %fieldset.clearfix
      = submit_tag "Add Selected", :name => "add_selected", :class => "grid_2 alpha", :id => "do_add_software"
      = submit_tag "Cancel", :name => "cancel_add_software", :class => "grid_2", :id => "cancel_add_software"
