%h2 Assembly
- form_tag :controller => 'templates' do
  #general_information
    %h3 General Information
    = text_field :templates, :deployment_name, :value => 'Deployment Name', :disabled => 'disabled'
    = text_field :templates, :deployment_description, :value => 'Deployment Description', :disabled => 'disabled'
    = text_field :templates, :current_version, :value => 'Current Version'
    %button{ :disabled => 'disabled' }
      New Version
    = file_field :templates, :choose_logo, :value => 'Choose Logo'
    = text_field :templates, :logo_text, :value => 'Logo Text (5 characters)'
    %label{ :for => :template_group}
      Template Group
    = select_tag(:template_group, options_for_select([['User Private', 1]]))
    %span
      (
      %a{ :href => ''}<> add
      )
  #machine_definitions
    %h3 MACHINE DEFINITIONS
    %label OS:
    RHEL
    %label OS Version:
    6.013 Beta 2
    %table
      %thead
        %th
        %th Hardware Profiles
        %th Locale
        %th
      %tbody
        %tr
          %td Global Settings
          %td= select_tag('type1', options_for_select([['Small', 1]]))
          %td= select_tag('type2', options_for_select([['Any', 1]]))
          %td
            %button{:type => 'button', :disabled => 'disabled'} Config
    %table
      %thead
        %th
        %th Name
        %th Hardware Profiles
        %th Locale
        %th
        %th
      %tbody
        - (1..2).each do
          %tr
            %td Bill's LB Kernel
            %td= text_field :templates, :type1
            %td= select_tag('type1', options_for_select([['Small', 1]]))
            %td= select_tag('type2', options_for_select([['Any', 1]]))
            %td
              %button{:type => 'button', :disabled => 'disabled'} Config
            %td
              %a Remove

  #build
    %h3 BUILD
    %b Choose Provider Format:
    %ul
      - @all_targets.each do |target_id, target|
        %li
        = check_box_tag 'targets[]', target_id, false
        = label_tag 'targets[]', target['name']


  #search_assemblies
    %h3 Search Assemblies
    %input{ :type => 'text', :class => 'search'} Search Text
    %span
      (
      %a{ :href => '' }<> Filter Results
      )
    %h4 Show Matches with:
    %input{ :type => 'checkbox', :id => 'match_name' }
    %label{ :for => 'match_name'} Name
    %input{ :type => 'checkbox', :id => 'match_description' }
    %label{ :for => 'match_description'} Match Description
    %input{ :type => 'checkbox', :id => 'match_category' }
    %label{ :for => 'match_category'} Category
    %input{ :type => 'checkbox', :id => 'match_base_os' }
    %label{ :for => 'match_base_os'} Base OS
    %input{ :type => 'checkbox', :id => 'match_services_provided' }
    %label{ :for => 'match_services_provided'} Services Provided
    %input{ :type => 'checkbox', :id => 'match_services_required' }
    %label{ :for => 'match_services_required'} Services Required
    %span
      (
      %a{ :href => ''}<> Uncheck All
      )

  #machine_definitions_list
    %h3 MACHINE DEFINITION
    %ul
      - (1..10).each do
        %li
          %span.name BILL'S LOAD BALANCER
          %span.description A load balancer based on the algorithms put fourth in the latest journal
          %label OS
          %span.os RHEL 6.013 Beta 2
          %label Service Provided
          %span.service_provided Load Balancer
          %label Service Required
          %span.service_required SQL Server, S3

          %button Add
          %label Category:
          %span.category System
          %span.version Vers 7.2

  = submit_tag 'Cancel'
  = submit_tag 'Submit to Build'
