- form_tag(:action => 'action') do
  .actionsidebar.grid_3
    %dl
      %dt Actions
      %dd
        %h5 Show
        %ul
          %li
            = check_box_tag 'views[]', 'templates', true, :disabled => true
            = label_tag 'views[]', 'Templates'
          %li
            = check_box_tag 'views[]', 'assemblies', true, :disabled => true
            = label_tag 'views[]', 'Assemblies'
          %li
            = check_box_tag 'views[]', 'deployables', true, :disabled => true
            = label_tag 'views[]', 'Deployables'

      %dd
        %h5 Manage
        %ul
          %li.edit
            %span
            = submit_tag "Edit", :name => "edit", :class => "icon"
          %li.delete
            %span
            = submit_tag "Delete", :name => "delete", :class => "icon"
          %li.rename.disabled
            %span
            = submit_tag "Rename", :name => "rename", :disabled => true, :class => "icon"
          %li.copy.disabled
            %span
            = submit_tag "Copy", :name => "copy", :disabled => true, :class => "icon"
      %dd
        %h5 Build
        %ul
          %li.build
            %span
            = submit_tag "Build", :name => "build", :class => "icon"
      %dd
        %h5 Create New
        %ul
          %li.add
            %span
            = submit_tag "Template", :name => "new_template", :class => "icon"
          %li.add
            %span
            = submit_tag "Assembly", :name => "assembly", :class => "icon"
          %li.add
            %span
            = submit_tag "Deployment def.", :name => "deployment_definition", :class => "icon"

  #tables.grid_13
    %h3 Templates
    = render :partial => 'templates'

    %h3 Assembly
    = render :partial => 'templates'

    %h3 Deployment Definitions
    = render :partial => 'templates'

:javascript
  $(document).ready(function () {
    $("#tables input[type='checkbox']").buttonSensitivity();
  });
