.actionsidebar.grid_3
  %dl
    %dt Actions
    %dd
      %h5 VIEW
      %ul
        %li
          = check_box_tag 'views[]', 'templates', true, :disabled => true
          = label_tag 'views[]', 'Templates'
    %dd
      %h5 MANAGE
      %ul
        %li= link_to "Edit", {:controller => "templates", :action => "edit"}
        %li= link_to "Delete", {:controller => "templates", :action => "delete"}
        %li= link_to "Rename", {:controller => "templates", :action => "rename"}
        %li= link_to "Copy", {:controller => "templates", :action => "copy"}
    %dd
      %h5 BUILD
      %ul
        %li= link_to "Build", {:controller => "templates", :action => "build_form"}
    %dd
      %h5 CREATE NEW
      %ul
        %li= link_to "Template", {:controller => "templates", :action => "new"}
        %li= link_to "Assembly", {:controller => "templates", :action => "assembly"}
        %li= link_to "Deployment Definition", {:controller => "templates", :action => "deployment_definition"}

.grid_13
  %h2 Manage Templates
  %h3 Templates
  = render :partial => 'templates'

  %h3 Assembly
  %table
  = render :partial => 'templates'

  %h3 Deployment Definitions
  = render :partial => 'templates'
