:javascript
  $(document).ready(function() {
    var $container = $('#package_selection_list'),
    $submit = $('#add_software_button');
    $submit.click(function() {
      var list_url = '#{url_for :action => 'create', :ajax => true, :add_software_form => true}';
      var list_data = {'tpl[id]': $("input[name='tpl[id]']").val() || ''};
      $(this).hide();
      $container.addClass('loading');
      $container.load(list_url, list_data, function() {
        $container.removeClass('loading')
          .css({'display': 'block'});
        $('#do_add_software').click(function() {
          var url = '#{url_for :action => 'add_software', :ajax => true, :add_selected => true}';
          var data = {
            'packages[]': $("input:checked[name='packages[]']").map(function() {return $(this).val()}).get(),
            'groups[]': $("input:checked[name='groups[]']").map(function() {return $(this).val()}).get(),
            'template_id': $("input[name='tpl[id]']").val() || ''
          };
          $('#selected_packages').load(url, data, function() {});
          return false;
        });
        $('#cancel_add_software').click(function() {
          $container.hide();
          $submit.show();
          return false;
        });
      });
      return false;
    });
  });

.grid_16
  %h2 Template
  - form_for @tpl, :url => { :action => "create" } do
    = error_messages_for 'tpl'
    = render :partial => 'basics'

    %h3.disabled.gap Local Content to Bundle
    %hr
    %fieldset.clearfix
      = label_tag :local_bundle_name, 'Local:', :class => "disabled grid_2 alpha"
      = text_field_tag 'local_bundle_name[]', 'Bundle Name', :disabled => true, :class => "grid_8"
      .grid_6.omega
        %button{:type => 'button', :disabled => 'disabled'} Browse
        %button{:type => 'button', :disabled => 'disabled'} Config
        %button{:type => 'button', :disabled => 'disabled'} Metadata
        (
        %a{:href => '#'} Remove
        )
      .grid_2.alpha
        &nbsp;
      = text_field_tag 'local_bundle_name[]', 'Bundle Name', :disabled => true, :class => "grid_8"
      .grid_6.omega
        %button{:type => 'button', :disabled => 'disabled'} Browse
        %button{:type => 'button', :disabled => 'disabled'} Config
        %button{:type => 'button', :disabled => 'disabled'} Metadata
        (
        %a{:href => '#'} Remove
        )

    = render :partial => 'managed_content'
    .clearfix
      .grid_14.alpha.prefix_2
        = submit_tag "Add Software", :name => "add_software_form", :id => "add_software_button", :class => "iconbutton"

    #package_selection_list{:style => 'display: none'}
    %h3.gap.clear Preboot Configuration
    %hr
    %fieldset.clearfix
      .grid_4.alpha
        = radio_button_tag :configure_via_script, 'no', :disabled => true
        = label_tag :configure_via_script, 'Configure Via Script'
      = file_field_tag 'script_file', :disabled => true, :class => 'grid_12 omega'
    %fieldset.clearfix
      .grid_4.alpha
        = radio_button_tag :configure_via_script, 'no', :disabled => true
        = label_tag :configure_via_script, 'Configure Via Script'
      = file_field_tag 'script_file', :disabled => true, :class => 'grid_12 omega'

    = submit_tag "Save", :name => "save", :class => "dialogbutton"
    = submit_tag "Cancel", :name => "cancel", :class => "dialogbutton"
