:javascript
  $(document).ready(function() {
    $(':submit[name=add_software_form]').click(function() {
      $(this).css('display', 'none');
      var div = $('#package_selection_list');
      div.css('display', 'block');
      div.addClass('loading');
      // delete this styling when regular css #package_selection_list is done
      div.css({'width': '600px', 'height': '300px', 'overflow': 'auto'});
      var list_url = '#{url_for :action => 'create', :ajax => true, :add_software_form => true}';
      var list_data = {'tpl[id]': $("input[name='tpl[id]']").val() || ''};
      div.load(list_url, list_data, function() {
        div.removeClass('loading');
        $(':submit[name=add_selected]').click(function() {
          var url = '#{url_for :action => 'add_software', :ajax => true, :add_selected => true}';
          var data = {
            'packages[]': $("input:checked[name='packages[]']").map(function() {return $(this).val()}).get(),
            'groups[]': $("input:checked[name='groups[]']").map(function() {return $(this).val()}).get(),
            'template_id': $("input[name='tpl[id]']").val() || ''
          };
          $('#selected_packages').load(url, data, function() {});
          return false;
        });
        $(':submit[name=cancel]').click(function() {
          div.css('display', 'none');
          return false;
        });
      });
      return false;
    });
  });

%h2.grid_16 Template
- form_for @tpl, :url => { :action => "create" } do
  = error_messages_for 'tpl'
  .grid_11
    = render :partial => 'basics'

    %h3.disabled.gap Local Content to Bundle
    %hr
    %fieldset
      = label_tag :local_bundle_name, 'Local:', :class => "disabled grid_2 alpha"
      = text_field_tag 'local_bundle_name[]', 'Bundle Name', :disabled => true, :class => "grid_3"
      .grid_6.omega
        %button{:type => 'button', :disabled => 'disabled'} Browse
        %button{:type => 'button', :disabled => 'disabled'} Config
        %button{:type => 'button', :disabled => 'disabled'} Metadata
        (
        %a{:href => '#'} Remove
        )
      .grid_2.alpha
        &nbsp;
      = text_field_tag 'local_bundle_name[]', 'Bundle Name', :disabled => true, :class => "grid_3"
      .grid_6.omega
        %button{:type => 'button', :disabled => 'disabled'} Browse
        %button{:type => 'button', :disabled => 'disabled'} Config
        %button{:type => 'button', :disabled => 'disabled'} Metadata
        (
        %a{:href => '#'} Remove
        )

    = render :partial => 'managed_content'
    = submit_tag "Add Software", :name => "add_software_form"
    #package_selection_list{:style => 'display: none'}

    %h3.gap.clear Preboot Configuration
    %hr
    %fieldset
      .grid_4
        = radio_button_tag :configure_via_script, 'no', :disabled => true
        = label_tag :configure_via_script, 'Configure Via Script'
      = file_field_tag 'script_file', :disabled => true, :class => 'grid_5'
    %fieldset.clear
      .grid_4
        = radio_button_tag :configure_via_script, 'no', :disabled => true
        = label_tag :configure_via_script, 'Configure Via Script'
      = file_field_tag 'script_file', :disabled => true, :class => 'grid_5'

    = submit_tag "Save", :name => "save", :class => "dialogbutton"
    = submit_tag "Cancel", :name => "cancel", :class => "dialogbutton"
