:javascript
  $(document).ready(function() {
    var $content_container = $('#managed_content');
    var $sel_pkg_container = $('#package_selection_list');
    var $submit            = $('#add_software_button');
    $submit.click(function(e) {
      e.preventDefault();
      $submit.hide();
      var data = {
        'packages[]': $("input[name='packages[]']").map(function() {return $(this).val()}).get(),
        'repository': $("select[name='tpl[platform]']").val() || ''
      }
      var url = '#{url_for :action => 'content_selection', :embed => true, :id => @id}';
      //$content_container.empty().show();
      $sel_pkg_container.empty().show().addClass('loading');
      $sel_pkg_container.load(url, data, function(){
        $sel_pkg_container.removeClass('loading');
        var $groups = $('.softwaregroups .disclosure', this);
        //search
        $("input[name='package_search']").keypress(function(event) {
          if (event.keyCode == '13') {
            event.preventDefault();
            $("input[name=package_search] ~ button").click();
          }
        });
        $("input[name=package_search] ~ button").click(function(event) {
          event.preventDefault();
          var data = {
            'packages[]': $("input:text[name='packages[]']").map(function() {return $(this).val()}).get(),
            'package_search': $("input[name='package_search']").val(),
            'repository': $("select[name='tpl[platform]']").val()
          };
          var url = '#{url_for :action => 'dispatch', :id => @id}';
          $('#metagrouppackages').load(url, data);
        });
      });
    });
    $('.remove_package').click(function() { $(this).parent().parent().remove(); });
    // select correct package repo when we change platform
    $("select[name='tpl[platform]']").change(function() {
      if ($submit.is(':hidden')) {
        $submit.trigger('click');
      }
    });
  });

.grid_16
  %h2 Template
  - form_for @tpl, :url => { :action => "dispatch" } do
    <input type="hidden" id="id" name="id" value="#{@id}" />
    = hidden_field :tpl, :id
    = error_messages_for :tpl, :object_name => 'template'
    = render :partial => 'basics'

    %h3.disabled.gap Local Content to Bundle
    %hr
    %fieldset.clearfix
      = label_tag :local_bundle_name, 'Local:', :class => "disabled grid_2 alpha"
      = text_field_tag 'local_bundle_name[]', 'Bundle Name', :disabled => true, :class => "grid_8"
      .grid_6.omega
        %button{:type => 'button', :disabled => 'disabled'} Browse
        %button{:type => 'button', :disabled => 'disabled'} Config
        %button{:type => 'button', :disabled => 'disabled'} Metadata
        (
        %a{:href => '#'} Remove
        )
      .grid_2.alpha
        &nbsp;
      = text_field_tag 'local_bundle_name[]', 'Bundle Name', :disabled => true, :class => "grid_8"
      .grid_6.omega
        %button{:type => 'button', :disabled => 'disabled'} Browse
        %button{:type => 'button', :disabled => 'disabled'} Config
        %button{:type => 'button', :disabled => 'disabled'} Metadata
        (
        %a{:href => '#'} Remove
        )

    #managed_content
      = render :partial => 'managed_content'

    .clearfix
      .grid_14.alpha.prefix_2
        = submit_tag "Add Software", :name => "add_software_form", :id => "add_software_button", :class => "iconbutton"

    #package_selection_list{:style => 'display: none'}

    %h3.gap.clear Preboot Configuration
    %hr
    %fieldset.clearfix
      .grid_4.alpha
        = radio_button_tag :configure_via_script, 'no', :disabled => true
        = label_tag :configure_via_script, 'Configure Via Script'
      = file_field_tag 'script_file', :disabled => true, :class => 'grid_12 omega'
    %fieldset.clearfix
      .grid_4.alpha
        = radio_button_tag :configure_via_script, 'no', :disabled => true
        = label_tag :configure_via_script, 'Configure Via Script'
      = file_field_tag 'script_file', :disabled => true, :class => 'grid_12 omega'

    = submit_tag "Save", :name => "save", :class => "dialogbutton"
    = submit_tag "Cancel", :name => "cancel", :class => "dialogbutton"
