%h2 TEMPLATE
- form_for @tpl, :url => { :action => "create" } do
  = error_messages_for 'tpl'
  = hidden_field :tpl, :id
  %div{:style => 'float: right'}
    = render :partial => 'content_selection'
  = render :partial => 'basics'
  %p
    %h3 LOCAL CONTENT TO BUNDLE
    %hr
    = label_tag :local_bundle_name, 'Local'
    %br
    = text_field_tag 'local_bundle_name[]', 'Bundle Name', :disabled => true
    %button{:type => 'button', :disabled => 'disabled'} Browse
    %button{:type => 'button', :disabled => 'disabled'} Config
    %button{:type => 'button', :disabled => 'disabled'} Metadata
    %button{:type => 'button', :disabled => 'disabled'} Remove
    %br
    = text_field_tag 'local_bundle_name[]', 'Bundle Name', :disabled => true
    %button{:type => 'button', :disabled => 'disabled'} Browse
    %button{:type => 'button', :disabled => 'disabled'} Config
    %button{:type => 'button', :disabled => 'disabled'} Metadata
    %button{:type => 'button', :disabled => 'disabled'} Remove
  %p
    = render :partial => 'managed_content'
  %p
    %h3 PREBOOT CONFIGURATION
    %hr
    = radio_button_tag :configure_via_script, 'no', :disabled => true
    = label_tag :configure_via_script, 'Configure Via Script'
    = file_field_tag 'script_file', :disabled => true
    %br
    = radio_button_tag :configure_via_script, 'no', :disabled => true
    = label_tag :configure_via_script, 'Configure Via Script'
    = file_field_tag 'script_file', :disabled => true

  %p
    = submit_tag "Cancel", :name => "cancel"
    = submit_tag "Save", :name => "save"
