#image_descriptor_form{:class => 'dcloud_form'}
  %h2 Template Builder - Basic Template
  = error_messages_for 'image_descriptor'
  -form_for @image_descriptor, :url =>{:action => controller.action_name, :id => @image_descriptor} do
    = render :partial => "basics"
    = render :partial => "platform"
    = render :partial => "services"
    = render :partial => "software"
    = render :partial => "scripting"
    = render :partial => "image_formats"
    = render :partial => "build_images"
