:javascript
  $(document).ready(function() {
    var $content_container = $('#managed_content');
    var $sel_pkg_container = $('#package_selection_list');
    var $submit            = $('#add_software_button');
    $submit.click(function(e) {
      e.preventDefault();
      $submit.hide();
      var data = {
        'packages[]': $("input[name='packages[]']").map(function() {return $(this).val()}).get()
      }
      var url = '#{url_for :action => 'content_selection', :embed => true, :id => @id}';
      $content_container.empty().show();
      $sel_pkg_container.empty().show().addClass('loading');
      $sel_pkg_container.load(url, data, function(){
        $sel_pkg_container.removeClass('loading');
        var $groups = $('.softwaregroups .disclosure', this);
        $('#do_add_software').click(function(e) {
          e.preventDefault();
          var url = '#{url_for :action => 'managed_content'}';
          var data = {
            'selected_packages[]': $("input:checked[name='packages[]']").map(function() {return $(this).val()}).get(),
            'selected_groups[]': $("input:checked[name='groups[]']").map(function() {return $(this).val()}).get(),
            'template_id'  : '#{@id.nil? ? nil : @id}'
          };
          $content_container.load(url, data, function(){
            $sel_pkg_container.empty().show();
            $submit.show();
            $('.remove_package').click(function() { $(this).parent().parent().remove(); });
          });
        });
        $('#switch_all_link').click(function(e) {
          e.preventDefault();
          $submit.trigger('click', [true]);
        });
        $('#cancel_add_software').click(function(e) {
          e.preventDefault();
          var data = {
            'selected_packages[]': $("input[name='selected_packages[]']").map(function() {return $(this).val()}).get(),
            'selected_groups[]': $("input:checked[name='groups[]']").map(function() {return $(this).val()}).get(),
            'template_id'  : '#{@id.nil? ? nil : @id}'
          }
          var url = '#{url_for :action => 'managed_content'}';
          $content_container.load(url, data, function(){
            $sel_pkg_container.empty().show();
            $submit.show();
          });
        });
        //select all packages in group
        $(".softwaregroups input[type='checkbox']").click(function() {
          if ($(this).attr("checked") === true) {
            $(this).siblings("ul").find("input[type='checkbox']").attr("checked","checked");
          } else {
            $(this).siblings("ul").find("input[type='checkbox']").removeAttr("checked");
          }
        });
        //disclosure triangles
        $(".packages").hide();
        $groups.click(function() {
          var $packages = $(this).siblings('.packages');
          var $container = $(this).parent('li');
          $packages.toggle(200);
          $container.toggleClass('expanded');
        });
      });
    });
    $('.remove_package').click(function() { $(this).parent().parent().remove(); });
  });

.grid_16
  %h2 Template
  - form_for @tpl, :url => { :action => "dispatch" } do
    <input type="hidden" id="id" name="id" value="#{@id}" />
    = hidden_field :tpl, :id
    = error_messages_for :tpl
    = render :partial => 'basics'

    %h3.disabled.gap Local Content to Bundle
    %hr
    %fieldset.clearfix
      = label_tag :local_bundle_name, 'Local:', :class => "disabled grid_2 alpha"
      = text_field_tag 'local_bundle_name[]', 'Bundle Name', :disabled => true, :class => "grid_8"
      .grid_6.omega
        %button{:type => 'button', :disabled => 'disabled'} Browse
        %button{:type => 'button', :disabled => 'disabled'} Config
        %button{:type => 'button', :disabled => 'disabled'} Metadata
        (
        %a{:href => '#'} Remove
        )
      .grid_2.alpha
        &nbsp;
      = text_field_tag 'local_bundle_name[]', 'Bundle Name', :disabled => true, :class => "grid_8"
      .grid_6.omega
        %button{:type => 'button', :disabled => 'disabled'} Browse
        %button{:type => 'button', :disabled => 'disabled'} Config
        %button{:type => 'button', :disabled => 'disabled'} Metadata
        (
        %a{:href => '#'} Remove
        )

    #managed_content
      = render :partial => 'managed_content'

    .clearfix
      .grid_14.alpha.prefix_2
        = submit_tag "Add Software", :name => "add_software_form", :id => "add_software_button", :class => "iconbutton"

    #package_selection_list{:style => 'display: none'}

    %h3.gap.clear Preboot Configuration
    %hr
    %fieldset.clearfix
      .grid_4.alpha
        = radio_button_tag :configure_via_script, 'no', :disabled => true
        = label_tag :configure_via_script, 'Configure Via Script'
      = file_field_tag 'script_file', :disabled => true, :class => 'grid_12 omega'
    %fieldset.clearfix
      .grid_4.alpha
        = radio_button_tag :configure_via_script, 'no', :disabled => true
        = label_tag :configure_via_script, 'Configure Via Script'
      = file_field_tag 'script_file', :disabled => true, :class => 'grid_12 omega'

    = submit_tag "Save", :name => "save", :class => "dialogbutton"
    = submit_tag "Cancel", :name => "cancel", :class => "dialogbutton"
