- content_for :scripts do
  :javascript
    $(document).ready(function() {
      var refreshId = setInterval(function() {
        $('#image_target_list').load('#{url_for :controller => 'templates', :action => 'targets', :id => @image_descriptor}');
      }, 10000);
      $(".expand_target_list_button").css('display', 'block');
      $("#image_build_form").css('display', 'none');
      $(".expand_target_list_button").toggle(
        function(ev) {
          $("#image_build_form").css('display', 'block');
          $(this).val('Cancel');
        }, function(ev) {
          $("#image_build_form").css('display', 'none');
          $(this).val('Build Images');
        }
      );
    });

= render :partial => "nav"

#image_descriptor_form{:class => 'dcloud_form'}
  = error_messages_for 'image_descriptor'

  - form_for @image_descriptor, :url => {:action => 'build', :id => @image_descriptor} do
    .summary_panel
      %ul{:class => 'side_panel'}
        %li
          BASICS
          %label
            = @image_descriptor.xml.name
          %label
            = @image_descriptor.xml.platform
          %label
            = @image_descriptor.xml.description
        %li
          SERVICES
          - @image_descriptor.xml.services.each do |service|
            %label
              = service
        //FIXME: software could take realy long space
        //%li
        //  SOFTWARE

      %ul{:class => 'main_panel'}
        .image_build_panel
          %h3
            Images
            %input{:type => 'button', :class => "expand_target_list_button", :value => "Build Images"}
          #image_build_form
            %ul
              %li
                %label Image formats
                %ul
                  - @all_targets.each do |target_id, target|
                    %li
                    = check_box_tag 'targets[]', target_id, false
                    %span
                      = target['name']
            = submit_tag "Build"
        = render :partial => 'targets'

    .submit
      = submit_tag "Cancel", :name => "cancel"
      = submit_tag "Back", :name => "back"
      = submit_tag "Done", :name => "done"
