- content_for :filter_controls do
  %li
    = label_tag :provider_realms_preset_filter, _("Viewing")
    = hidden_field_tag :current_path, request.fullpath
    = select_tag(:provider_realms_preset_filter, preset_filters_options_for_select(ProviderRealm::PRESET_FILTERS_OPTIONS, params[:provider_realms_preset_filter]), :include_blank => _("All Realms"), :disabled => true)
    = restful_submit_tag _("Apply filters"), "index", filter_provider_realms_path, 'POST', :class => 'button', :id => 'apply_provider_realms_preset_filter'
    %span.label.badge.dark= @realms.count
  %li.table-search-filter
    = text_field_tag :provider_realms_search, params[:provider_realms_search], :placeholder => _("Search")
    = restful_submit_tag "", "index", filter_provider_realms_path, 'POST', :class => 'button', :id => 'apply_provider_realms_search'

  :javascript
    $(document).ready(function(){
      $("#apply_provider_realms_preset_filter").hide();
      $("#provider_realms_preset_filter").change(function() {
        $("#apply_provider_realms_preset_filter").click();
      });
      Conductor.clickOnEnterKeypress($('#provider_realms_search'), $('#apply_provider_realms_search'));
    });

= filter_table(provider_realms_header, @realms) do |realm|
  %tr{:class => cycle('nostripe','stripe')}
    %td= link_to realm.name, provider_realm_path(realm)
    %td= availability_label(realm.available)
