= render :partial => 'layouts/admin_nav'
%header.page-header
  #obj_actions.button_container
    .return_to
      = t('return_to')
      = link_to t('provider_realms.provider_realms'), edit_provider_path(@realm.provider, :details_tab =>  'realms', :only_tab =>  true), :id =>  'back_to_provider_realms_button'
  %h1.realms= @title

- unless @realm.available
  %section.content-section
    %header.align-center
      %h2.disabled= t('realms.show.realm_unavailable', :name => @realm.name)

%section.content-section.realm
  %header
    %h2= t'realms.show.properties'

  .content
    = render :partial => 'properties'

%section.content-section.realm_mapping
  %header
    %h2= t'provider_realms.show.mapping'

  .content
    = render :partial => 'mapping'
