= render :partial => 'layouts/admin_nav'
%header.page-header
  .obj_actions
    .return_to
      = _('Return to:')
      = link_to _('Provider Realms'), provider_path(@provider_realm.provider, :details_tab =>  'realms', :only_tab =>  true), :id =>  'back_to_provider_realms_button'
  %h1.realms= @title

- unless @provider_realm.available
  %section.content-section
    %header.align-center
      %h2.disabled= _('The Realm %s is currently not available.') % @provider_realm.name

%section.content-section.realm
  %header
    %h2= _('Properties')

  .content
    = render :partial => 'properties'

%section.content-section.realm_mapping
  %header
    %h2= _('Provider Realm Mapping')

  .content
    = render :partial => 'mapping'
