= render :partial => 'layouts/admin_nav'
%header.admin-page-header
  %h1{:class => controller.controller_name}= @realm.name
  #obj_actions.button_container
    .button-group
      = t('return_to')
      = link_to t('provider_realms'), edit_provider_path(@realm.provider, :details_tab =>  'realms', :only_tab =>  true), :class =>  'rounded-link', :id =>  'back_to_provider_realms_button'
- unless @realm.available
  %section.admin-content-section
    %header.align-center
      %h2.disabled= t('realms.show.realm_unavailable', :name => @realm.name)

%section.admin-content-section.realm
  %header
    %h2= t'realms.show.properties'

  .content
    = render :partial => 'properties'

%section.admin-content-section.realm_mapping
  %header
    %h2= t'realms.show.realm_mapping'

  .content
    = render :partial => 'mapping'
