- if @realm.errors.any?
  = render 'layouts/error_messages', :object => @realm
%fieldset
  %p.clearfix
    = form.label :name
    = form.text_field :name, :title => 'realm_name', :value => @realm.name, :class => 'em long'
  %p.clearfix
    = form.label :description
    = form.text_area :description, :title => 'description', :value => @realm.description

%fieldset.options
  = form.submit t('save'), :class => "submit button pill"
