%section.content-section.realms
  %header
    %h2 Realms
    %span.label.badge.dark.count= @realms.length

  .content
    - form_header = capture_haml do
      = restful_submit_tag "Delete", "destroy", multi_destroy_realms_path, 'DELETE',
        :id => 'delete_button', :class => 'button danger'

    = filter_table(@header, @realms, :form_header => form_header) do |realm|
      %tr{:class => cycle('nostripe','stripe')}
        %td
          - selected = params[:select] == 'all'
          = check_box_tag "realm_selected[]", realm.id, selected, :id => "realm_checkbox_#{realm.id}"
        %td= link_to realm.name, realm_path(realm)
