= render :partial => 'layouts/admin_nav'

%header.page-header
  %h1{:class => controller.controller_name}= @realm.name
  #obj_actions.button-container
    = link_to 'New Realm', new_realm_url, :class => 'button primary', :id => 'new_user_button'
    %div.button-group
      = link_to 'Cancel Editing', realm_path(@realm), :class => 'button pill danger', :id => 'new_user_button'
  .corner &nbsp;

%section.content-section.realm
  %header
    %h2 Properties

  .content
    = form_for @realm, :url => realm_path(@realm), :html => { :method => :put, :class => 'generic' } do |f|
      = render :partial => "form", :locals => { :form => f }
