= render :partial => 'layouts/admin_nav'
%header.page-header
  .obj_actions
    .return_to
      =t'return_to'
      = link_to t('realms.realms'), realms_path
  %h1.realms= t 'realms.new.create_realm'

%section.content-section.users
  .content
    = form_for @realm, :url => realms_path, :html => {:class => 'generic horizontal'} do |f|
      = render :partial => "form", :locals => { :form => f }
