= render :partial => 'layouts/admin_nav'
%header.admin-page-header
  %h1{:class => controller.controller_name}= @realm.name
  #obj_actions.button-container
    - if check_privilege(Privilege::CREATE, Realm)
      = link_to t('realms.new_realm'), new_realm_url, :class => 'button primary', :id => 'new_realm_button'
    .button-group
      - if check_privilege(Privilege::MODIFY, Realm)
        = link_to t('edit'), edit_realm_path(@realm), :class => 'button pill', :id => 'edit_realm_button'
        = button_to t('delete'), realm_path(@realm), :method => :delete, :confirm => t("realms.show.sure_to_delete"), :class => 'button pill danger', :id => 'delete_realm_button'

%section.admin-content-section.realm
  %header
    %h2= t'realms.show.properties'

  .content
    = render :partial => 'properties'

%section.admin-content-section.realm_mapping
  %header
    %h2= t'realms.show.realm_mapping'

  .content
    = render :partial => 'mapping'
