!!!XML
%image{:id => image.id, :href => api_image_url(image.id) }
  %name= image.name
  %environment= image.environment
  %description= image.description
  %os= image.os.name
  %os_version= image.os.version
  %arch= image.architecture
  %builds{:type => 'xs:list'}
    - image.image_builds.each do |bld|
      %build{:id => bld.id, :href => api_build_url(bld.id)}
