%h2 Launch instance
- form_for @instance, :url => {:action => 'create'} do
  = hidden_field :instance, :template_id
  = hidden_field :instance, :pool_id
  %ul
    %li
      = label :instance, :name
      = text_field :instance, :name
    %li
      = label :instance, :template
      = text_field_tag :template_name, @instance.template ? @instance.template.name : '', :disabled => true
    %li
      = label :instance, :pool
      = text_field_tag :pool_name, @instance.pool ? @instance.pool.name : '', :disabled => true
    %li
      = label :instance, :hardware_profile
      = select :instance, :hardware_profile_id, @instance.pool.hardware_profiles.map {|p| [ p.name, p.id ]}, { :include_blank => true }
    %li
      = label :instance, :realm
      = select :instance, :realm_id, @instance.pool.realms.map {|r| [ r.name, r.id ]}, { :include_blank => true }

  = submit_tag 'Cancel', :name => 'cancel'
  = submit_tag 'Launch', :name => 'launch'
