- columns = [                                                     |
  {:name => '', :sortable => false},                              |
  {:name => 'STATUS', :sortable => false},                        |
  {:name => 'VM NAME', :sort_attr => 'name'},                     |
  {:name => 'TYPE', :sort_attr => 'hardware_profiles.name'},      |
  {:name => 'TEMPLATE', :sort_attr => 'templates.name'},          |
  {:name => 'IP ADDRESS', :sort_attr => 'public_ip_addresses'},   |
  {:name => 'PROVIDER', :sortable => false},                      |
  {:name => 'STARTED BY', :sort_attr => 'users.last_name'},       |
]                                                                 |

- pool_columns = [                                                                |
  { :name => "Pool name", :sort_attr => :name },                                  |
  { :name => "Alerts", :sortable => false },                                      |
  { :name => "% Quota used", :sortable => false },                                |
  { :name => "Quota (Instances)", :sort_attr => "quotas.total_instances"},        |
  { :name => "Zone", :sort_attr => "zones.name" }                                 |
]                                                                                 |

- form_tag(:action => 'instance_action') do
  .actionsidebar.grid_3
    %dl
      %dt Actions
      %dd
        %h5 Control Instances
        %ul
          %li.start.disabled
            %span
            = submit_tag "Start", :name => "start", :class => "icon", :disabled => true
          %li.stop.disabled
            %span
            = submit_tag "Stop", :name => "stop", :class => "icon", :disabled => true
          %li.restart.disabled
            %span
            = submit_tag "Restart", :name => "restart", :class => "icon", :disabled => true
          %li.shutdown
            %span
            = submit_tag "Shutdown", :name => "shutdown", :class => "icon"
          %li.console.disabled
            %span
            = submit_tag "Console Access", :name => "console_access", :class => "icon", :disabled => true
          %li.VD.disabled
            %span
            = submit_tag "Virtual Desktop", :name => "vd", :class => "icon", :disabled => true
          %li.delete
            %span
            = submit_tag "Remove Failed", :name => "remove_failed", :class => "icon"
      %dd
        %h5 Manage Instances
        %ul
          %li.snapshot.disabled
            %span
            = submit_tag "Create Snapshot", :name => "snapshot", :class => "icon", :disabled => true
          %li.grantaccess.disabled
            %span
            = submit_tag "Grant Access", :name => "grantaccess", :class => "icon", :disabled => true
          %li.info
            %span
            = submit_tag "Instance Details", :name => "instance_details", :class => "icon"
          %li.request_help.disabled
            %span
            = submit_tag "Request Help", :name => "request_help", :class => "icon", :disabled => true

  .grid_13
    %h2 Pool Status
    %table
      =sortable_table_header pool_columns
      %tbody
      - @pools.each do |pool|
        %tr
          %td
            =link_to pool.name, pool_url(pool.id)
          %td N/A
          %td
            =((pool.quota.maximum_running_instances || 0)/100)*pool.quota.total_instances
            ='%'
          %td
            =pool.quota.total_instances
          %td
            =pool.zone.name

    %h2 Instances by Pool
    - @pools.each do |pool|
      .grid_6.alpha.poolname
        %h4= pool.name
        = link_to image_tag("blnk.png", :border=>0) + "Launch Instance", {:controller => "instance", :action => "new", 'instance[pool_id]' => pool.id}, :class => "button iconbutton fr"

      .grid_4.poolfilter
        %input{:type => "radio", :id => "all_" + pool.id.to_s, :name => "filter_" + pool.id.to_s}
        %label{:for => "all_" + pool.id.to_s} Show All
        %input{:type => "radio", :id => "summary_" + pool.id.to_s, :name => "filter_" + pool.id.to_s}
        %label{:for => "summary_" + pool.id.to_s} Summary View
      .search.grid_3.omega
        %input{:type => "search", :placeholder => "Search Instance"}
        %button.action Search
      %table.gap
        = sortable_table_header(columns)
        %tbody
          - if not instances = @sorted_instances_by_pool[pool.id] or instances.empty?
            %tr
              %td{:colspan => 8} No Instances
          - else
            - instances.each do |inst|
              %tr
                %td= check_box_tag 'id[]', inst.id
                %td=inst.state
                %td= inst.name
                %td= inst.hardware_profile.name
                %td= inst.template.name
                %td= inst.public_ip_addresses
                %td= inst.cloud_account ? inst.cloud_account.provider.name : ''
                %td= "#{inst.owner.first_name} #{inst.owner.last_name}" # TODO, there is "started by" in comps pdf, but we don't save this info
