- columns = [                                                     |
  {:name => '', :sortable => false},                              |
  {:name => 'STATUS', :sortable => false},                        |
  {:name => 'VM NAME', :sort_attr => 'name'},                     |
  {:name => 'TYPE', :sort_attr => 'hardware_profiles.name'},      |
  {:name => 'TEMPLATE', :sort_attr => 'templates.name'},          |
  {:name => 'IP ADDRESS', :sort_attr => 'public_ip_addresses'},   |
  {:name => 'PROVIDER', :sortable => false},                      |
  {:name => 'STARTED BY', :sort_attr => 'users.last_name'},       |
]                                                                 |


%h2 POOL STATUS
TODO (include michal's pool partial)

%h2 INSTANCES BY POOL
- form_tag(:action => 'instance_action') do
  %ul
    %li ACTIONS
    %li CONTROL INSTANCES
    %li= submit_tag "Shutdown", :name => "shutdown"
    %hr
    %li MANAGE INSTANCES
    %li= submit_tag "Instance Details", :name => "instance_details"
  - @pools.each do |pool|
    %hr
    = pool.name
    = submit_tag "Launch Instance", :name => "launch_instance_#{pool.id}"
    Show All
    %table
      = sortable_table_header(columns)
      %tbody
        - if not instances = @sorted_instances_by_pool[pool.id] or instances.empty?
          %tr
            %td{:colspan => 8} No Instances
        - else
          - instances.each do |inst|
            %tr
              %td= check_box_tag 'id[]'
              %td=inst.state
              %td= inst.name
              %td= inst.hardware_profile.name
              %td= inst.template.name
              %td= inst.public_ip_addresses
              %td= inst.cloud_account ? inst.cloud_account.provider.name : ''
              %td= "#{inst.owner.first_name} #{inst.owner.last_name}" # TODO, there is "started by" in comps pdf, but we don't save this info
