<script type="text/javascript">
  $(document).ready(function() {
    $(".select_image").click(function() {
      var wrapper = $("#select_template_dialog");
      if (wrapper.length == 0) wrapper = $('<div id="select_template_dialog"></div>');
      wrapper.dialog({
        title: "Select template for new instance",
        width: 600,
        height: 500,
        modal: true,
        overlay: {opacity: 0.2, background: "black"}
      });
      wrapper.load('<%= url_for :action => 'select_image' %>', null, function() {
        $(":submit[name=select]").click(function() {
          var checkbox = $("input[name='ids[]']:checked").first();
          var id = checkbox.val();
          if (id !== undefined) {
            var name = $(".image_name", checkbox.parent().parent()).text();
            $(".select_image").text(name);
            $("input[name='instance[image_id]']").val(id);
          }
          $("#select_template_dialog").dialog('close');
          return false;
        });
      });
      return false;
    });

    $("select[name='instance[pool_id]']").change(function() {
      location.href = '<%= url_for(:action => "new") %>?' + $("#instance_form").serialize();
    });
  });
</script>

<div class="dcloud_form">
  <%= error_messages_for 'instance' %>

  <h2>Add a New Instance</h2><br />
  <% form_tag({:action => 'create'},
              :id => "instance_form") do-%>
  <ul>
    <li><label>Name<span>Name for this new Instance</span></label><%= text_field :instance, :name, :class => "txtfield" %></li>

    <li><label>Template<span>Choose a template to use</span></label>
    <%= link_to(@instance.image ? @instance.image.name : "Select template...", {:action => 'select_image'}, {:class => 'actionlink select_image'}) %>
    </li>
    <input type=hidden name="instance[image_id]" value="<%= @instance.image ? @instance.image.id : '' %>">

    <% if @instance.pool %>
    <input type=hidden name="instance[pool_id]" value="<%= @instance.pool_id %>">
      <% if (@pools.size > 1) %>
        <li><label>Pool</label>
          <%= @instance.pool.name %>
        </li>
      <% end %>
    <% else %>
    <li><label>Pool<span>Pick your pool</span></label>
      <%= select("instance", "pool_id",
                 @pools.collect {|p| [ p.name, p.id ] },
                 { :include_blank => true }) %>
    </li>
    <% end %>

    <% if @instance.pool and @instance.pool.hardware_profiles.size > 0 %>
      <li><label>Hardware Profile<span>Pick your hardware profile</span></label>
        <%= select("instance", "hardware_profile_id",
                   @instance.pool.hardware_profiles.collect {|p| [ p.name, p.id ] },
                   { :include_blank => true }) %>
      </li>
    <% end %>
    <% if @instance.pool and @instance.pool.realms.size > 0 %>
      <li><label>Realm<span>Choose a realm</span></label>
        <%= select("instance", "front_end_realm", @instance.pool.realms, { :include_blank => true }) %>
      </li>
    <% end %>
  </ul>
    <%= submit_tag "Save", :class => "submit" %>
    <% end %>
</div>
