%h3 Show Templates
%hr
%ul
  - @templates.each do |tpl|
    %li
      - form_tag(:action => 'configure') do
        = hidden_field :instance, :template_id, :value => tpl.id
        = hidden_field :instance, :pool_id, :value => @instance.pool.id
        = image_tag "platform_#{tpl.platform}.png", :size => "32x32", :alt => tpl.platform
        %h3= tpl.name
        %p= tpl.summary
        %p
          %label Group:
          System
          %label Version:
          2.5
        = submit_tag 'Launch', :name => 'launch'
= will_paginate(@templates)
= page_entries_info(@templates)
