<div class="dcloud_form">
  <%= error_messages_for 'instance' %>

  <h2>Add a New Instance</h2><br />
  <% form_tag :action => 'create' do-%>
  <ul>
    <li><label>Name<span>Name for this new Instance</span></label><%= text_field :instance, :name, :class => "txtfield" %></li>
    <% if @flavors.size > 0 %>
      <li><label>Flavor<span>Pick your flavor</span></label>
        <%= select("instance", "flavor_id", @flavors.collect {|p| [ p.name, p.id ] }, { :include_blank => true }) %>
      </li>
    <% end %>
    <% if @images.size > 0 %>
      <li><label>Image<span>Choose a bundled image to use</span></label>
        <%= select("instance", "image_id", @images.collect {|i| [ truncate(i.name, 29, '...'), i.id ] }, { :include_blank => true }) %>
      </li>
    <% end %>
    <% if @realms.size > 0 %>
      <li><label>Realm<span>Choose a realm</span></label>
        <%= select("instance", "realm_id", @realms.collect {|r| [ r.name, r.id ] }, { :include_blank => true }) %>
      </li>
    <% end %>
  </ul>
    <input id="instance_provider_id" type="hidden" value="<%=@provider_id%>" name="provider_id"/>
    <%#= hidden_field :provider, :provider_id %>
    <%= hidden_field :instance,  :portal_pool_id %>
    <%= submit_tag "Save", :class => "submit" %>
    <% end %>
</div>