%h3 Show Templates
%hr
%ul
  - @templates.each do |tpl|
    %li
      - form_tag(:action => 'configure') do
        = hidden_field :instance, :template_id, :value => tpl.id
        = hidden_field :instance, :pool_id, :value => @instance.pool.id
        %img{:src => "/images/platform_#{tpl.platform}.png", :width => '32px', :height => '32px', :alt => tpl.platform}
        %h3= tpl.name
        %p= tpl.summary
        = submit_tag 'Launch', :name => 'launch'
= will_paginate(@templates)
= page_entries_info(@templates)
