%table
  %tr
    %td :external_key
    %td= @instance.external_key
  %tr
    %td :name
    %td= @instance.name
  %tr
    %td :hardware_profile_id
    %td= @instance.hardware_profile_id
  %tr
    %td :image_id
    %td= @instance.image_id
  %tr
    %td :realm_id
    %td= @instance.realm_id
  %tr
    %td :pool_id
    %td= @instance.pool_id
  %tr
    %td :cloud_account_id
    %td= @instance.cloud_account_id
  %tr
    %td :public_address
    %td= @instance.public_address
  %tr
    %td :private_address
    %td= @instance.private_address
  %tr
    %td :state
    %td= @instance.state
  %tr
    %td :condor_job_id
    %td= @instance.condor_job_id
  %tr
    %td :lock_version
    %td= @instance.lock_version
  %tr
    %td :acc_pending_time
    %td= @instance.acc_pending_time
  %tr
    %td :acc_running_time
    %td= @instance.acc_running_time
  %tr
    %td :acc_shutting_down_time
    %td= @instance.acc_shutting_down_time
  %tr
    %td :acc_stopped_time
    %td= @instance.acc_stopped_time
  %tr
    %td :time_last_pending
    %td= @instance.time_last_pending
  %tr
    %td :time_last_running
    %td= @instance.time_last_running
  %tr
    %td :time_last_shutting_down
    %td= @instance.time_last_shutting_down
  %tr
    %td :time_last_stopped
    %td= @instance.time_last_stopped
