%header
  %h2#user_groups.groups= @title

- content_for :form_header do
  %li= link_to _("Add User Group"), new_user_group_path, :class => 'button primary', :id => 'add_user_group_button' unless UserGroup.active_membership_sources.nil?
  %li= restful_submit_tag "#{_("Delete")}", "destroy", multi_destroy_user_groups_path, 'DELETE', :id => 'delete_button', :class => 'button danger'

- content_for :filter_controls do
  %li
    = label_tag :user_groups_preset_filter, _("Viewing")
    = hidden_field_tag :current_path, request.fullpath
    = select_tag(:user_groups_preset_filter, preset_filters_options_for_select(UserGroup::PRESET_FILTERS_OPTIONS, params[:user_groups_preset_filter]), :include_blank => _("All User Groups"))
    = restful_submit_tag _("Apply filters"), "index", filter_user_groups_path, 'POST', :class => 'button', :id => 'apply_user_groups_preset_filter'
    %span.label.badge.dark= @user_groups.count
  /  = link_to "Filter", "#", :class => 'button pill'
  /%li
  /%li.more_actions
  /  %span= image_tag "button-userdrop.png"
  /  %ul
  /    %li= link_to "Add/Remove Columns", "#"
  /    %li= link_to "Freeze Column", "#"
  %li.table-search-filter
    = text_field_tag :user_groups_search, params[:user_groups_search], :placeholder => _("Search")
    = restful_submit_tag "", "index", filter_user_groups_path, 'POST', :class => 'button', :id => 'apply_user_groups_search'

  :javascript
    $(document).ready(function(){
      $("#apply_user_groups_preset_filter").hide();
      $("#user_groups_preset_filter").change(function() {
        $("#apply_user_groups_preset_filter").click();
      });
      Conductor.clickOnEnterKeypress($('#user_groups_search'), $('#apply_user_groups_search'));
    });

= filter_table(@header, @user_groups) do |user_group|
  %tr{:class => cycle('nostripe','stripe')}
    %td{:class => 'checkbox'}
      - selected = params[:select] == 'all'
      = check_box_tag "user_group_selected[]", user_group.id, selected, :id => "user_group_checkbox_#{user_group.id}"
    %td= link_to user_group.name, user_group_path(user_group)
    %td= t("user_groups.#{user_group.membership_source.downcase}")
