= render :partial => 'layouts/admin_nav'
%header.page-header
  .obj_actions
    .return_to
      =_("Return to:")
      = link_to "#{_("User Groups")}", user_groups_path
  %h1.users= @title

%section.content-section.user_groups
  .content
    = conductor_form_for @user_group do |f|
      = render :partial => "form", :locals => { :form => f }
      = f.button :form_buttons, :cancel => user_groups_path
