- content_for :form_footer do
  = link_to _("Cancel"), pool_family_path(@pool_family, :details_tab => 'provider_accounts'), :class => 'button danger'
  = restful_submit_tag _("Add Account"), "create", add_provider_accounts_pool_family_path(@pool_family), 'POST', :id => 'save_button', :class => 'button'
= filter_table(provider_accounts_header(:without_alert => true), @provider_accounts) do |account|
  %tr{:class => cycle('nostripe','stripe')}
    %td{:class => 'checkbox'}
      - if check_privilege(Privilege::MODIFY)
        - selected = params[:select] == 'all'
        = check_box_tag "accounts_selected[]", account.id, selected, :id => "account_checkbox_#{account.id}"
    %td= link_to account.name, provider_provider_account_path(account.provider, account)
    %td= account.credentials_hash['username']
    %td= account.provider.name
    %td= account.provider.provider_type.name
    %td= account.priority
    %td{:class => 'center'}= number_to_percentage account.quota.percentage_used, :precision => 0
    %td{:class => 'center'}= account.quota.maximum_running_instances or 'unlimited'
