- if @pool_family.errors.any?
  = render 'layouts/error_messages', :object => @pool_family
%fieldset
  %p
    = form.label :name, t("pool_families.form.pool_family_name")
    = form.text_field :name, :title => 'pool_family_name', :value => @pool_family.name, :class => 'em long'

  = form.fields_for :quota do |quota_form|
    %p
      = quota_form.label :maximum_running_instances, t(:maximum_running_instances)
      = quota_form.text_field :maximum_running_instances

%fieldset.options
  = link_to t('cancel'), pool_families_path, :class => 'button danger pill'
  = form.submit t(:save),  :class => "submit button pill"
