= error_messages_for :pool_family
%fieldset
  %p
    = form.label :name,'Pool Family Name'
    = form.text_field :name, :title => 'pool_family_name', :value => @pool_family.name, :class => 'em long'

%fieldset
  - form.fields_for :quota do |quota_form|
    %p
      = quota_form.label :maximum_running_instances, t(:maximum_running_instances)
      = quota_form.text_field :maximum_running_instances

%fieldset.options
  = form.submit "Save",  :class => "submit button"
