- if @pool_family.errors.any?
  = render 'layouts/error_messages', :object => @pool_family
%fieldset
  .field
    = form.label t("pool_families.new.environment_name"), :class => 'em'
    .input
      = form.text_field :name, :value => @pool_family.name, :class => 'em long'

  = form.fields_for :quota do |quota_form|
    .field
      = quota_form.label :maximum_running_instances, t(:maximum_running_instances)
      .input
        = quota_form.text_field :maximum_running_instances

%fieldset.options
  = form.submit t(:save),  :class => "submit button primary"
  = link_to t('cancel'), pool_families_path, :class => 'button danger'
