%section.content-section.pool_families
  %header
    %h2 Pool Families
    %span.label.badge.dark.count= @pool_families.length

  .content
    - form_header = capture_haml do
      = restful_submit_tag "Delete", "destroy", multi_destroy_pool_families_path, 'DELETE',
        :id => 'delete_button', :class => 'button danger'

    = filter_table(@header, @pool_families, :form_header => form_header) do |pool_family|
      %tr{:class => cycle('nostripe','stripe')}
        %td
          - selected = params[:select] == 'all'
          = check_box_tag "pool_family_selected[]", pool_family.id, selected, :id => "pool_family_checkbox_#{pool_family.id}"
        %td= link_to pool_family.name, pool_family_path(pool_family)
        %td= number_to_percentage pool_family.quota.percentage_used, :precision => 0
        %td= pool_family.quota.maximum_running_instances or 'unlimited'
