%header
  .section-controls
    - if check_privilege(Privilege::CREATE, PoolFamily)
      = link_to _("New Environment"), new_pool_family_path, :class => 'button primary', :id => 'new_pool_family_button'
  %h2.pools= @title

.content
  - @pool_families.each do |pool_family|
    - family_stats = pool_family.statistics
    %table.pool_families
      %caption
        .caption_content
          %header
            %h2
              = link_to pool_family.name, pool_family
            .section-controls
              - if check_privilege(Privilege::CREATE, Pool, pool_family)
                = link_to _("New Pool"), new_pool_path(:pool_family_id => pool_family.id), :class => 'button primary'
              - if pool_family.pools.any? &&  check_privilege(Privilege::CREATE, Tim::BaseImage, pool_family)
                .button-group
                  = link_to _("Import Image"), tim.new_base_image_path(:base_image => {:pool_family_id => pool_family.id, :import => true}), :class => 'button primary'
                  = link_to _("New Image"), tim.new_base_image_path('base_image[pool_family_id]' => pool_family.id), :class => 'button primary'
      - unless pool_family.pools.blank?
        %tr
          %th= _("Pool Name")
          %th= _("Deployments")
          %th= _("Total Inst.")
          %th= _("Pending Inst.")
          %th= _("Failed Inst.")
          %th= _("Quota Used")
          %th= _("Environment Quota Used")
          %th= _("Active Inst.")
          %th= _("Available Inst.")
          %th= _("Enabled")
          %th
          %th
        - pool_family.pools.each do |pool|
          - pool_stats = pool.statistics
          %tr
            %td= link_to pool.name, pool
            %td= pool.deployments.count
            %td= pool_stats[:total_instances]
            %td= pool_stats[:instances_pending]
            %td= pool_stats[:instances_failed_count]
            %td= pool_stats[:quota_percent]
            %td= pool_stats[:pool_family_quota_percent]
            %td= pool_stats[:used_quota]
            %td= pool_stats[:available_quota].nil? ? raw('&infin;') : pool_stats[:available_quota]
            %td= pool.enabled? ? _("Yes") : _("No")
            %td
              - if check_privilege(Privilege::MODIFY, pool)
                = link_to _("Edit"), edit_pool_path(pool), :class => 'button'
            %td= link_to _("Provider Selection"), pool_provider_selection_path(pool), :class => 'button'
        %tr.total
          %td= _("Total")
          %td= family_stats[:deployments]
          %td= family_stats[:total_instances]
          %td= family_stats[:instances_pending]
          %td= family_stats[:instances_failed]
          %td
          %td= family_stats[:quota_percent]
          %td= family_stats[:used_quota]
          %td= family_stats[:available_quota].nil? ? raw('&infin;') : family_stats[:available_quota]
          %td
          %td
          %td
