%section.admin-content-section.pool_families
  %header
    %h2.pools= t("pool_families.pool_families")
    .section-controls
      #obj_actions
        = link_to t("pool_families.index.new_pool_family"), new_pool_family_path, :class => 'button pill', :id => 'new_pool_family_button'

  .content
    - @pool_families.each do |pool_family|
      %table.pool_families
        %caption
          .caption_content
            %header
              %h2
                = link_to pool_family.name, pool_family
              .section-controls
                #obj_actions
                  = link_to t(:edit), edit_pool_family_path(pool_family), :class => 'rounded-link'
                  = link_to t("pools.new_pool"), new_pool_path, :class => 'rounded-link'
        - unless pool_family.pools.blank?
          %tr
            %th= t("pool_families.index.pool_name")
            %th= t("pool_families.index.deployments")
            %th= t("pool_families.index.total_instancies")
            %th= t("pool_families.index.pending_instances")
            %th= t("pool_families.index.failed_instances")
            %th= t("pool_families.index.quota_used")
            %th= t("pool_families.index.active_instances")
            %th= t("pool_families.index.available_instances")
            %th= t("pool_families.index.catalog")
            %th
          - pool_family.pools.each do |pool|
            %tr
              %td= link_to pool.name, pool
              %td= pool.deployments.count
              %td= pool.statistics[:total_instances]
              %td= pool.statistics[:instances_pending]
              %td= pool.statistics[:instances_failed]
              %td= pool.statistics[:quota_percent]
              %td= pool.statistics[:used_quota]
              %td= pool.statistics[:available_quota].nil? ? raw('&infin;') : pool.statistics[:available_quota]
              %td= link_to pool.catalogs.first.name, catalog_path(pool.catalogs.first) if pool.catalogs.any?
              %td= link_to t(:edit), edit_pool_path(pool), :class => 'rounded-link'
