= filter_table(@pools_header, @pool_family.pools) do |pool|
  - pool_stats = pool.statistics
  %tr{:class => cycle('nostripe','stripe')}
    %td= link_to pool.name, pool
    %td{:class => 'center'}= pool.deployments.count
    %td{:class => 'center'}= pool_stats[:total_instances]
    %td{:class => 'center'}= pool_stats[:instances_pending]
    %td{:class => 'center'}= pool_stats[:instances_failed_count]
    %td{:class => 'center'}= pool_stats[:quota_percent]
    %td{:class => 'center'}= pool_stats[:used_quota]
    %td{:class => 'center'}= pool_stats[:available_quota].nil? ? raw('&infin;') : pool_stats[:available_quota]
    %td= link_to _("Edit"), edit_pool_path(pool)
