%h3
  Provider Accounts for
  = @pool_family.name

- unless @pool_family.provider_accounts.blank?
  - form_tag do
    = restful_submit_tag "Remove selected", 'destroy', multi_destroy_provider_accounts_pool_families_path(:pool_family_id => @pool_family.id), 'DELETE', :id => 'delete_button', :class => 'button'
    = #submit_tag "Remove selected"

    %table#provider_accounts_table
      = sortable_table_header @provider_accounts_header
      - @pool_family.provider_accounts.each do |provider_account|
        %tr
          %td
            - selected = @url_params[:select_provider_accounts] == 'all'
            %input{:name => "provider_account_selected[]", :type => "checkbox", :value => provider_account.id, :id => "provider_account_checkbox_#{provider_account.id}", :checked => selected }
            = provider_account.name

- unless @pool_family.provider_accounts.count == ProviderAccount.all.count
  - form_for :pool_family, :url => add_provider_account_pool_families_path(:id => @pool_family.id) do |f|
    - unless @pool_family.provider_accounts.blank?
      = select_tag :provider_account_id, options_for_select(ProviderAccount.find(:all, :conditions => [ "id NOT IN (?)", @pool_family.provider_account_ids ]).collect{ |pa| [pa.name, pa.id] })
    - else
      = select_tag :provider_account_id, options_for_select(ProviderAccount.all.collect{ |pa| [pa.name, pa.id] })
    = f.submit "Add to #{@pool_family.name}"
