= render :partial => 'layouts/admin_nav'

%header.page-header
  .obj_actions
    .return_to
      = t("return_to")
      = link_to t("pool_families.new.environments"), pool_families_path
  %h1.pool_families= @title

%section.content-section.pool_family
  %header
    %h2.settings= t("settings.settings")

  .content
    = form_for @pool_family, :url => pool_family_path(@pool_family), :html => { :method => :put, :class => 'generic horizontal' } do |f|
      = render :partial => 'form', :locals => { :form => f, :cancel_path => providers_path }
