= render :partial => 'layouts/admin_nav'
%header.admin-page-header
  %h1= @title
  #obj_actions
    = t("return_to")
    = link_to t("pool_families.new.environments"), pool_families_path, :class => 'rounded-link'

%section.admin-content-section.pool_family
  .content
    = form_for @pool_family, :url => pool_families_path, :html => {:class => 'generic'} do |f|
      = render :partial => "form", :locals => { :form => f, :cancel_path => pool_families_path }
