= render :partial => 'layouts/admin_nav'
%header.page-header
  .obj_actions
    .return_to
      = _("Return to:")
      = link_to _("Environments"), pool_families_path
  %h1.pool_families= @title

%section.content-section.pool_family
  .content
    = conductor_form_for @pool_family do |f|
      = render :partial => "form", :locals => { :form => f }
      = f.button :form_buttons, :cancel => pool_families_path
