= render :partial => 'layouts/admin_nav'
%header.page-header
  .obj_actions
    .button-group
      = link_to _("Edit"), edit_pool_family_path(@pool_family), :class => 'button'
      = button_to _("Delete"), pool_family_path(@pool_family), :method => :delete, :confirm => _("Are you sure you want to delete this Environment? All related Pools, Catalogs, and Deployables will be deleted."), :class => "button danger", :id => 'delete_pool_family_button'
  %h1.pool_families= @title

%section.content-section.pool_families
  %header#tab-container-1
    %nav.faceted
      %ul#tab-container-1-nav
        - @tabs.each do |tab|
          %li
            %a{ :href => url_for(:details_tab => tab[:id], :only_tab => true), :id => "details_#{tab[:id]}", :class => "#{'active' if @details_tab[:id] == tab[:id]} show"}
              = tab[:name]
            -if tab[:count]
              %span.label.badge.count.dark=tab[:count]
  .content#tab
    = render :partial => @view
