%header.page-header
  .obj_actions
    .return_to
      = t(:return_to)
      = link_to _('Environment') % @base_image.pool_family.name, main_app.pool_family_path(@base_image.pool_family)
  %h1.no-icon= _('New Image')

%section.content-section
  .content
    .centered
      %p.description.align-center
        %strong= _('Description') % @base_image.pool_family.name

      %nav#image-upload-tabs.faceted
        %ul.tabs
          - active = params[:tab].to_s == 'url' ? 'url' : 'file'
          %li
            %a{ :href => '#image-file-form', :class => "#{'active' if active == "file"}"}
              = _('Upload')
          %li
            %a{ :href => '#image-url-form', :class => "#{'active' if active == "url"}"}
              = _('From URL')

      %section#image-file-form
        = form_for @base_image, :url => tim.edit_xml_base_images_path, :html => { :multipart => true, :class => 'generic horizontal' } do |f|
          = f.hidden_field :pool_family_id
          = hidden_field_tag :tab, 'file'
          %fieldset
            .field
              = label_tag :name, _('Name:'), :class => 'em'
              .input
                = f.text_field :name, :class => 'em'
            .field
              = label_tag :template_source, _('Choose an Image Template file:')
              .input
                = file_field_tag :template_source, :id => 'template_file'
            .field
              = label_tag :edit, _('Edit this file before saving:'), :class => 'checkbox'
              .input
                = check_box_tag :edit, 1, true

          %fieldset.align-center
            = f.submit t(:continue), :id => "file_button", :class => "button primary", :disabled => @accounts.empty?
            = link_to t(:cancel), main_app.pool_families_path, :class => "button danger"

      %section#image-url-form
        = form_for @base_image, :url => tim.edit_xml_base_images_path, :html => { :multipart => true, :class => 'generic horizontal' } do |f|
          = f.hidden_field :pool_family_id
          = hidden_field_tag :tab, 'url'
          %fieldset
            .field
              = label_tag :name, _('Name:'), :class => 'em'
              .input
                = f.text_field :name, :class => 'em'
            .field
              = label_tag :template_source, _('Image Template URL:')
              .input
                = text_field_tag :template_source, nil, :id => 'template_url'
            .field
              = label_tag :edit, _('Edit this file before saving:'), :class => 'checkbox'
              .input
                = check_box_tag :edit, 1, true

          %fieldset.align-center
            = f.submit t(:continue), :id => "url_button", :class => "button primary", :disabled => @accounts.empty?
            = link_to t(:cancel), main_app.pool_families_path, :class => "button danger"

:javascript
  (function() {
    function linkedForm($a) {
      var chunks = $a.prop('href').split('#')
      var form_id = _.last(chunks)
      if(form_id) return $('#' + form_id)
    }
    function refreshTabs() {
      $('#image-upload-tabs a').each(function() {
        var $tab = $(this);
        var $form = linkedForm($tab);
        $form.toggle($tab.hasClass('active'));
      })
    }

    refreshTabs();
    Conductor.nicelyHookAjaxClick($('#image-upload-tabs a'), function() {
      $('#image-upload-tabs a.active').removeClass('active')
      $(this).addClass('active')
      refreshTabs()
    })
  })()
