= render :partial => 'layouts/admin_nav'
%header.page-header
  .obj_actions
    .return_to
      = t :return_to
      = link_to _('Environment') % @base_image.pool_family.name, main_app.pool_family_path(@base_image.pool_family.id)
  %h1.no-icon= @base_image.name

%section.content-section
  .content
    = form_for @base_image, :url => tim.base_images_path, :html => {:method => :post} do |f|
      = f.hidden_field :pool_family_id
      = f.hidden_field :name
      = f.fields_for :template do |tpl_form|
        = tpl_form.hidden_field :xml
        = tpl_form.hidden_field :pool_family_id

      .lefted.image-upload-overview
        %h2= _('Valid Image')
        %p.description= _('Description') % @base_image.name

      .centered
        %fieldset.align-center
          = f.submit _('Save Image Template'), :name => 'save', :id => 'save_button', :class => 'button primary'
          = f.submit _('Edit XML'), :name => 'back', :id => 'back_button', :class => 'button'
          = link_to t(:cancel), main_app.pool_families_path, :class => 'button danger'
