#dashboard-tabs
  %ul
    %li
      = link_to "Summary", { :controller => "dashboard", :action => "index", :ajax => "true" }
    %li
      = link_to "Alerts", { :controller => "dashboard", :action => "alerts", :ajax => "true" }
    %li
      = link_to "Service Quality", { :controller => "dashboard", :action => "service_quality", :ajax => "true" }
    %li
      = link_to "Quota Usage", { :controller => "dashboard", :action => "quota_usage", :ajax => "true" }
    %li
      = link_to "Billing", { :controller => "dashboard", :action => "billing", :ajax => "true" }
    %li
      = link_to "Help Tickets", { :controller => "dashboard", :action => "help_tickets", :ajax => "true" }
