%ul
  %li
    =link_to "Summary", dashboard_url + "/summary"
  %li
    = link_to "Alerts", dashboard_url + "/alerts"
  %li
    = link_to "Service Quality", dashboard_url + "/service_quality"
  %li
    = link_to "Quota Usage", dashboard_url + "/quota_usage"
  %li
    = link_to "Billing", dashboard_url + "/billing"
  %li
    = link_to "Help Tickets", dashboard_url + "/help_tickets"
