- unless @hide_getting_started
  #getting_started_dashboard_section
    %p
      Welcome to your Deltacloud dashboard where you can track your cloud resource
      usage. Here's what you need to know to get started
    %ul
      %li
        %img{:src => "images/getting_started_pools.png"}
        Deltacloud organizes your cloud machines in collections called pools
      %li
        %img{:src => "images/getting_started_accounts.png"}
        A pool can be connected to multiple <b>cloud provider accounts</b>
      %li
        %img{:src => "images/getting_started_pool_permissions.png"}
        You have one personal pool and you may have access to more shared pools
      %li
        %img{:src => "images/getting_started_check.png"}
        %p
          Ready to work in the cloud?</p>
        #getting_started_links
          %a{:class => "button_link", :href => url_for(:controller => :pool, :action => :show, :id => @current_users_pool.id)}
            Go to my personal pool
          %a{:href => url_for(:controller => :user, :action => :pools, :id => @current_user.id)}
            Show all my pools
    %p
      %input{ :id => "hide_getting_started", :type => "checkbox" }
        Thanks, don't show this again

.dashboard_column
  #actions_dashboard_section
    %h2
      Actions
    - if check_privilege(Privilege::CREATE, Provider)
      %a{:href => url_for(:controller => "providers", :action => "new")}
        Add a Provider
    - if check_privilege(Privilege::CREATE, User)
      %a{:href => url_for(:controller => "users", :action => "new")}
        Create a User
    %a{:href => url_for(:controller => "instances", :action => "index")}
      View Instances
    %a{:href => url_for(:controller => "", :action => "")}
      Launch Instances
    %a{:href => url_for(:controller => "", :action => "")}
      Enter a help ticket
    - if check_privilege(Privilege::CREATE, Template)
      %a{:href => url_for(:controller => "templates", :action => "new")}
        Create a Template

  #service_quality_dashboard_section
    - if check_privilege(Privilege::MODIFY)
      %h2
        Provider Service Quality
      .dashboard_section_summary
        %img{ :src => "images/dashboard_summary_next.png", :alt => "next" }
        %img{ :src => "images/dashboard_summary_prev.png", :alt => "prev" }
        %p
          Average time to submit tasks to provider, 24 hours
        %div{ :style => "clear:both"}
      - @providers.each do |provider|
        .provider_service_quality_graph
          -end_time = Time.now
          -start_time = end_time - (24 * 60 * 60)
          -interval_length = 3600
          -task_action = "create"
          = "<object data='" + url_for(:action => :provider_qos_avg_time_to_submit_graph, :id => provider.id, :start_time => start_time, :end_time => end_time, :interval_length => interval_length, :task_action => task_action, :width => 100, :height => 50) + "' type='image/svg+xml' />"
        .provider_service_quality_graph_summary
          = provider.name
          <!-- FIXME 'good/poor/average service... -->
      <div style="clear: both;" />
    - else
      %h2
        Service Quality

  #key_indicators_dashboard_section
    %h2
      Key indicators
    %ul
      %li
        Providers
        .count= @providers.size
      %li
        Accounts
        .count= @cloud_accounts.size
      %li
        Pools
        .count= @pools.size
      %li
        Running instances
        .count= @stats[:running_instances]
      %li
        Stopped instances
        .count= @stats[:stopped_instances]
      %li
        Total instances
        .count= @stats[:total_instances]
    #provider_instances_graph
      %object{ :data => url_for(:action => :provider_instances_graph, :width => 220, :height => 290), :type => 'image/svg+xml'}

.dashboard_column
  #quota_usage_dashboard_section
    %h2
      Quota Usage
    .dashboard_section_summary
      Instance utilization by account
    .account_quota_usage_graph_key
      %img{:src => "images/quota_usage_key_running_instances.png", :width => 10, :heigth => 10}
      Running
      %img{:src => "images/quota_usage_key_instances_limit.png", :width => 10, :heigth => 10}
      Limit
    - @cloud_accounts.each do |account|
      .account_quota_usage_graph_summary
        = account.provider.name + ": " + account.name
      .account_quota_usage_current_graph
        %object{ :data => url_for(:action => :quota_usage_graph, :cloud_account_id => account.id, :resource_name => Quota::RESOURCE_RUNNING_INSTANCES, :width => 100, :height => 50), :type => 'image/svg+xml'}
      <div style="clear: both;" />

:javascript
  $("#hide_getting_started").click(function(){
    $('#getting_started_dashboard_section').hide();
    $.post("#{url_for(:action => 'hide_getting_started')}");
  });
