- form_tag do
  = link_to "New Pool", new_resources_pool_path, { :class => 'button' }
  %p
    Select:&nbsp;
    = link_to "All", @url_params.merge(:select => 'all')
    %span> ,&nbsp;
    = link_to "None", @url_params.merge(:select => 'none')
  %table
    = sortable_table_header @header
    - @pools.each do |pool|
      %tr
        %td
          - selected = @url_params[:select] == 'all'
          = check_box(:pool, "selected[#{pool.id}]", :checked => selected)
          = link_to pool.name, resources_pool_path(pool)
        %td
          = pool.quota.maximum_running_instances or 'unlimited'
        %td
          = pool.quota.percentage_used
          ='%'
        %td
          = pool.pool_family.name
