= error_messages_for :pool
%h1
  Edit pool
  = @pool.name

- form_for [:resources, @pool] do |form|
  %fieldset
    = form.label :name, "Name:", :class => "grid_2 alpha"
    = form.text_field :name
  %fieldset
    = form.label :pool_family_id, "Pool Family:", :class => "grid_2 alpha"
    = form.collection_select :pool_family_id, PoolFamily.all, :id, :name
  %fieldset
    = label_tag "Quota"
    = text_field :quota, :maximum_running_instances, :title => t('provider_accounts.form.quota_instances'), :value => @quota.maximum_running_instances || "unlimited", :id => "quota_instances", :class => "grid_3 omega"
    (
    %button.linkbutton.nospace{ :type => 'button', :onclick => "set_unlimited_quota(\"quota_instances\");" }<>
      = t('provider_accounts.form.unlimited_quota')
    )
    %fieldset.clear

  = form.submit "Save"

:javascript
  function set_unlimited_quota(elem_id) {
    $("#" + elem_id)[0].value = "unlimited";
  }
