= form.input :name
= form.fields_for :memory do |memory_form|
  = memory_form.input :name, :as => :hidden
  = memory_form.input :unit, :as => :hidden
  = memory_form.input :value, :label => t('hardware_profiles.form.memory'),
                              :hint => t('simple_form.hints.hardware_profile.memory'),
                              :note => t('hardware_profiles.form.unit_note', :unit_name => memory_form.object.unit),
                              :input_html => { :type => 'number', :min => 0 }
= form.fields_for :cpu do |cpu_form|
  = cpu_form.input :name, :as => :hidden
  = cpu_form.input :unit, :as => :hidden
  = cpu_form.input :value, :label => t('hardware_profiles.form.cpu'),
                           :hint => t('simple_form.hints.hardware_profile.cpu'),
                           :note => t('hardware_profiles.form.number_of_required_cpus'),
                           :input_html => { :type => 'number', :min => 1, :step => 1 }
= form.fields_for :storage do |storage_form|
  = storage_form.input :name, :as => :hidden
  = storage_form.input :unit, :as => :hidden
  = storage_form.input :value, :label => t('hardware_profiles.form.storage'),
                               :hint => t('simple_form.hints.hardware_profile.storage'),
                               :note => t('hardware_profiles.form.unit_note', :unit_name => storage_form.object.unit),
                               :input_html => { :type => 'number', :min => 0 }
= form.fields_for :architecture do |architecture_form|
  = architecture_form.input :name, :as => :hidden
  = architecture_form.input :unit, :as => :hidden
  = architecture_form.input :value, :label => t('hardware_profiles.form.architecture'), :collection => ["i386", "x86_64"]
