- if @hardware_profile.errors.any?
  = render 'layouts/error_messages', :object => @hardware_profile
%fieldset
  .field
    = hwp_form.label :name, :class => 'em'
    = hwp_form.text_field :name, :class => 'em long'
%fieldset
  %table
    %thead
      %tr
        - @header.each do |header|
          %th
            = header[:name]
    - [:memory, :cpu, :storage, :architecture].each do |type|
      = hwp_form.fields_for type do |hwpp_form|
        %tr
          %td= hwpp_form.text_field(:name, :readonly => "readonly")
          %td= hwpp_form.text_field(:unit, :size => 5, :readonly => "readonly")
          %td
            -if type == :architecture
              = hwpp_form.select("value", ["i386", "x86_64"], {})
            -else
              = hwpp_form.text_field(:value)

%fieldset.options
  = hwp_form.submit _("Save"), :class => 'submit button primary', :id => 'save_button'
  = hwp_form.submit _("Check Matches"), :class => 'button', :id => 'check_matches'
  = link_to _("Cancel"), hardware_profiles_path, :class => "button danger"
