- content_for :form_header do
  - if check_privilege(Privilege::CREATE, HardwareProfile)
    %li= link_to _("New Hardware Profile"), new_hardware_profile_path, :id => 'new_hardware_profile_button', :class => 'button primary'
  %li= restful_submit_tag _("Delete"), "destroy", multi_destroy_hardware_profiles_path, 'DELETE', :id => 'delete_button', :class => 'button danger'

- content_for :filter_controls do
  %li
    = label_tag :hardware_profiles_preset_filter, _("Viewing")
    = hidden_field_tag :current_path, request.fullpath
    = select_tag(:hardware_profiles_preset_filter, preset_filters_options_for_select(HardwareProfile::PRESET_FILTERS_OPTIONS, params[:hardware_profiles_preset_filter]), :include_blank => _("All Hardware Profiles"), :disabled => true)
    = restful_submit_tag _("Apply filters"), "index", filter_hardware_profiles_path, 'POST', :class => 'button', :id => 'apply_hardware_profiles_preset_filter'
    %span.label.badge.dark= @hardware_profiles.count
  %li.table-search-filter
    = text_field_tag :hardware_profiles_search, params[:hardware_profiles_search], :placeholder => _("Search")
    = restful_submit_tag "", "index", filter_hardware_profiles_path, 'POST', :class => 'button', :id => 'apply_hardware_profiles_search'

  :javascript
    $(document).ready(function(){
      $("#apply_hardware_profiles_preset_filter").hide();
      $("#hardware_profiles_preset_filter").change(function() {
        $("#apply_hardware_profiles_preset_filter").click();
      });
      Conductor.clickOnEnterKeypress($('#hardware_profiles_search'), $('#apply_hardware_profiles_search'));
    });

= filter_table(hardware_profiles_header, @hardware_profiles) do |hwp|
  %tr{:class => cycle('nostripe','stripe')}
    %td{:class => "checkbox"}
      - selected = params[:select] == 'all'
      = check_box_tag "hardware_profile_selected[]", hwp.id, selected, :id => "hardware_profile_checkbox_#{hwp.id}"
    %td= link_to hwp.name, hardware_profile_path(hwp)
    %td= hwp.architecture.to_s
    %td{:class => 'center'}= hwp.memory.to_s
    %td{:class => 'center'}= hwp.storage.to_s
    %td{:class => 'center'}= hwp.cpu.to_s
