- content_for :form_header do
  %li= restful_submit_tag t('hardware_profiles.list.delete_selected'), "destroy", multi_destroy_hardware_profiles_path, 'DELETE', :id => 'delete_button', :class => 'button danger'
  %li= link_to t('hardware_profiles.list.new_hardware'), new_hardware_profile_path, :id => 'new_hardware_profile_button', :class => 'button'

- content_for :filter_controls do
  %li
    = label_tag :hardware_profiles_preset_filter, t('filter_table.viewing')
    = hidden_field_tag :current_path, request.fullpath
    = select_tag(:hardware_profiles_preset_filter, preset_filters_options_for_select(HardwareProfile::PRESET_FILTERS_OPTIONS, params[:hardware_profiles_preset_filter]), :include_blank => t("hardware_profiles.preset_filters.all_hardware_profiles"), :disabled => true)
    = restful_submit_tag t("filter_table.apply_filters"), "index", filter_hardware_profiles_path, 'POST', :class => 'button', :id => 'apply_hardware_profiles_preset_filter'
    %span.label.badge.dark= @hardware_profiles.count
  %li.table-search-filter
    = text_field_tag :hardware_profiles_search, params[:hardware_profiles_search], :placeholder => t("filter_table.search")
    = restful_submit_tag "", "index", filter_hardware_profiles_path, 'POST', :class => 'button', :id => 'apply_hardware_profiles_search'

  :javascript
    $(document).ready(function(){
      $("#apply_hardware_profiles_preset_filter").hide();
      $("#hardware_profiles_preset_filter").change(function() {
        $("#apply_hardware_profiles_preset_filter").click();
      });
    });

= filter_table(hardware_profiles_header, @hardware_profiles) do |hwp|
  %tr{:class => cycle('nostripe','stripe')}
    %td{:class => "checkbox"}
      - selected = params[:select] == 'all'
      = check_box_tag "hardware_profile_selected[]", hwp.id, selected, :id => "hardware_profile_checkbox_#{hwp.id}"
    %td= link_to hwp.name, hardware_profile_path(hwp)
    %td= hwp.architecture.to_s
    %td{:class => 'center'}= hwp.memory.to_s
    %td{:class => 'center'}= hwp.storage.to_s
    %td{:class => 'center'}= hwp.cpu.to_s
