.content
  - content_for :form_header do
    %li= restful_submit_tag "Delete Selected", "destroy", multi_destroy_hardware_profiles_path, 'DELETE', :id => 'delete_button', :class => 'button  pill danger'
    %li= link_to "New Hardware", new_provider_hardware_profile_path(@provider), :id => 'new_hardware_profile', :class => 'button pill'

  = filter_table(hardware_profiles_header, @hardware_profiles) do |hwp|
    %tr{:class => cycle('nostripe','stripe')}
      %td
        - selected = params[:select] == 'all'
        = check_box_tag "hardware_profile_selected[]", hwp.id, selected, :id => "hardware_profile_checkbox_#{hwp.id}"
      %td= link_to hwp.name, hardware_profile_path(hwp)
      %td= hwp.architecture.to_s
      %td= hwp.memory.to_s
      %td= hwp.storage.to_s
      %td= hwp.cpu.to_s
