%section.content-section
  %header
    %h2=_("Matching Provider Hardware Profiles")
  .content
    - if @matching_hwps.size > 0
      %table.flat
        %thead
          %tr
            - @provider_hwps_header.each do |header|
              %th
                = header[:name]
        - @matching_hwps.each do |hwp|
          %tr{:class => cycle('nostripe','stripe')}
            %td
              - if hwp.provider
                -# FIXME: what do we show for end users without provider 'view' access?
                -# currently showing mapping but not linking to (permission-lacking)
                -# provider view, or should we hide the mapping completely if the user
                -# doesn't have provider 'view' privileges -- probably depends on whether
                -# end users are expected to have permission to get to the provider
                -# show page (read-only). If not, then the below is probably correct.
                - if check_privilege(Privilege::VIEW, hwp.provider)
                  = link_to hwp.provider.name, provider_path(hwp.provider)
                - else
                  = hwp.provider.name
            %td
              = link_to hwp.name, hardware_profile_path(hwp)
            %td
              =hwp.architecture.to_s
            %td
              =hwp.memory.to_s
            %td
              =hwp.storage.to_s
            %td
              =hwp.cpu.to_s
            %td
              =hwp.default_cost_per_hour.nil? ? "N/A" : "%.3f" % hwp.default_cost_per_hour
    - else
      %h3
        = _("No Matching Provider Hardware Profiles Could be found")
