= render :partial => 'layouts/admin_nav'

%header.page-header
  .obj_actions
    .return_to
      =_('Return to:')
      = link_to _('Hardware Profiles'), hardware_profiles_path
  %h1.hardware_profiles= _('Edit Hardware Profile')

%section.content-section
  .content
    = conductor_form_for @hardware_profile do |f|
      = render :partial => "form", :locals => { :form => f }
      .control_group.buttons
        .input
          = f.submit :class => 'btn primary'
          = f.submit(t('hardware_profiles.form.check_matches'), :id => 'check_mates', :class => 'btn')
          = link_to(_('Cancel'), hardware_profiles_path, :class => 'btn')

= render :partial => 'matching_provider_hardware_profiles' if params[:commit] == 'Check Matches'
