= render :partial => 'layouts/admin_nav'

%header.page-header
  .obj_actions
    = link_to _('Cancel Editing'), hardware_profile_path(@hardware_profile), :class => 'button pill danger', :id => 'new_user_button'
  %h1.hardware_profiles= @hardware_profile.name.blank? ? _('Hardware Profile') : @hardware_profile.name

%section.content-section
  %header
    %h2=_('Select Billing Model for Hardware Profile')

  .content
    = form_for @hardware_profile, :url => update_cost_billing_hardware_profile_path(@hardware_profile), :html => { :multipart => true, :class => 'generic' } do |hwp_form|
      = render :partial => "cost_form_billing", :locals => { :hwp_form => hwp_form }
