= render :partial => 'layouts/admin_nav'

%header.page-header
  %h1{:class => controller.controller_name}= @hardware_profile.name.titlecase
  #obj_actions.button-container
    = link_to 'New Hardware Profile', hardware_profile_url, :class => 'button primary', :id => 'new_user_button'
    %div.button-group
      = link_to 'Cancel Editing', hardware_profile_path(@hardware_profile), :class => 'button pill danger', :id => 'new_user_button'
  .corner &nbsp;

%section.content-section.hardware_profile
  %header
    %h2
      Edit Hardware Profile

  .content
    = form_for @hardware_profile, :url => hardware_profile_path(@hardware_profile), :html => { :multipart => true } do |hwp_form|
      = render :partial => "form", :locals => { :hwp_form => hwp_form }

    = render :partial => 'matching_provider_hardware_profiles' if params[:commit] == 'Check Matches'
