= render :partial => 'layouts/admin_nav'

%header.page-header
  .obj_actions
    .return_to
      = _("Return to:")
      = link_to _("Hardware Profiles"), hardware_profiles_path
  %h1.hardware_profiles= @hardware_profile.name.blank? ? _("New Hardware Profile") : @hardware_profile.name

%section.content-section
  = form_for @hardware_profile, :url => hardware_profiles_path, :html => { :multipart => true, :class => 'generic' } do |hwp_form|
    = render :partial => "form", :locals => { :hwp_form => hwp_form }

= render :partial => 'matching_provider_hardware_profiles' if @matching_hwps.present? && @matching_hwps.any?
