= render :partial => 'layouts/admin_nav'
= render :partial => 'section_header'

%section.content-section.users
  %header
    %h2 New Hardware Profile

  .content
    = form_for @hardware_profile, :url => hardware_profiles_path, :html => { :multipart => true } do |hwp_form|
      = render :partial => "form", :locals => { :hwp_form => hwp_form }

    = render :partial => 'matching_provider_hardware_profiles' if params[:commit] == 'Check Matches'
