= render :partial => 'layouts/admin_nav'
%header.page-header
  .obj_actions
    - if check_privilege(Privilege::CREATE, HardwareProfile)
      = link_to _("New Hardware Profile"), new_hardware_profile_url, :class => 'button primary', :id => 'new_role_button'
    .button-group
      - if check_privilege(Privilege::MODIFY, @hardware_profile) && !@hardware_profile.provider_hardware_profile?
        = link_to _("Edit"), edit_hardware_profile_path(@hardware_profile), :class => 'button', :id => 'edit_button'
        = button_to _("Delete"), hardware_profile_path(@hardware_profile), :method => :delete, :confirm => _("Are you sure you want to delete?"), :class => 'button danger'
      - if check_privilege(Privilege::MODIFY, @hardware_profile) && @hardware_profile.provider_hardware_profile?
        = link_to t('hardware_profiles.edit_cost'), edit_cost_hardware_profile_path(@hardware_profile), :class => 'button', :id => 'edit_cost_button'
  %h1.hardware_profiles= @title
%section.content-section.hardware_profile
  %header
    %h2=_("Properties")
  .content
    %table.flat
      %thead
        %tr
          - @properties_header.each do |header|
            %th
              = header[:name]
      - @hwp_properties.each do |hwpp|
        %tr
          %td
            =hwpp.name.nil? ? "N/A" : hwpp.name
          %td
            =hwpp.unit.nil? ? "N/A" : hwpp.unit
          %td
            =hwpp.value.nil? ? "N/A" : hwpp.value
          - if @hardware_profile.provider_hardware_profile?
            %td
              =hwpp.unit_price.nil? ? "N/A" : hwpp.unit_price

  - if @hardware_profile.provider_hardware_profile?
    %header
      %h2=t 'cost'
    %table.flat
      %thead
        %tr
          %td
            =@hardware_profile.default_cost_per_hour.nil? ? "N/A" : "%.3f" % @hardware_profile.default_cost_per_hour

- unless @hardware_profile.provider_hardware_profile?
  = render :partial => 'matching_provider_hardware_profiles'
