= render :partial => 'layouts/admin_nav'
%header.page-header
  %h1{:class => controller.controller_name}= @hardware_profile.name + " (" + (@hardware_profile.provider_id.nil? ? "Front End" : "Provider" ) + ")"
  #obj_actions.button-container
    = link_to 'New Hardware Profile', new_hardware_profile_url, :class => 'button primary', :id => 'new_role_button'
    .button-group
      = link_to 'Edit', edit_hardware_profile_path(@hardware_profile), :class => 'button pill', :id => 'edit_button'
      = button_to 'Delete', hardware_profile_path(@hardware_profile), :method => :delete, :confirm => "Are you sure you want to delete?", :class => 'button pill danger'
%section.content-section.hardware_profile
  %header
    %h2 Properties
  .content
    = render :partial => 'properties'
%section.content-section.hardware_profile
  %header
    %h2 Matching Provider Hardware Profiles
  .content
    = render :partial => 'matching_provider_hardware_profiles'
