= render :partial => 'layouts/admin_nav'
%header.page-header
  .obj_actions
    - if check_privilege(Privilege::CREATE, HardwareProfile)
      = link_to t('hardware_profiles.list.new_hardware'), new_hardware_profile_url, :class => 'button primary', :id => 'new_role_button'
    .button-group
      - if check_privilege(Privilege::MODIFY, @hardware_profile) && !@hardware_profile.provider_hardware_profile?
        = link_to t('edit'), edit_hardware_profile_path(@hardware_profile), :class => 'button pill', :id => 'edit_button'
        = button_to t('delete'), hardware_profile_path(@hardware_profile), :method => :delete, :confirm => "Are you sure you want to delete?", :class => 'button pill danger'
  %h1.hardware_profiles= @title
%section.content-section.hardware_profile
  %header
    %h2=t 'properties'
  .content
    %table.flat
      %thead
        %tr
          - @properties_header.each do |header|
            %th
              = header[:name]
      - @hwp_properties.each do |hwpp|
        %tr
          %td
            =hwpp.name.nil? ? "n/a" : hwpp.name
          %td
            =hwpp.unit.nil? ? "n/a" : hwpp.unit
          %td
            =hwpp.value.nil? ? "n/a" : hwpp.value
- unless @hardware_profile.provider_hardware_profile?
  = render :partial => 'matching_provider_hardware_profiles'
