- content_for :scripts do
  :javascript
    function toggle_build_form_visibility(ev) {
      if ($("#image_build_form").css('display') == 'none') {
        $("#image_build_form").css('display', 'block');
        $(ev.target).val('Cancel');
      } else {
        $("#image_build_form").css('display', 'none');
        $(ev.target).val('Build Images');
      }
    }

.summary_panel
  %ul{:class => 'side_panel'}
    %li
      BASICS
      %label
        = @image_descriptor.xml.name
      %label
        = @image_descriptor.xml.platform
      %label
        = @image_descriptor.xml.description
    %li
      SERVICES
      - @image_descriptor.xml.services.each do |service|
        %label
          = service
    //FIXME: software could take realy long space
    //%li
    //  SOFTWARE

  %ul{:class => 'main_panel'}
    .image_build_panel
      %h3
        Images
        %input{:type => 'button', :value => "Build Images", :style => 'float:right', :onclick => 'toggle_build_form_visibility(event)'}
      #image_build_form
        %ul
          %li
            %label Image formats
            %ul
              - @all_targets.each do |target_id, target|
                %li
                = check_box_tag 'targets[]', target_id, false
                %span
                  = target['name']
        = submit_tag "Build"
    .target_list
      - if @image_descriptor.image_descriptor_targets.empty?
        .empty No images have been created yet.
      -else
        %ul
          - @image_descriptor.image_descriptor_targets.each do |target|
            %li
              %span{:class => 'actions'}
                = image_target_actions(target)
              %span{:class => 'status'}
                = target.status
              = @all_targets[target.name]['name']
              %p
                = target.created_at
              //%span{:style => 'float:right'}
              //  Cancel

.submit
  = submit_tag "Cancel"
  = submit_tag "Back"
  = submit_tag "Done"
