= form_tag multi_destroy_realm_mappings_path(:frontend_realm_id => @realm.id) do
  %header
    - if check_privilege(Privilege::MODIFY, FrontendRealm)
      .section-controls
        - if @realm.realm_backend_targets and !@realm.realm_backend_targets.empty?
          = submit_tag _('Delete Selected'), :id => 'delete_mapping_button', :class => 'button danger', :confirm => _('Are you sure you want to delete?')
        .button-group
          - if @backend_realms and !@backend_realms.empty?
            = link_to _('Add mapping to Provider Realm'), new_realm_mapping_path(:frontend_realm_id => @realm.id, :provider_realm_or_provider_type => 'ProviderRealm'), :class => "button", :id => 'mapping_to_realm_button'
          - if @providers and !@providers.empty?
            = link_to _('Add mapping to Provider'), new_realm_mapping_path(:frontend_realm_id => @realm.id, :provider_realm_or_provider_type => 'Provider'), :class => "button", :id => 'mapping_to_provider_button'
    %h2= _('Realm Mapping')

  .content
    %fieldset
      - unless @backend_provider_targets.empty?
        %h3= _('Realm %s is mapped to Providers:') % "#{@realm.name}"
        %table.flat.checkbox_table
          - @backend_provider_targets.each do |backend|
            %tr{:class => cycle('nostripe','stripe')}
              %td.checkbox= check_box_tag "id[]", backend.id, false, :id => "backend_id_#{backend.id}"
              %td= backend.provider_realm_or_provider.name

    %fieldset
      - unless @backend_realm_targets.empty?
        %h3= _('Realm %s is mapped to Realms:') % "#{@realm.name}"
        %table.flat.checkbox_table
          - @backend_realm_targets.each do |backend|
            %tr{:class => cycle('nostripe','stripe')}
              %td.checkbox= check_box_tag "id[]", backend.id, false, :id => "backend_id_#{backend.id}"
              %td= "#{backend.target_provider.name}: #{backend.target_realm.name}"
