= render :partial => 'layouts/admin_nav'

%header.page-header
  %h1.realms= @title

%section.content-section
  %header
    %h2= _("Properties")

  .content
    = conductor_form_for @realm do |f|
      = render :partial => "form", :locals => { :form => f }
      = f.button :form_buttons, :cancel => frontend_realms_path
