= render :partial => 'layouts/admin_nav'
%header.page-header
  .obj_actions
    .return_to
      =_("Return to:")
      = link_to _("Realms"), frontend_realms_path
  %h1.realms= _("Create New Realm")

%section.content-section
  .content
    = conductor_form_for @realm do |f|
      = render :partial => "form", :locals => { :form => f }
      = f.button :form_buttons, :cancel => frontend_realms_path
