= render :partial => 'layouts/admin_nav'
%header.page-header
  .obj_actions
    .return_to
      =t'return_to'
      = link_to t('realms.realms'), frontend_realms_path
  %h1.realms= t 'realms.new.create_realm'

%section.content-section
  .content
    = conductor_form_for @realm do |f|
      = render :partial => "form", :locals => { :form => f }
      = f.button :form_buttons, :cancel => frontend_realms_path
