= render :partial => 'layouts/admin_nav'
%header.page-header
  .obj_actions
    .return_to
      =_("Return to:")
      = link_to _("Realms"), frontend_realms_path
    - if check_privilege(Privilege::CREATE, FrontendRealm)
      = link_to _("New Realm"), new_frontend_realm_url, :class => 'button primary', :id => 'new_realm_button'
    .button-group
      - if check_privilege(Privilege::MODIFY, FrontendRealm)
        = link_to _("Edit"), edit_frontend_realm_path(@realm), :class => 'button', :id => 'edit_realm_button'
        = button_to _("Delete"), frontend_realm_path(@realm), :method => :delete, :confirm => _("Are you sure you want to delete?"), :class => 'button danger', :id => 'delete_realm_button'
  %h1.realms= @title

%section.content-section.realm
  %header
    %h2= _("Properties")

  .content
    = render :partial => 'properties'

%section.content-section.realm_mapping
  = render :partial => 'mapping'
