- form_tag do
  - if form_header
    = form_header
  - if show_filter_widgets
    %p
      Viewing
      = select_tag("select_#{lower_class}", saved_searches.join.html_safe,:disabled => true)
      = object_count.to_s + " results"
      = text_field_tag :q, search_term || "Search result for...", :disabled => true
      = link_to('Filters', '#')
    %p
      = link_to('Share this view', '#')
      = link_to('Add/Remove Columns', '#')

  -if show_select_toggle
    = render :partial => 'layouts/select_all_none'

  %table.flat.checkbox_table
    %thead
      -if show_filter_widgets or show_select_toggle
        %tr
      - columns.each do |column|
        %th
          = column[:name]
    = rows.collect {|row| capture_haml(row, &block)}.to_s
