= form_tag({}, :class => 'filterable-data') do

  %div.controls
    %ul.filter-controls
      = yield filter_controls if content_for? filter_controls

    - if content_for? form_header
      %ul.actions
        = yield form_header

    .clear

  %table.flat.checkbox_table
    %thead
      %tr
        - columns.each do |column|
          - if column[:name] == 'checkbox'
            %th{:class => column[:class]}= check_box_tag :select_all, true, false, :class => 'select_all'
          -else
            %th{:class => column[:class]}= column[:name]
    = rows.collect {|row| capture_haml(row, &block)}.to_s.html_safe

  - if content_for? form_footer
    %ul.obj_actions
      = yield form_footer
