= form_tag({}, :class => 'filterable-data') do


  %div.controls
    %ul.filter-controls
      -if show_select_toggle
        %li= render :partial => 'layouts/select_all_none'
      - if show_filter_widgets
        -# %li
          -#%a.button.pill{:href => '#'} Filter
        -# %li
          -# %a.button.pill{:href => '#'} Add/Remove Columns
    %li
      %label{:for => "select_#{lower_class}"} Viewing
      = select_tag("select_#{lower_class}", saved_searches.join.html_safe,:disabled => true)
    %li.object-count
      %strong= object_count.to_s
      results
    -# %li
      -# %a.button.pill{:href => '#'} Save and Share
    - if content_for? form_header
      = yield form_header

  %table.checkbox_table
    %thead
      - columns.each do |column|
        %th
          = column[:name]
    = rows.collect {|row| capture_haml(row, &block)}.to_s.html_safe
