= form_tag({}, :class => 'filterable-data') do

  %div.controls
    - if content_for? form_header
      %ul.actions
        = yield form_header

    %ul.filter-controls
      - if show_filter_widgets
        %li
          %label{:for => "select_#{lower_class}"}=t 'filter_table.viewing'
          = select_tag("select_#{lower_class}", saved_searches.join.html_safe,:disabled => true)
          %span.label.badge.dark= object_count.to_s
          = link_to "Filter", "#", :class => 'button pill'
        %li
        %li.more_actions
          %span= image_tag "button-userdrop.png"
          %ul
            %li= link_to "Add/Remove Columns", "#"
            %li= link_to "Freeze Column", "#"
        %li= text_field_tag :search, nil, :placeholder => "Search"
      -# %li
        -# %a.button.pill{:href => '#'} Save and Share
    .clear

  %table.flat.checkbox_table
    %thead
      %tr
        - columns.each do |column|
          - if column[:name] == 'checkbox'
            %th{:class => column[:class]}= check_box_tag :select_all, true, false, :class => 'select_all'
          -else
            %th{:class => column[:class]}= column[:name]
    = rows.collect {|row| capture_haml(row, &block)}.to_s.html_safe

  - if content_for? form_footer
    %ul.obj_actions
      = yield form_footer
