.header_logo
  %span Deltacloud Aggregator
  %ul.nav
    %li
      = link_to 'Dashboard', dashboard_path
    %li
      = link_to 'Instances', instance_path
    %li
      = link_to 'Templates', templates_path
    %li
      = link_to 'Settings', settings_path

.header_info
  #hi-username
    = link_to @current_user.login, { :controller => "users", :action => "show"} unless @current_user.nil?
  = link_to 'Log out', logout_url unless @current_user.nil?
  = link_to 'Log in', login_url if @current_user.nil?
