%h1
  %img.dc{:src => '/images/dc_logo.png'}
  Cloud Aggregator
- unless @current_user.nil?
  %ul
    %li.about
      %a{:href => ""}
        = t(:about)
    %li.configure
      %a{:href => ""}
        = t(:configure)
    %li.hello
      - link_to account_path do
        = t(:hello) + " "
        %b
          = "#{@current_user.first_name} #{@current_user.last_name}"
    %li.logout
      = link_to t(:logout), logout_url
