%h1
  /
    %img.dc{:src => '/images/dc_logo.png'}
  Red Hat Cloud Engine
- unless @current_user.nil?
  %ul
    /
      FIXME: commented out because these links don't do anything yet
      %li.about
        %a{:href => ""}
          = t(:about)
      %li.configure
        %a{:href => ""}
          = t(:configure)

    %li.hello
      - link_to :controller => 'users', :action => 'edit', :id => @current_user.id do
        = t(:hello) + " "
        %b
          = "#{@current_user.first_name} #{@current_user.last_name}"
    %li.logout
      = link_to t(:logout), logout_url
