<%=link_to "Add a provider", {:controller => "provider", :action => "new"}, :class => "actionlink" %>

<%=link_to "Add a pool",     {:controller => "pool", :action => "new"}, :class => "actionlink" %>

<%= link_to "Add a user",   {:controller => "users", :action => "new"}, :class=>"actionlink" if has_user_modify?(BasePortalObject.general_permission_scope) %>
<%= link_to "User access",  {:controller => "permissions", :action => "list"}, :class=>"actionlink" if has_view_perms?(BasePortalObject.general_permission_scope) %>
<h3>Providers</h3>
<ul id="providers">
  <% cur_id = params[:id].to_i %>
  <% if !@providers.nil? %>
  <% @providers.each { |provider| %>
    <%#Note that this is a temporary way to selected proper list item for demo, and is not expected to stay this way%>
    <% if controller.controller_name == "provider" && provider.id == cur_id
      selected_provider = "selected"
    else
      selected_provider = ""
    end %>
    <li><%= link_to  provider.name,
         {:controller => "provider", :action => "show", :id => provider},
         :class => "providername #{selected_provider}"%>
   </li>
  <% } %>
  <% end %>
</ul>
<h3>Pools</h3>
<ul id="pools">
  <% if !@pools.nil? %>
  <% @pools.each { |pool| %>
  <% if controller.controller_name == "pool" && pool.id == cur_id
    selected_pool = "selected"
  else selected_pool = ""
  end %>
  <li><%= link_to  pool.name,
    {:controller => "pool", :action => "show", :id => pool},
     :class => "poolname #{selected_pool}" %></li>
  <% } %>
  <% end %>
</ul>
