#flash-hud
  = link_to "Close","#", :class => "control"
  - unless flash.empty?
    -if flash[:success]
      .notice.flash-group
        .flash-subset
          %div.heading
            =image_tag 'flash_notice_icon.png', :alt => 'Notices'
          %ul.flashes
            %li= flash[:success]

    -if flash[:notice]
      .notice.flash-group
        .flash-subset
          %div.heading
            =image_tag 'flash_notice_icon.png', :alt => 'Notices'
          %ul.flashes
            -if flash[:notice].kind_of?(Array)
              -flash[:notice].each do |msg|
                %li= msg
            -else flash[:notice]
              %li= flash[:notice]

    -if flash[:warning]
      .warning.flash-group
        .flash-subset
          %div.heading
            =image_tag 'flash_warning_icon.png', :alt => 'Warnings'
          %ul.flashes
            %li= flash[:warning]

    -if flash[:error]
      -if flash[:error].kind_of?(String)
        .error.flash-group
          .flash-subset
            %div.heading
              =image_tag 'flash_error_icon.png', :alt => 'Errors'
            =flash[:error]
      -elsif flash[:error].kind_of?(Hash)
        -unless flash[:error][:successes].blank?
          .notice.flash-group
            .flash-subset
              %div.heading
                =image_tag 'flash_notice_icon.png', :alt => 'Notices'
              %ul.flashes
                - flash[:error][:successes].each do |k, v|
                  %li= [k, v.present? ? ": #{v}" : '']
        .error.flash-group
          -if !flash[:error][:summary].blank?
            .flash-subset
              %div.heading
                =image_tag 'flash_warning_icon.png', :alt => 'Warnings'
              %ul.flashes
                %li= flash[:error][:summary]
          .flash-subset
            %div.heading
              =image_tag 'flash_error_icon.png', :alt => 'Errors'
            %ul.flashes
              -if !flash[:error][:failures].blank?
                -if flash[:error][:failures].length > 1
                  -flash[:error][:failures].each do |k, v|
                    %li= [k, v.present? ? ": #{v}" : '']
                -else
                  -flash[:error][:failures].each do |k, v|
                    %li= [v]
              -else
                -flash[:error].each do |e|
                  %li= e
      -elsif flash[:error].kind_of?(Array)
        .error.flash-group
          .flash-subset
            %div.heading
              =image_tag 'flash_error_icon.png', :alt => 'Errors'
            %ul.flashes
              -flash[:error].each do |msg|
                %li= msg

  - if content_for? :error_messages
    = yield :error_messages
