!!!
%html{html_attrs}
  %head
    %meta(http-equiv="content-type" content="text/html;charset=UTF-8")
    %title
      Deltacloud
      = yield :title

    = stylesheet_link_tag 'compiled/screen.css', :media => 'screen, projection'
    = stylesheet_link_tag 'compiled/layout'
    = stylesheet_link_tag 'compiled/components'
    = stylesheet_link_tag 'compiled/dcloud'
    = stylesheet_link_tag 'facebox'
    = stylesheet_link_tag 'jquery.ui-1.8.1/jquery-ui-1.8.1.custom.css'
    = stylesheet_link_tag 'jquery.loadmask'

    = javascript_include_tag "jquery-1.4.2.min.js"
    = javascript_include_tag "application.js"
    = javascript_include_tag "facebox.js"
    = javascript_include_tag "jquery.ui-1.8.1/jquery-ui-1.8.1.custom.min.js"
    = javascript_include_tag "jquery.loadmask.min"

    = yield :scripts
  %body
    #header
      = render :partial => '/layouts/header'
    #side
      = render :partial => '/layouts/main_nav' unless @current_user.nil?
    #tabs-and-content-container
      #main
        #content_area
          = render :partial => '/layouts/notification'
          = (yield(:content) or yield) # content is set if we're using a sub template
