= content_for :title do
  = t("layout.appname")
  = "| #{@title}" unless @title.blank?

= content_for :stylesheets do
  = stylesheet_link_tag '/stylesheets/compiled/layout.css'
  = stylesheet_link_tag 'jquery.ui-1.8.1/jquery-ui-1.8.1.custom.css'
  /[if lt IE 9]
    = javascript_include_tag 'http://html5shiv.googlecode.com/svn/trunk/html5.js'
  /[if lt IE 8]
    = stylesheet_link_tag '/stylesheets/layout_ie7.css'

  :javascript
    window.Conductor = {}
    window.Conductor.PATH_PREFIX = "#{root_path}"
    // This hack prevents Backbone from switching to the #/pools/1 type URLs
    // when the browser doesn't support the HTML5 History API.
    window.history || (window.history = {});
    window.history.pushState || (window.history.pushState = function(){});
    window.history.replaceState || (window.history.replaceState = function(){});

  = javascript_include_tag "jquery-1.6.1.min.js"
  = javascript_include_tag "jquery.ui-1.8.1/jquery-ui-1.8.1.custom.min.js"
  = javascript_include_tag "mustache.min.js"
  = javascript_include_tag "underscore-min.js"
  = javascript_include_tag "backbone-min.js"

  = javascript_include_tag "application.js"

  = javascript_include_tag "backbone/models.js"
  = javascript_include_tag "backbone/views.js"
  = javascript_include_tag "backbone/routers.js"
  = javascript_include_tag "rails.js"
  = javascript_include_tag "lib/modernizr-custom.js"

= content_for :logo do
  = link_to(image_tag('upstream-logo.png'), root_path)

= content_for :tabs do
  = render_navigation :level => 1

= content_for :widgets do
  %ul#usermenu
    %li= link_to current_user.name, account_path
    %li= link_to t('masthead.my_account'), account_path
    %li= link_to t('masthead.logout'), logout_path

= content_for :content do
  = render :partial => '/layouts/new_notification' if flash.present? or content_for?(:error_messages)
  = yield

= content_for :footer do
  %p.copyright!= t('layout.copyright')

= render :file => "/app/views/layouts/converge-ui/shell_layout"
