= content_for :title do
  = t("layout.appname")
  = "| #{@title}" unless @title.blank?

= content_for :stylesheets_block do
  = stylesheet_link_tag '/stylesheets/compiled/layout.css'
  = stylesheet_link_tag 'jquery.ui-1.8.1/jquery-ui-1.8.1.custom.css'
  /[if lt IE 10]
    = stylesheet_link_tag '/stylesheets/layout_ie9.css'
  /[if lt IE 9]
    = javascript_include_tag 'https://html5shiv.googlecode.com/svn/trunk/html5.js'
    = stylesheet_link_tag '/stylesheets/layout_ie8.css'
  /[if lt IE 8]
    = stylesheet_link_tag '/stylesheets/layout_ie7.css'

  :javascript
    window.Conductor = {}
    window.Conductor.PATH_PREFIX = "#{main_app.root_path}"
    // This hack prevents Backbone from switching to the #/pools/1 type URLs
    // when the browser doesn't support the HTML5 History API.
    window.history || (window.history = {});
    window.history.pushState || (window.history.pushState = function(){});
    window.history.replaceState || (window.history.replaceState = function(){});

  = javascript_include_tag "converge-ui/vendor/jquery/jquery-1.6.2.js"
  = javascript_include_tag "converge-ui/flash_messages.js"
  = javascript_include_tag "jquery.ui-1.8.1/jquery-ui-1.8.1.custom.min.js"
  = javascript_include_tag "mustache.min.js"
  = javascript_include_tag "underscore-min.js"
  = javascript_include_tag "backbone-min.js"

  = javascript_include_tag "application.js"

  = javascript_include_tag "backbone/models.js"
  = javascript_include_tag "backbone/views.js"
  = javascript_include_tag "backbone/routers.js"
  = javascript_include_tag "converge-ui/vendor/rails.js"
  = javascript_include_tag "lib/modernizr-custom.js"
  = javascript_include_tag "converge-ui/vendor/jquery/plugins/flot-0.7/jquery.flot.js"
  = javascript_include_tag "converge-ui/vendor/jquery/plugins/flot-0.7/excanvas.js"

= content_for :logo do
  = link_to t('layout.appname'), main_app.root_path, :class => "logo"

= content_for :tabs do
  = render_navigation :level => 1

= content_for :widgets do
  %ul
    - if current_user
      %li.header-widget= link_to format_user_name(current_user), main_app.account_path
      %li.header-widget= link_to t('masthead.logout'), main_app.logout_path
    - else
      %li.header-widget= link_to t('masthead.login'), main_app.login_path

= content_for :content do
  = render :partial => '/layouts/new_notification'# if flash.present? or content_for?(:error_messages)
  = yield

= content_for :footer do
  = render :partial => 'layouts/footer'

= render :file => "app/views/layouts/converge-ui/shell_layout"
