= content_for :title do
  = t("layout.appname")
  = "| #{@title}" unless @title.blank?

= content_for :stylesheets_block do
  = stylesheet_link_tag '/stylesheets/compiled/login.css'
  /[if lt IE 8]
    = stylesheet_link_tag '/stylesheets/layout_ie7.css'

  = javascript_include_tag "converge-ui/lib/jquery/jquery-1.6.2.js"
  = javascript_include_tag "converge-ui/login.js"
  = javascript_include_tag "converge-ui/lib/rails.js"
  /[if lt IE 9]
    = javascript_include_tag 'http://html5shiv.googlecode.com/svn/trunk/html5.js'

= content_for :login_logo do
  = image_tag 'login-card-logo-product.png'

= content_for :content do
  = yield

= content_for :footer do
  = render :partial => "layouts/footer"

= render :file => "app/views/layouts/converge-ui/user_session_layout"
