= content_for(:stylesheets_block) do
  = stylesheet_link_tag '/stylesheets/compiled/login.css'
  /[if lt IE 9]
    = javascript_include_tag 'http://html5shiv.googlecode.com/svn/trunk/html5.js'
    = stylesheet_link_tag '/stylesheets/login_ie8.css'
  /[if lt IE 8]
    = stylesheet_link_tag '/stylesheets/layout_ie7.css'

= content_for(:javascripts_block) do
  = javascript_include_tag "converge-ui/vendor/jquery/jquery-1.6.2.js"
  = javascript_include_tag "converge-ui/vendor/rails.js"
  = javascript_include_tag "converge-ui/login.js"
  :javascript
    $(document).ready(function() {
      $("#login_form").bind("ajax:error", function(event, data, status, xhr) {
        $("#notifications").html("<div class=\'error\'>\n <p class=\'text\'>#{_("The Username or Password is incorrect, please try again.")}<\/p>\n<\/div>\n");
        $('form .spinner').fadeOut('fast');
      });
    });
  /[if lt IE 9]

= content_for :title do
  = _("Aeolus Conductor")
  = "| #{@title}" unless @title.blank?

= content_for :notifications do
  = render :partial => 'user_sessions/notifications'

= content_for :login_logo do
  = image_tag 'login-card-logo-upstream.png'

= content_for :footer do
  = render :partial => 'layouts/footer'

= render :partial => "layouts/converge-ui/user_session_layout"
