!!! 5
%html{"xml:lang" => "en", :lang => "en"}
  %head
    %meta{:charset => 'utf-8'}/
    %title= @title
    %link{:rel =>  'shortcut icon', :href => '/favicon.ico'}
    = stylesheet_link_tag '/stylesheets/reset.css'
    = stylesheet_link_tag '/stylesheets/960.css'
    = stylesheet_link_tag '/stylesheets/buttons.css'
    = stylesheet_link_tag '/stylesheets/compiled/layout.css'
    = stylesheet_link_tag 'jquery.ui-1.8.1/jquery-ui-1.8.1.custom.css'
    = stylesheet_link_tag '/stylesheets/compiled/header.css'
    /[if lt IE 9]
      = javascript_include_tag 'http://html5shiv.googlecode.com/svn/trunk/html5.js'
    /[if lt IE 8]
      = stylesheet_link_tag '/stylesheets/layout_ie7.css'
    = stylesheet_link_tag '/stylesheets/compiled/custom.css'

    :javascript
      window.Conductor = {}
      window.Conductor.PATH_PREFIX = "#{root_path}"
      // This hack prevents Backbone from switching to the #/pools/1 type URLs
      // when the browser doesn't support the HTML5 History API.
      window.history || (window.history = {});
      window.history.pushState || (window.history.pushState = function(){});
      window.history.replaceState || (window.history.replaceState = function(){});

    = javascript_include_tag "jquery-1.6.1.min.js"
    = javascript_include_tag "jquery.ui-1.8.1/jquery-ui-1.8.1.custom.min.js"
    = javascript_include_tag "jquery.tmpl.min.js"
    = javascript_include_tag "underscore-min.js"
    = javascript_include_tag "backbone-min.js"

    = javascript_include_tag "application.js"
    = javascript_include_tag "yetii-min.js"

    = javascript_include_tag "backbone/models.js"
    = javascript_include_tag "backbone/views.js"
    = javascript_include_tag "backbone/routers.js"
    = javascript_include_tag "rails.js"
    # = javascript_include_tag 'modernizr.js'
    = csrf_meta_tag
    = yield :scripts
  %body{:class => "#{(["pools" ,"deployments", "instances"].include? controller_name) ? 'monitor' : 'administer'}" }
    #primary-container

      %header#masthead
        = render :partial => 'layouts/masthead'

      = render :partial => '/layouts/new_notification' if flash.present? or content_for?(:error_messages)

      %nav#primary
        =render_navigation :level => 1

      #content
        -# works with any 960 container (.container_16 or .container_24)
        = yield
        .clear
      .clearfooter
    %footer.standard
      .container
        #legal
          %nav.footer
            %span.copyright!= t('layout.copyright')
