= error_messages_for 'suggested_deployable'
%fieldset
  %p
    = form.label :name
    = form.text_field :name, :class => 'em long'
  %p
    = form.label :description
    = form.text_area :description, :class => 'long'
  %p
    = form.label :url, 'URL'
    = form.text_field :url, :class => 'long'

%fieldset.options
  = link_to 'Cancel', suggested_deployables_path, :class => 'button danger'
  = submit_tag 'Save', :name => 'save', :class => 'button', :id => 'save_button'
