= error_messages_for 'suggested_deployable'
%ul
  %li
    = form.label :name
    = form.text_field :name
  %li
    = form.label :description
    = form.text_area :description
  %li
    = form.label :url, 'URL'
    = form.text_field :url

= link_to 'Cancel', suggested_deployables_path, :class => 'button danger'
= submit_tag 'Save', :name => 'save', :class => 'button'
