%section.content-section.roles
  %header
    %h2 Deployables List
    %span.label.badge.dark.count= @suggested_deployables.length

  .content
    - form_header = capture_haml do
      = restful_submit_tag "Delete", "destroy", multi_destroy_suggested_deployables_path, 'DELETE',
        :id => 'delete_button', :class => 'button danger'

    = filter_table(@header, @suggested_deployables, :form_header => form_header) do |suggested_deployable|
      %tr{:class => cycle('nostripe','stripe')}
        %td
          - selected = params[:select] == 'all'
          = check_box_tag "suggested_deployables_selected[]", suggested_deployable.id, selected, :id => "suggested_deployable_checkbox_#{suggested_deployable.id}"
        %td
          = link_to suggested_deployable.name, suggested_deployable_path(suggested_deployable.id)
        %td
          = suggested_deployable.url
