= render :partial => 'layouts/admin_header'
= render :partial => 'section_header'

%section.content-section.roles
  %header
    %h2 Deployables List
    %span.label.badge.dark.count= @suggested_deployables.length

  .content
    - form_header = capture_haml do
      = restful_submit_tag "Delete", "destroy", multi_destroy_suggested_deployables_path, 'DELETE', :id => 'delete_button', :class => 'button danger'

      %p
        Select:&nbsp;
        = link_to "All", params.merge(:select => 'all')
        %span> ,&nbsp;
        = link_to "None", params.merge(:select => 'none')

    = filter_table(@header, @suggested_deployables, :form_header => form_header) do |deployable|
      %table#deployables_table.checkbox_table
        %tr
          %td
            - selected = params[:select] == 'all'
            = check_box_tag "suggested_deployables_selected[]", deployable.id, selected, :id => "suggested_deployable_checkbox_#{deployable.id}"
          %td
            = link_to deployable.name, suggested_deployable_path(deployable.id)
          %td
            = deployable.url
