<% if @pool.cloud_accounts.size > 0 %>
<h1>These Cloud Accounts are already attached to this pool</h1>
<table>
<thead>
<tr>
<th scope="col">Provider Name</th>
<th scope="col">Cloud Account User Name</th>
</tr>
<% @pool.cloud_accounts.each {|a| %>
<tr>
<td><%= a.provider.name %></td>
<td><%= a.username %></td>
</tr>
<% } %>
</table>
<% end %>

<% if @cloud_accounts.size == 0 %>
<h1>There are no existing Cloud Accounts available to add</h1>
<% else %>
<h1>These Cloud Accounts are available to add</h1>
<table>
<thead>
<tr>
<th scope="col">Provider Name</th>
<th scope="col">Cloud Account User Name</th>
</tr>
<% @cloud_accounts.each {|a| %>
<tr>
<td><%= a.provider.name %></td>
<td><%= a.username %> <%= link_to "Add this account", {:controller=> "pool",
  :action => "add_account", :pool => @pool, :cloud_account => a}, :class => "actionlink" %></td>
</tr>
<% } %>
</table>
<% end %>
