:javascript
  $(document).ready(function() {
    $("#pool-tabs").tabs();
  });
#pool-tabs
  %ul
    %li= link_to "Instances", {:action => "list", :id => @pool.id, :ajax => true}
    - if has_view_perms?
      %li= link_to "User access",  {:controller => "permissions", :action => "list", :pool_id => @pool.id, :ajax => true}
    %li= link_to "Hardware Profiles",  {:action => "hardware_profiles", :id => @pool.id, :ajax => true}
    %li= link_to "Realms",  {:action => "realms", :id => @pool.id, :ajax => true}
    %li= link_to "Quota",  {:controller => "quota", :action => "show", :id => @pool, :parent_type => "pool", :ajax => true}
