= render :partial => 'layouts/admin_nav'

%header.page-header
  .obj_actions
    .return_to
      = t(:return_to)
      = link_to _('Provider Selection Strategies for Pool: %s') % @pool.name, pool_provider_selection_path(@pool)
  %h1.no-icon= _('Provider Selection Strategies')

%section.content-section
  %header
    .section-controls
      = link_to(_('Add new'),
          new_pool_provider_selection_provider_priority_group_path(@pool),
          :class => 'button', :id => 'add_new')
    %h2= _('Edit Strict Order Strategy')
  .content
    - if @priority_groups.any?
      %ul.priority-groups
        - @priority_groups.each do |priority_group|
          %li
            .summary
              .info
                %h2= priority_group.name
                %p!= "#{ProviderPriorityGroup.human_attribute_name(:score)}: #{priority_group.score}"
              .controls
                .button-group
                  = link_to(_('Edit'), edit_pool_provider_selection_provider_priority_group_path(priority_group.pool, priority_group), :class => "button")
                  = link_to(_('Delete'), pool_provider_selection_provider_priority_group_path(priority_group.pool, priority_group), :method => :delete, :confirm => _('Are you sure you want to delete this priority group?'), :class => "button danger")
            .details
              %table
                %tr
                  %th
                    %strong= _('Account Name')
                  %th= _('Username')
                  %th= _('Provider Name')
                  %th= _('Provider Type')
                  %th= ProviderAccount.human_attribute_name(:priority)
                  %th= _('Quota Used')
                  %th= _('Quota Limit')

                - priority_group.all_provider_accounts.each do |account|
                  %tr
                    %td= link_to account.name, provider_provider_account_path(account.provider, account)
                    %td= account.credentials_hash['username']
                    %td= account.provider.name
                    %td= account.provider.provider_type.name
                    %td= account.priority
                    %td{:class => 'center'}= number_to_percentage account.quota.percentage_used, :precision => 0
                    %td{:class => 'center'}= account.quota.maximum_running_instances or _('unlimited')
    - else
      #no-provider-account.align-center
        %strong= _('No available priority group to display')
