= render :partial => 'layouts/admin_nav'

%header.page-header
  .obj_actions
    .return_to
      = t(:return_to)
      = link_to _('Provider Groups for Pool: %s') % @pool.name, pool_provider_selection_provider_priority_groups_path(@pool)
  %h1.no-icon= _('Add new Priority Group')

%section.content-section
  .content#priority-group-form
    = form_for @priority_group, :url => pool_provider_selection_provider_priority_groups_path(@pool) do |form|
      = render :partial => 'form', :locals => { :form => form }
      %fieldset.options
        = form.submit(_('Create Priority Group'), :class => 'submit button primary')
        = link_to _('Cancel'), pool_provider_selection_provider_priority_groups_path(@pool), :class => "button danger"
