<fieldset>
<legend>Account</legend>
<%= hidden_field :cloud_account,  :id %>
<%= hidden_field :cloud_account, :provider_id, :value => @provider.id %>
<ul>
<li><label>Label<span>user-visible name for the account</span></label><%=text_field :cloud_account, :label %></li>
<% if @cloud_account.id.nil? %>
<li><label>UserName<span>UserName for the provider account you wish to add.</span></label><%= text_field :cloud_account, :username %></li>
<% end %>
<li><label>Password<span>Password for the provider account you wish to add.</span></label><%=password_field :cloud_account, :password %></li>
</ul>
</fieldset>
<%= submit_tag "Save", :class => "submit" %>
