= render :partial => 'providers/providers'
#details.grid_13
  %nav.subsubnav
    = render_navigation(:level => 4)

  %h2
    = t('.edit_provider_account')
  - form_for @cloud_account, :url => provider_account_path(@provider, @cloud_account), :html => { :method => :put, :multipart => true } do |f|
    = render :partial => 'form', :locals => { :f => f }
    %fieldset.clearfix
      .grid_13.alpha.omega
        = submit_tag t(:edit), :class => "ra nomargin dialogbutton"
    %section
      %p.requirement
        %span.required *
        \-
        = t('.required_field')
