= render :partial => 'providers/providers'
#details.grid_13
  %nav.subsubnav
    = render_navigation({:context => 'old', :level => 4})
  %h2
    = t('.provider_accounts')
  - unless @provider.cloud_accounts.empty?
    %table
      %thead
        %tr
          %th{:scope => "col"} Label
          %th{:scope => "col"} Username
          %th{:scope => "col"} Account Number
          %th{:scope => "col", :colspan => "2"} Actions
      %tbody
        - @provider.cloud_accounts.each do |cloud_account|
          %tr
            %td= cloud_account.label
            %td= cloud_account.username
            %td= cloud_account.account_number
            %td= link_to 'Edit', edit_provider_account_path(@provider, cloud_account)
            %td= link_to 'Delete', destroy_providers_account_path(@provider, cloud_account), :confirm => 'Are you sure?'

  - if @provider.cloud_accounts.empty?
    = link_to 'Add', new_provider_account_path(@provider.id), :class => 'button'
