%div{:class => "#{name}", :id => "#{name}"}

:javascript
  $(function () {
    var datasets = [
      #{ datasets.each.map{ |label,data| "{
        label: \"" + label + "\",
        data: [#{ data.each.map{ |p| "[#{p[0]}, #{p[1]}]"}.join(", ") }]
      }" }.join(",
      ") }
    ];

    $.plot($("##{name}"), datasets, {
      xaxis: {
        mode: "time",
        min: #{from_date.to_datetime.beginning_of_day.to_i * 1000},
        max: #{to_date.to_datetime.end_of_day.to_i * 1000}
      }
    });
  });
