%section.content-section.provider_accounts
  %header
    %h2 Provider Accounts
    %span.label.badge.dark.count= @accounts.length

  .content
    - form_tag multi_destroy_provider_accounts_path do
      = submit_tag "Delete", :id => 'delete_button', :class => 'button'

      = filter_table(@header, @accounts) do |account|
        %tr{:class => cycle('nostripe','stripe')}
          %td
            - selected = params[:select] == 'all'
            = check_box_tag "accounts_selected[]", account.id, selected, :id => "account_checkbox_#{account.id}"
          %td= link_to account.name, provider_account_path(account)
          %td= account.credentials_hash['username']
          %td= account.provider.provider_type.name
          %td= account.quota ? account.quota.percentage_used.to_s + "%": 'unlimited'
          %td= account.quota.maximum_running_instances or 'unlimited'
