.content
  - content_for :form_header do
    %li= restful_submit_tag "Delete Selected", "destroy", multi_destroy_provider_provider_accounts_path(@provider), 'DELETE', :id => 'delete_button', :class => 'button danger'
    %li= link_to "New Account", new_provider_provider_account_path(@provider), :id => 'new_provider_account', :class => 'button'

  = filter_table(provider_accounts_header, @provider_accounts) do |account|
    %tr{:class => cycle('nostripe','stripe')}
      %td{:class => 'checkbox'}
        - selected = params[:select] == 'all'
        = check_box_tag "accounts_selected[]", account.id, selected, :id => "account_checkbox_#{account.id}"
      %td{:class => 'alert'}= image_tag "sb_icon_instance_failure.png" unless @alerts.select {|alert| alert[:account_id] == account.id }.empty?
      %td= link_to account.name, provider_provider_account_path(@provider, account)
      %td= account.credentials_hash['username']
      %td= account.provider.name
      %td= account.provider.provider_type.name
      %td{:class => 'center'}= number_to_percentage account.quota.percentage_used, :precision => 0
      %td{:class => 'center'}= account.quota.maximum_running_instances or 'unlimited'
