%section.content-section.provider_accounts
  %header
    %h2 Provider Accounts
    %span.label.badge.dark.count= @accounts.length

  .content
    - form_tag multi_destroy_provider_accounts_path do
      = submit_tag "Delete", :id => 'delete_button', :class => 'button'

      = render :partial => 'layouts/select_all_none'

      %table#provider_accounts_table.checkbox_table
        %thead
          %tr
            %th.ignore
            %th= link_to "Provider Account Name", hardware_profiles_path(:sort_by => "name")
            %th= link_to "Username", hardware_profiles_path(:sort_by => "name")
            %th= link_to "Provider Type", hardware_profiles_path(:sort_by => "name")
        - @accounts.each do |account|
          %tr
            %td
              - selected = params[:select] == 'all'
              = check_box_tag "accounts_selected[]", account.id, selected, :id => "account_checkbox_#{account.id}"
            %td= link_to account.name, provider_account_path(account)
            %td= account.credentials_hash['username']
            %td= account.provider.provider_type.name
