%table
  %thead
    %tr
      %th.show
        Properties for
        = @account.name
      %th.show
  %tbody
    %tr
      %td
        %label Running instances quota:
      %td
        = @account.quota.maximum_running_instances or 'unlimited'
    - if @account_id
      %tr
        %td
          = label_tag "Account number:"
        %td
          = @account_id
    %tr
      %td
        %label Config Server:
      %td
        - missing_config_server = @account.config_server.nil?
        %span#config_server
          = missing_config_server ? "None" : @account.config_server.base_url
        %span#config_server_control
          - if missing_config_server
            [
            = link_to 'Add', new_config_server_url + "?provider_account_id=#{@account.id}"
            ]
          - else
            [
            = link_to 'Edit', edit_config_server_path(@account.config_server)
            ]
            [
            = link_to 'Test', test_config_servers_path + "?id=#{@account.config_server.id}"
            ]
            [
            = link_to 'Delete', config_server_path(@account.config_server), :method => 'delete', :confirm => "Are you sure you want to delete this config server?"
            ]
