%table.properties_table
  %tbody
    %tr
      %td= t'provider_accounts.properties.running_instances_quota'
      %td= @provider_account.quota.maximum_running_instances or t('provider_accounts.properties.unlimited')
    %tr
      %td= t'provider_accounts.index.priority'
      %td= @provider_account.priority
    - if @account_id
      %tr
        %td= t('provider_accounts.properties.account_number')
        %td= @account_id
    %tr
      %td= t'provider_accounts.properties.config_server'
      %td
        - missing_config_server = @provider_account.config_server.nil?
        %span#config_server
          = missing_config_server ? t('provider_accounts.properties.none') : @provider_account.config_server.endpoint
        %span#config_server_control
          - if missing_config_server
            [
            = link_to t('add'), new_config_server_url + "?provider_account_id=#{@provider_account.id}"
            ]
          - else
            [
            = link_to t('edit'), edit_config_server_path(@provider_account.config_server)
            ]
            [
            = link_to t('provider_accounts.properties.test'), test_config_server_path(@provider_account.config_server)
            ]
            [
            = link_to t('delete'), config_server_path(@provider_account.config_server), :method => 'delete', :confirm => t('provider_accounts.properties.sure_to_delete')
            ]
