%table
  %thead
    %tr
      %th.show
        =t'provider_accounts.properties.properties_for'
        = @provider_account.name
      %th.show
  %tbody
    %tr
      %td
        %label=t'provider_accounts.properties.running_instances_quota'
      %td
        = @provider_account.quota.maximum_running_instances or t('unlimited')
    - if @account_id
      %tr
        %td
          = label_tag t('provider_accounts.properties.account_number')
        %td
          = @account_id
    %tr
      %td
        %label=t'provider_accounts.properties.config_server'
      %td
        - missing_config_server = @provider_account.config_server.nil?
        %span#config_server
          = missing_config_server ? t('provider_accounts.properties.none') : @provider_account.config_server.base_url
        %span#config_server_control
          - if missing_config_server
            [
            = link_to t('add'), new_config_server_url + "?provider_account_id=#{@provider_account.id}"
            ]
          - else
            [
            = link_to t('edit'), edit_config_server_path(@provider_account.config_server)
            ]
            [
            = link_to t('provider_accounts.properties.test'), test_config_server_path(@provider_account.config_server)
            ]
            [
            = link_to t('delete'), config_server_path(@provider_account.config_server), :method => 'delete', :confirm => t('provider_accounts.properties.sure_to_delete')
            ]
