%table.properties_table
  %tbody
    %tr
      %td= _("Running instances quota")
      %td= @provider_account.quota.maximum_running_instances or _("unlimited")
    %tr
      %td= _("Priority")
      %td= @provider_account.priority
    - if @account_id
      %tr
        %td= _("Account number")
        %td= @account_id
    %tr
      %td= _("Config Server")
      %td
        - missing_config_server = @provider_account.config_server.nil?
        %span#config_server
          = missing_config_server ? _("None") : @provider_account.config_server.endpoint
        %span#config_server_control
          - if missing_config_server
            [
            = link_to _("Add"), new_config_server_url + "?provider_account_id=#{@provider_account.id}"
            ]
          - else
            [
            = link_to _("Edit"), edit_config_server_path(@provider_account.config_server)
            ]
            [
            = link_to _("Test"), test_config_server_path(@provider_account.config_server)
            ]
            [
            = link_to _("Delete"), config_server_path(@provider_account.config_server), :method => 'delete', :confirm => _("Are you sure you want to delete this Config Server?")
            ]
