%fieldset#provider_type
  %p
    = label_tag t('providers.provider')
    = select(:provider_account, :provider_id, options_for_select(@providers.map{ |p| [p.name, p.id] }, :selected => @provider.id))
    = restful_submit_tag t('choose'), 'set_selected_provider',set_selected_provider_provider_provider_accounts_path(@provider), 'GET', :class => 'button pill'
  %p
    = label_tag t('provider_accounts.provider_selection.cloud_type')
    = @provider.provider_type.name
    .clear
    - unless @provider.provider_type.deltacloud_driver.nil?
      = render :partial => "provider_form", :locals => { :provider_type => @provider.provider_type}
    - else
      = flash.now[:warning] = t('provider_accounts.flash.warning.no_provider')

:javascript
  $(document).ready(function(){
      var selected_provider;
      $("#provider_account_provider_id").change(function()
      {
          selected_provider = $(this).find("option:selected").attr('value');
          $.get("#{set_selected_provider_provider_provider_accounts_url(@provider)}", {'provider_account[provider_id]':selected_provider},
            function(result) {
              $("#provider_type").html(result);
            }
          );
       });
  });
