#details.grid_13
  = error_messages_for :provider_account
  %h2
    = t('provider_accounts.edit.edit_provider_account')
  - form_tag(provider_account_path, { :method => :put, :multipart => true }) do
    = render :partial => 'provider_selection'
    %fieldset.clearfix
      .grid_13.alpha.omega
        = submit_tag t(:save), :class => "ra nomargin dialogbutton"
    %section
      %p.requirement
        %span.required *
        \-
        = t('provider_accounts.edit.required_field')
