= render :partial => 'layouts/admin_nav'
%header.page-header
  %h1{:class => controller.controller_name}= @provider_account.name
  #obj_actions.button-container
    = link_to 'New Provider Account', new_provider_account_url, :class => 'button primary', :id => 'new_user_button'
    %div.button-group
      = link_to 'Cancel Editing', provider_account_path(@provider_account), :class => 'button pill danger', :id => 'new_user_button'
  .corner &nbsp;

%section.content-section.user
  %header
    %h2
      Edit Provider Account:
      = @provider_account.name

  .content
    - unless @providers.empty?
      = form_for(@provider_account, :url => provider_account_path(@provider_account), :html => {:multipart => true,:method => :put, :class => 'generic'})  do |f|
        = render :partial => "form", :locals => { :form => f }
