= render :partial => 'layouts/admin_nav'
%header.page-header
  .obj_actions
    .return_to
      = _("Return to:")
      = link_to _("Cloud Providers"), edit_provider_path(@provider, :details_tab => 'accounts')
  %h1.provider_accounts= @title

%section.content-section.provider_accounts
  .content
    = conductor_form_for(@provider_account, :error_partial => 'layouts/error_messages', :url => provider_provider_accounts_path(@provider)) do |f|
      = render :partial => "form", :locals => { :form => f }
      = f.button :form_buttons, :cancel => edit_provider_path(@provider, :details_tab => 'accounts')
