= render :partial => 'layouts/admin_nav'
%header.page-header
  %h1{:class => controller.controller_name}= @account.name
  #obj_actions.button-container
    = link_to 'New Provider Account', new_provider_account_url, :class => 'button primary', :id => 'new_user_button'
    .button-group
      = link_to 'Edit', edit_provider_account_path(@account), :class => 'button pill'
      = button_to "Delete", provider_account_path(@account), :method => 'delete', :confirm => "Are you sure you want to delete?", :class => 'button pill danger'
  .corner &nbsp;

%section.content-section.user
  %header
    %h2 Properties

  .content
    %div#view
      = render :partial => 'properties'
