= render :partial => 'layouts/admin_nav'
%header.page-header
  .obj_actions
    .return_to
      =_("Return to:")
      = link_to _("Cloud Providers"), edit_provider_path(@provider, :details_tab => 'accounts')
    .button-group
      = link_to _("Edit"), edit_provider_provider_account_path(@provider, @provider_account), :class => "button", :title => _("Edit Provider Account")
      = link_to _("Test Connection"), provider_provider_account_path(@provider, @provider_account, :test_account => true), :class => 'button'
      = link_to _("Delete Account"), provider_provider_account_path(@provider, @provider_account), :method => 'delete', :confirm => _("Are you sure you want to delete?"), :class => 'button danger'
  %h1.provider_accounts= @title

%section.content-section
  %header
    %h2=_("Properties")

  .content
    = render :partial => 'properties'

%section.content-section.realm
  %header
    %h2= _("Realms")

  .content
    = render :partial => 'provider_realms/list'

- if check_privilege(Privilege::PERM_VIEW,@permission_object)
  %section.content-section
    %header
      %h2.roles= _("Role Assignments")
    .content
      = render :partial => 'permissions/permissions'
