.dcloud_form
  = error_messages_for @parent_type
  = error_messages_for 'quota'
  %h2
    Edit Quota for #{@parent_type + ": " + @name}
  %br/
  - form_tag :action => 'update' do
    = hidden_field_tag 'id', @parent.id
    = hidden_field_tag 'parent_type', @parent_type
    %ul
      %li
        %label Max Running Instances
        = text_field :quota, :maximum_running_instances
      %li
        %label Max Total Instances
        = text_field :quota, :maximum_total_instances
    = submit_tag "Save", :class => "submit"
