<% if !@quota %>
<h1>There is no Quota on this <%= @parent_type %></h1>
<% else %>
    <table>
      <thead>
        <tr>
          <th scope="col">Resource</th>
          <th scope="col">Max Capacity</th>
          <th scope="col">Used</th>
          <th scope="col">Available</th>
        </tr>
      </thead>
      <tbody>
        <% quota_resources = @quota.quota_resources
           quota_resources.each_value do |quota_resource| %>
        <tr>
          <td><%= quota_resource.name + " " + quota_resource.unit%></td>
          <td><%= quota_resource.max %></td>
          <td><%= quota_resource.used %></td>
          <td><%= quota_resource.available %></td>
      </tr>
      <% end %>
    </tbody>
  </table>
  <%= link_to "Edit", {:action => "edit", :id => @parent, :parent_type => @parent_type}, :class=>"actionlink"%>
  <%= link_to "Reset", {:action => "reset", :id => @parent, :parent_type => @parent_type}, :class=>"actionlink"%>
<% end %>