.grid_13
  %h2 Deployments for #{@deployable.name}

  - unless @deployments.empty?
    - form_tag do
      %table#deployments_table
        = sortable_table_header @header_deployments
        - @deployments.each do |deployment|
          %tr
            %td
              - selected = @url_params[:select] == 'all'
              %input{:name => "deployments_selected[]", :type => "checkbox", :value => deployment.id, :id => "deployment_checkbox_#{deployment.id}", :checked => selected }
              = link_to deployment.name, deployment_path(deployment)
            %td
              = deployment.deployable.name
            %td
              = deployment.owner.login
            %td
              = deployment.created_at.strftime("%d-%b-%Y %H:%M:%S")
            %td
              TODO
            %td
              = deployment.pool.name
  - else
    No Deployments for #{@deployable.name}
