- if @deployable.errors.any?
  = render 'layouts/error_messages', :object => @deployable
%fieldset
  - if params[:edit_xml]
    = hidden_field_tag :edit_xml, true
    %p
      %h2= t('.deployable_xml')
      = form.text_area :xml, :class => 'edit_xml'
  - else
    %p
      = label_tag :catalog_id, t('.catalog')
      %span.text_instead_input= @catalog.name
    %p
      = form.label :name, t('deployables.index.name')
      = form.text_field :name, :class => 'long'
    %p
      = form.label :description, t('.description')
      = form.text_area :description, :class => 'long'
    %p
      = form.label :xml, t('.deployable_xml')
      %span.text_instead_input= link_to t("deployables.properties.edit_deployable_xml"), edit_catalog_deployable_path(@catalog.id, @deployable.id, :edit_xml=>true)

%fieldset.align-center
  = link_to t('cancel'), catalog_path(@catalog), :class => 'button danger'
  = submit_tag t('save'), :name => 'save', :class => 'button', :id => 'save_button'
