- if @deployable.errors.any?
  = render 'layouts/error_messages', :object => @deployable
%fieldset
  - if params[:edit_xml]
    = hidden_field_tag :edit_xml, true
    .field
      = form.label :xml
      = form.text_area :xml, :class => 'edit_xml'
  - else
    .field
      = label_tag :catalog_id, _("Catalog")
      .input
        %span.text_instead_input
          - if @catalog.present?
            =@catalog.name
          - else
            %em=_("no Catalog selected")
    .field
      = form.label :name, :class => 'em'
      .input
        = form.text_field :name, :class => 'em long'
    .field
      = form.label :description
      .input
        = form.text_area :description, :class => 'long'
    .field
      = form.label :xml
      .input
        %span.text_instead_input= link_to _("Edit Deployable XML"), edit_polymorphic_path([@catalog, @deployable], :edit_xml=>true)

%fieldset.options
  = submit_tag _("Save"), :name => 'save', :class => 'button primary', :id => 'save_button'
  = link_to _("Cancel"), polymorphic_path([@catalog, @deployable]), :class => 'button danger'
