= form_for @deployable, :url => catalog_deployables_path(@catalog), :html => {:class => 'generic', :multipart => true } do |form|
  - if @deployable.errors.any?
    = render 'layouts/error_messages', :object => @deployable
  %fieldset
    %p
      = form.label :catalog_id, t('catalog_entries.form.catalog')
      %span.text_instead_input= @catalog.name
      .clear
  %fieldset
    %p
      = form.label :name, t('catalog_entries.index.name')
      = form.text_field :name, :class => 'em long'
    %p
      = form.label :description, t('catalog_entries.form.description')
      = form.text_area :description, :class => 'long'
  %fieldset
    %p
      = label_tag :url, t('catalog_entries.form.deployable_xml_url')
      = text_field_tag :url
    %p
      = check_box_tag(:edit_xml, true, false)
      = label_tag :edit_xml, t('catalog_entries.form.edit_xml_after_save')

  %fieldset.align-center
    = link_to t('cancel'), catalog_path(@catalog), :class => 'button danger'
    = submit_tag t('save'), :name => 'save', :class => 'button primary', :id => 'save_button'
