= form_for @deployable, :url => polymorphic_path([@catalog, Deployable]), :html => {:class => 'generic', :multipart => true } do |form|
  - if @deployable.errors.any?
    = render 'layouts/error_messages', :object => @deployable
  %fieldset
    = hidden_field_tag('form_option', @form_option)
    %p.clearfix
      = form.label :catalog_id, t('deployables.form.catalog')
      %span.text_instead_input
        - if @catalog.present?
          =@catalog.name
        - else
          %em=t('deployables.new.no_catalog_selected')
    %p.clearfix
      = form.label :name, t('deployables.index.name')
      = form.text_field :name, :class => 'em long'
    %p.clearfix
      = form.label :description, t('deployables.form.description')
      = form.text_area :description, :class => 'long'
    %p.clearfix
      = label_tag :url, t('deployables.form.deployable_xml_url')
      = text_field_tag :url, nil, :class => 'long'
    %p.clearfix
      = label_tag :edit_xml, t('deployables.form.edit_xml_after_save')
      = check_box_tag(:edit_xml, true, false)

  %fieldset.align-center
    -if @catalog.present?
      = link_to t('cancel'), catalog_path(@catalog), :class => 'button danger'
    -else
      = link_to t('cancel'), deployables_path, :class => 'button danger'
    = submit_tag t('save'), :name => 'save', :class => 'button primary', :id => 'save_button'
