= form_for @deployable, :url => polymorphic_path([@catalog, Deployable]), :html => {:class => 'generic horizontal', :multipart => true } do |form|
  - if @deployable.errors.any?
    = render 'layouts/error_messages', :object => @deployable
  %fieldset
    = hidden_field_tag('form_option', @form_option)
    .field
      = form.label :catalog_id, t('deployables.form.catalog')
      .input
        %span.text_instead_input
          - if @catalog.present?
            =@catalog.name
          - else
            %em=t('deployables.new.no_catalog_selected')
    .field
      = form.label :name, :class => 'em'
      .input
        = form.text_field :name, :class => 'em long'
    .field
      = form.label :description
      .input
        = form.text_area :description, :class => 'long'
    .field
      = label_tag :url, t('deployables.form.deployable_xml_url')
      .input
        = text_field_tag :url, nil, :class => 'long'
    .field
      = label_tag :edit_xml, t('deployables.form.edit_xml_after_save'), :class => 'checkbox'
      .input
        = check_box_tag(:edit_xml, true, false)

  %fieldset.options
    -if @catalog.present?
      = link_to t('cancel'), catalog_path(@catalog), :class => 'button danger'
    -else
      = link_to t('cancel'), deployables_path, :class => 'button danger'
    = submit_tag t('save'), :name => 'save', :class => 'button primary', :id => 'save_button'
