%table.light_table
  %tbody
    %tr
      %td
        %strong="#{_("Image UUID")}"
      %td
        ="#{(uuid_arr[0].nil? ? _("N/A") : uuid_arr[0])}"
    %tr
      %td
        %strong="#{_("Latest Build UUID")}"
      %td
        ="#{(uuid_arr[1].nil? ? _("N/A") : uuid_arr[1])}"
    %tr
      %td
        %strong="#{_("Target Images UUIDs")}"
      %td
        - if uuid_arr[2].nil?
          =_("N/A")
        - else
          %ul
            - uuid_arr[2].each do |image_uuid|
              %li
                =image_uuid
