%table.light_table
  %tbody
    %tr
      %td
        %strong="#{t("deployables.show.image_uuid")}"
      %td
        ="#{(uuid_arr[0].nil? ? t('deployables.show.n_a') : uuid_arr[0])}"
    %tr
      %td
        %strong="#{t("deployables.show.latest_build_uuid")}"
      %td
        ="#{(uuid_arr[1].nil? ? t("deployables.show.n_a") : uuid_arr[1])}"
    %tr
      %td
        %strong="#{t("deployables.show.target_images_uuids")}"
      %td
        - if uuid_arr[2].nil?
          =t'deployables.show.n_a'
        - else
          %ul
            - uuid_arr[2].each do |image_uuid|
              %li
                =image_uuid
