%section.content-section
  %header
    %h2=_("Deployables List")

  .content
    - content_for :form_header do
      %li= restful_submit_tag _("Delete"), "destroy", polymorphic_path([@catalog, Deployable], :action => 'multi_destroy'), 'DELETE', :id => 'delete_button', :class => 'button danger'

    - content_for :filter_controls do
      %li
        = label_tag :catalog_entries_preset_filter, _("Viewing")
        = hidden_field_tag :current_path, request.fullpath
        = select_tag(:catalog_entries_preset_filter, preset_filters_options_for_select(Deployable::PRESET_FILTERS_OPTIONS, params[:catalog_entries_preset_filter]), :include_blank => _("All Deployables"), :disabled => true)
        = restful_submit_tag _("Apply filters"), "filter", polymorphic_path([@catalog, Deployable], :action => 'filter'), 'POST', :class => 'button', :id => 'apply_catalog_entries_preset_filter'
        %span.label.badge.dark= @deployables.count
      %li.table-search-filter
        = text_field_tag :catalog_entries_search, params[:catalog_entries_search], :placeholder => _("Search")
        = restful_submit_tag "", "search", polymorphic_path([@catalog, Deployable], :action => 'filter'), 'POST', :class => 'button', :id => 'apply_catalog_entries_search'

      :javascript
        $(document).ready(function(){
          $("#apply_catalog_entries_preset_filter").hide();
          $("#catalog_entries_preset_filter").change(function() {
            $("#apply_catalog_entries_preset_filter").click();
          });
          Conductor.clickOnEnterKeypress($('#catalog_entries_search'), $('#apply_catalog_entries_search'));
        });

    = filter_table(@header, @deployables) do |deployable|
      %tr{:class => cycle('nostripe','stripe')}
        %td{:class => 'checkbox'}
          - selected = params[:select] == 'all'
          = check_box_tag "deployables_selected[]", deployable.id, selected, :id => "deployable_checkbox_#{deployable.id}"
        %td
          = link_to deployable.name, polymorphic_path([@catalog, deployable])
        %td
          = link_to(@catalog.name, @catalog) if @catalog.present?
        %td
          = link_to deployable.xml_filename, polymorphic_path([@catalog, deployable])
