%header.page-header
  %h1.no-icon= @deployable.name.blank? ? "&nbsp;".html_safe : _('%s') % @deployable.name

%section.content-section
  .content
    = form_for @deployable, :html => {:class => 'generic horizontal'} do |form|
      = hidden_field_tag :create_from_image, params[:create_from_image]
      - if @deployable.errors.any?
        = render 'layouts/error_messages', :object => @deployable
      .lefted.new-catalog-entry-from-image
        %h2= _('Logs')
        %p= _('Description') % @image.name
        %fieldset
          .field
            = form.label :name, :class => 'em'
            .input
              = form.text_field :name, :class => 'em'
          .field
            = form.label :hardware_profile, _('Default Hardware Profile')
            .input
              = select_tag :hardware_profile, options_from_collection_for_select(@hw_profiles, :id, :name, params[:hardware_profile])
          .field
            = form.label :catalog_id, _('Catalog')
            .input
              %span.text_instead_input#checked_catalogs_list{ "data-none" => _('None'), "data-multiple" => _('Multiple') }
                = @selected_catalogs.empty? ? _('None') : @selected_catalogs.count > 1 ? _('Multiple') : @selected_catalogs.first.name
              %span.catalog_link
                &nbsp
                %div.catalog_list
                  %ul.more
                    - if @catalogs.empty?
                      = _('No Catalog')
                    - else
                      - @catalogs.each do |catalog|
                        %li.catalog
                          .catalog_with_checkbox
                            = check_box_tag 'catalog_id[]', catalog.id, @selected_catalogs.any?{|c| c.id == catalog.id}
                            = catalog.name

      %fieldset.options.align-center
        = submit_tag "#{_('Save')}", :name => 'save', :class => 'button primary', :id => 'save_button', :disabled => @save_disabled
        = link_to _('Cancel'), catalogs_path, :class => 'button danger'

:javascript
  function listChecked() {
    var $checked_catalogs_list = $("#checked_catalogs_list");
    $checked_catalogs_list.text(function(){
      var str = [];
      $(".catalog_list input:checked").each(function(){
        str.push($(this).parent().text());
      });
      if (str.length > 1){
        return $checked_catalogs_list.data('multiple');
      }else if (str.length == 0){
        return $checked_catalogs_list.data('none');
      }else{
        return str.join(', ');
      }
    });
  }
  listChecked();
  $(".catalog_list :checkbox").click(listChecked);
