%header.admin-page-header
  %h1.deployables= t('.catalog_entry_name', :name => @catalog_entry.deployable.name)

%section.admin-content-section
  .content.buildpush
    = form_for @catalog_entry, :html => {:class => 'generic'} do |form|
      = hidden_field_tag :create_from_image, params[:create_from_image]
      - if @catalog_entry.errors.any?
        = render 'layouts/error_messages', :object => @catalog_entry
      .lefted.new-catalog-entry-from-image
        %h2= t('.title')
        %p= t('.description', :name => @image.name)
        %fieldset
          %div
            = form.label :name, t('catalog_entries.new.hw_profile')
            = select_tag :hardware_profile, options_from_collection_for_select(@hw_profiles, :id, :name, params[:hardware_profile])
            .clear
          %div
            = form.label :catalog_id, t('catalog_entries.form.catalog')
            = form.select :catalog_id, @catalogs.collect{|c| [c.name, c.id]}
            %span.text_instead_input= "Catalog1"
            %span.catalog_link
              &nbsp
              %div.catalog_list
                %ul.more
                  - @catalogs.each do |catalog|
                    %li.catalog
                      .catalog_with_checkbox
                        = check_box_tag :catalog_ids
                        = catalog.name
                        .clear
            .clear
      .centered
        %fieldset.align-center
          = link_to "#{t'catalog_entries.form.cancel'}", catalogs_path, :class => 'button danger'
          = submit_tag "#{t'catalog_entries.form.save'}", :name => 'save', :class => 'button primary', :id => 'save_button'

:javascript
    $(document).ready(function(){
    });
