%header.page-header
  %h1.catalog_entries=_("Add New Deployable")

%section.content-section
  %header
    %nav#image-upload-tabs.faceted
      %ul.tabs
        %li
          = link_to _("Upload"), new_polymorphic_path([@catalog, Deployable]), :id => "upload", :class => "#{'active' if @form_option == 'upload'}"
        %li
          = link_to _("From URL"), new_polymorphic_path([@catalog, Deployable], :from_url => true), :id => "from_url", :class => "#{'active' if @form_option == 'from_url'}"

  .content
    .form_option
      = render :partial => @form_option

:javascript
  $(document).ready(function() {
    $("a#upload").click(function(ev){
      var entry_name = read_name_field();
      var entry_description = read_description_field();
      var $clicked_element = $(this)
      ev.preventDefault();
      $.get('#{new_polymorphic_url([@catalog, Deployable])}', function(data){
        change_selected($clicked_element, $('a#from_url'));
        $('.form_option').empty();
        $('.form_option').html(data).show();
        $('input#catalog_entry_name').val(entry_name);
        $('textarea#catalog_entry_description').val(entry_description);
      });
    });
    $("a#from_url").click(function(ev){
      var entry_name = read_name_field();
      var entry_description = read_description_field();
      var $clicked_element = $(this)
      ev.preventDefault();
      $.get('#{new_polymorphic_url([@catalog, Deployable], :from_url => true)}', function(data){
        change_selected($clicked_element, $("a#upload"));
        $('.form_option').empty();
        $('.form_option').html(data).show();
        $('input#catalog_entry_name').val(entry_name);
        $('textarea#catalog_entry_description').val(entry_description);
      });
    });
  });

  function change_selected($add_selected, $remove_selected){
    $remove_selected.removeClass('active');
    $add_selected.addClass('active');
  }

  function read_name_field() {
    if ($('input#catalog_entry_name').val()) {
      return $('input#catalog_entry_name').val();
    }
  }

  function read_description_field() {
    if ($('textarea#catalog_entry_description').val()) {
        return $('textarea#catalog_entry_description').val();
    }
  }
