= form_for @deployable, :url => polymorphic_path([@catalog, Deployable]), :html => {:class => 'generic horizontal', :multipart => true } do |form|
  - if @deployable.errors.any?
    = render 'layouts/error_messages', :object => @deployable
  %fieldset
    = hidden_field_tag('form_option', @form_option)
    .field
      = label_tag :catalog_id, _("Catalog")
      .input
        %span.text_instead_input
          -if @catalog.present?
            =@catalog.name
          - else
            %em=_("no Catalog selected")
    .field
      = form.label :name, :class => 'em'
      .input
        = form.text_field :name, :class => 'em long'
    .field
      = form.label :description
      .input
        = form.text_area :description, :class => 'long'
    .field
      = form.label :xml, _("Choose Deployable XML file")
      .input
        = form.file_field :xml
    .field
      = label_tag :edit_xml, _("Edit XML file after save"), :class => 'checkbox'
      .input
        = check_box_tag(:edit_xml, true, false)

  %fieldset.options
    = submit_tag _("Save"), :name => 'save', :class => 'button primary', :id => 'save_button'
    -if @catalog.present?
      = link_to _("Cancel"), catalog_path(@catalog), :class => 'button danger'
    -else
      = link_to _("Cancel"), deployables_path, :class => 'button danger'
