= render :partial => 'layouts/admin_nav'
%header.admin-page-header
  %h1{:class => controller.controller_name}= @deployable.name
  #obj_actions.button-container
    .button-group
      = button_to t('catalog_entries.show.delete'), catalog_deployable_path(@catalog, @deployable), :method => 'delete', :confirm => "#{t'catalog_entries.show.confirm_delete'}", :class => 'button danger', :id => 'delete'
      = link_to t('catalog_entries.show.edit'), edit_catalog_deployable_path(@catalog, @deployable), :class => 'button', :id => 'edit_button'

    = link_to t('deployments.overview.launch'), launch_new_deployments_path(:deployable_id => @deployable.id, :pool_id => @catalog.pool), :id => :launch_deployment

%section.admin-content-section.deployable
  %section.image
    %header
      %h2= t('.image')
      %table
        %thead
          %tr
            %th=t'.name'
            %th=t'.hwp_profile'
            %th=t'.hdd'
            %th=t'.ram'
            %th=t'.arch'
        %tbody
        - @image_details.each do |assembly|
          %tr
            - if assembly.has_key?(:name)
              %td=assembly[:name]
            -else
              %td=assembly[:error_name]
            -if assembly.has_key?(:hwp)
              %td=assembly[:hwp][:name]
              %td=assembly[:hwp][:hdd]
              %td=assembly[:hwp][:ram]
              %td=assembly[:hwp][:arch]
            -else
              %td Not exist in DB

  %section.build
    %header
      %h2= t('.build')

      - if @missing_images.empty?
        = form_tag(catalog_deployable_build_path(@catalog, @deployable)) do
          = select_tag :build_options, options_for_select([[t(".build_missing"), :build_missing], [t(".push_missing"), :push_missing]])
          = submit_tag t('.start'), :id => :start_build

        %p.description= t('.build_description')

        %ul#providers-list
          - @build_results.each do |provider_type, results|
            %li
              = provider_type
              %ul
                - results.each do |result|
                  %li
                    %span.provider= result[:provider]
                    %span.account= result[:account]
                    %span.status= result[:status]
      - else
        %h3= t('.missing_images')
        %ul#missing-images-list
          - @missing_images.each do |uuid|
            %li= uuid


  %section.catalogs
    %header
      %h2= t('.catalogs')

      %p= t('.choose_catalog')
      = form_for(:catalog_entry, :url => catalog_entries_path) do |f|
        = f.select :catalog_id, options_for_select(@catalogs_options)
        = f.hidden_field(:deployable_id, :value => @deployable.id)
        = f.submit t('catalog_entries.show.add_catalog'), :id => :add_catalog

      %table
        %tr
          %th
            %label= t('.catalog_name')
          %th
            %label= t('.environment')
        - @deployable.catalog_entries.each do |catalog_entry|
          %tr
            %td
              = button_to t('catalog_entries.show.delete'), catalog_entry_path(catalog_entry), :method => 'delete', :confirm => "#{t'catalog_entries.show.confirm_delete'}", :id => 'delete'
              = catalog_entry.catalog.name
            %td= catalog_entry.catalog.pool.pool_family.name

  - if check_privilege(Privilege::PERM_VIEW,@permission_object)
    %section.roles
      %header
        %h2= t('users.users')
      = render :partial => 'permissions/permissions'
