= render :partial => 'layouts/admin_nav'
%header.admin-page-header
  %h1{:class => controller.controller_name}= @catalog_entry.deployable.name
  #obj_actions.button-container
    .button-group
      = button_to t('catalog_entries.show.delete'), catalog_deployable_path(@catalog_entry.catalog, @catalog_entry), :method => 'delete', :confirm => "#{t'catalog_entries.show.confirm_delete'}", :class => 'button danger', :id => 'delete'
      = link_to t('catalog_entries.show.edit'), edit_catalog_deployable_path(@catalog_entry.catalog, @catalog_entry), :class => 'button', :id => 'edit_button'

    = link_to t('deployments.overview.launch'), launch_new_deployments_path(:deployable_id => @catalog_entry.deployable.id, :pool_id => @catalog_entry.catalog.pool), :id => :launch_deployment

%section.admin-content-section.deployable
  %section.image
    %header
      %h2= t('.image')
      %pre= @catalog_entry.deployable.xml


  %section.build
    %header
      %h2= t('.build')

      = form_tag() do
        = select_tag :build_option, options_for_select([[t("rebuild_all"), 1]])
        = submit_tag t('.start'), :id => :start_build

      %p.description= t('.build_description')

      %ul#providers-list
        - @providers.each do |provider|
          %li
            %span.provider= provider.name
            %span.status Building 98%
            -#= form_tag()
            -#  %button on/off


  %section.catalogs
    %header
      %h2= t('.catalogs')

      %p= t('.choose_catalog')
      = form_for(:catalog_entry, :url => catalog_entries_path) do |f|
        = f.select :catalog_id, options_for_select(@catalogs_options)
        = f.hidden_field(:deployable_id, :value => @catalog_entry.deployable.id)
        = f.submit t('catalog_entries.show.add_catalog'), :id => :add_catalog

      %table
        %tr
          %th
            %label= t('.catalog_name')
          %th
            %label= t('.environment')
        - @catalog_entry.deployable.catalog_entries.each do |catalog_entry|
          %tr
            %td
              = button_to t('catalog_entries.show.delete'), catalog_entry_path(@catalog_entry), :method => 'delete', :confirm => "#{t'catalog_entries.show.confirm_delete'}", :id => 'delete'
              = catalog_entry.catalog.name
            %td= catalog_entry.catalog.pool.pool_family.name

  - if check_privilege(Privilege::PERM_VIEW,@permission_object)
    %section.roles
      %header
        %h2= t('users.users')
      = render :partial => 'permissions/permissions'
